#sp-main-menu {
  background-color: #353a4a;
}

#sp-header {
  background: #ffffff;
  /*padding: 13px 0 !important;*/
}

.sp-megamenu-parent>li>a {
  line-height: 35px !important;
  color: #fff !important;
}

#sp-top-bar {
  border-top: 1px solid #ededed !important;
  background-color: #fff !important;
  border-bottom: 1px solid #ededed !important;
}

.news365-top-search form input {
  background-color: #9a9a9a;
}

.news365-top-search form::after {
  font-size: 20px !important;
  background-color: #c2c2c2;
  padding: 0px 6px 7px 5px;
  max-height: 99%;
}

.sp-page-builder .page-content #section-id-1482132242 {
  padding: 0px !important;
}

.sppb-row-container {
  width: 100% !important;
}

.searchbutton {
  margin-left: 40px;
}

.introductionSignin {}

IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto
}

@media only screen and (max-width: 1400px) {
  .news365-top-search .searchnews365-top-search {
    min-width: 310px !important;
  }
}

.sp-page-builder .page-content #section-id-1482132242 {
  padding: 0px 0 0px !important;
}

.sppb-carousel-indicators li {
  border: 1px solid #000 !important;
}

.sppb-carousel-indicators .active {
  background-color: #000 !important;
}

#sp-top-bar {
  color: #fff;
  line-height: 30px !important;
}

.fa-home::before {
  content: "\f015";
  color: #000;
  font-size: 18px;
}

.breadcrumb>li+li::before {
  content: ">\00a0" !important;
  padding: 0px 7px !important;
  color: #ccc;
  font-size: 17px;
}

.sp-page-builder .page-content #section-id-1507777478392 {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px !important;
}

.breadcrumb {
  background-color: #fff !important;
  padding: 8px 0px !important;
}

.sp-megamenu-parent>li.sp-has-child>a::after {
  font-family: "FontAwesome";
  content: unset !important;
}

#offcanvas-toggler>i {
  color: #fff !important;
}

/*michael*/

section#sp-main-menu.menuClass {
  width: 100% !important;
}

.sp-megamenu-parent>li {
  margin-right: 80px !important;
  /*60px*/
}

.sp-megamenu-parent>li:first-child {
  margin-right: 5px !important;
  margin-left: 5px;
}

.sp-megamenu-parent>li>a {
  font-weight: 700 !important;
}

div#sp-menu .fa-home::before {
  color: #fff !important;
  padding-right: 18px;
  padding-left: 8px;
}

ul.nav.menu_directory {
  float: right;
}

ul.nav.menu_directory li a {
  line-height: 35px !important;
  color: #fff !important;
  list-style: none;
  font-weight: bold;
}

ul.nav.menu_directory li a::before {
  display: none;
}

/*#sppb-addon-1508426256989 {
    padding: 12px 0px 0px 360px !important;
}
*/

div.sp-module.top-login {
  margin-top: 6px;
}

@media only screen and (max-width: 768px) {
  #sp-top1, #sp-top2 {
    text-align: left !important;
  }
  .breadcrumb {
    padding: 0px !important;
    margin-bottom: 0px !important;
  }
}

.creativesocialwidget_item_wrapper {
  width: 40px !important;
}

.submitissue {
  background-image: url(../../../images/submittissue.png);
  width: 260 px;
  height: 162px;
}

.sp-signin {
  color: #fff !important;
}

#sp-menu-right>div .sp-module {
  margin-top: 0 !important;
  padding: 6px 0 !important;
}

#sp-menu-right>div {
  display: table;
  height: auto !important;
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 0 !important;
}

section#section-id-1482132242.sppb-section.artilces-headline-wrapper {
  height: 410px !important;
  overflow: hidden;
}

.sp-page-builder .page-content #section-id-1507577997874 {
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 20px 0px !important;
}

.sp-page-builder .page-content #section-id-1482132251 {
  padding: 70px 0 !important;
}

div.creativesocialwidget_wrapper.creativesocialwidget_wrapper_template_0.creativesocialwidget_wrapper_aligned_center.creativesocialwidget_hover_zoom.creativesocialwidget_wrapper_animate {
  float: right;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  >.col, >[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

section#sp-section-8.container-fluid {
  border-top: solid 1px #eee;
}

div#ssw_main_wrapper.creativesocialwidget_normal_view {
  margin-top: 30px;
}

#sp-footer {
  padding: 7px 0 !important;
  background-color: #353a4a !important;
}

div.sppb-addon.sppb-addon-module.introductionSignin p {
  line-height: 16px;
}

a#btn-978323406761.sppb-btn.sppb-btn-primary.sppb-btn-lg.sppb-btn-rounded {
  line-height: 28px !important;
  padding: 0 18px !important;
}

div.sppb-addon.sppb-addon-header.sppb-text-center a {
  color: #fff;
}

.icon-notification-circle {
  color: #27d682;
}

.ksearch {
  border-bottom: 1px solid #cfcfcf;
}

.sp-page-title {
  padding: 10px 0 0 !important;
}

#sp-main-body {
  padding: 0px 0 0px !important;
}

button.btn.btn-default {
  background-color: #353a4a !important;
  border-color: #353a4a !important;
  color: #fff;
}

#sppb-addon-1507604606801 {
  background-color: rgba(246, 247, 249, 1);
  border-width: 1px;
  border-color: #e1e4e8;
  border-style: solid;
  border-radius: 3px 3px 0 0 !important;
  margin: 20px 0 20px 0px !important;
  padding: 10px 0 10px 10px !important;
  width: 101%;
}

span.topicCategory {
  background: green;
  padding: 4px;
  color: #fff;
}

span.topicCategory a {
  color: #fff;
}

.layout#kunena .category-purple:nth-child(2n+1) {
  /*background-color: #b78ecc;*/
}

.layout#kunena .category-purple:nth-child(even) {
  /*background-color: #9c50c1;*/
}

.itemView .itemHeader h2.itemTitle {
  color: #000;
  font-size: 35px;
  line-height: 1.2;
  padding-top: 0;
  display: table;
  width: 100%;
  padding-bottom: 28px;
}

.profile-horizontal-bottom {
  display: none;
}

.fa-folder-open::before, .fa.brown.fa-big::before {
  content: "\f07c";
}

.fa.orange.fa-big::before {
  content: "\f07c";
  color: orange;
}

.fa.red.fa-big::before {
  content: "\f07c";
  color: red;
}

div#kunena.layout {
  padding-top: 20px !important;
}

div.alert.alert-info.kfrontend {
  display: none;
}

#kunena.layout .message {
  margin: 0 !important;
}

#kunena.layout .horizontal-message {
  border: none !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin: 0 !important;
  min-height: 140px;
  margin-bottom: 20px;
  border-radius: 4px;
}

#kunena h1 {
  margin-top: 0 !important;
}

textarea#kbbcode-message.span12.markItUpEditor {
  height: 275px !important;
}

.btn, .sppb-btn {
  padding: 0 18px !important;
}

#k2Container {
  padding: 20px 0 24px 0 !important;
}

div#sp-right.col-sm-3.col-md-3 {
  padding: 20px 0;
}

#kunena.layout .badger-info::after {
  background: rgba(229, 229, 229, 0.4);
  display: none;
}

#kunena.layout .horizontal-message .kmessage {
  padding: 2px 2px 10px;
}

#kunena.layout h1 {
  font-size: 22px;
  line-height: 24px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 15px;
}

#kunena.layout .horizontal-message {
  box-shadow: none !important;
}

#kunena.layout .kmsg {
  margin: 0 !important;
}

div.issueLinks, div.issueDocs {
  border: solid 1px #ededed;
  border-radius: 4px;
}

div.issueLinks h2, div.issueDocs h2 {
  border-bottom: solid 1px #ededed;
  padding: 7px 12px !important;
}

.issueLinks ul, .issueDocs ul {
  margin-left: 14px;
  padding-bottom: 12px;
}

div.issueLinks ul li, div.issueDocs ul li {
  padding-bottom: 4px;
}

div.sp-signin.logged-in a, div.signin-img-wrap {
  color: #fff;
}

.sp-page-title h1 {
  font-size: 30px !important;
}

@media only screen and (max-width: 768px) {
  #offcanvas-toggler {
    line-height: 40px !important;
    margin-left: 0px !important;
  }
  span.sp-login {
    float: right;
  }
  #sp-header {
    padding: 10px !important;
  }
  section#section-id-1482132242.sppb-section.artilces-headline-wrapper {
    height: auto !important;
  }
}

@media only screen and (max-width: 480px) {
  .news365-top-search .searchnews365-top-search {
    max-width: 378px !important;
  }
  div#kunena.layout {
    padding-top: 20px !important;
    padding-right: 0 !important;
  }
  h1 {
    font-size: 15px !important;
    line-height: 18px !important;
  }
  div.creativesocialwidget_wrapper.creativesocialwidget_wrapper_template_0.creativesocialwidget_wrapper_aligned_center.creativesocialwidget_hover_zoom.creativesocialwidget_wrapper_animate {
    float: none;
  }
}

div.kfrontend {
  margin-top: 15px;
}

#kunena.layout .horizontal-message {
  border-bottom: 1px solid #ededed !important;
}

#kunena.layout h2 {
  font-size: 20px;
  padding-top: 0;
  margin-top: 0px;
}

a.bbcode_url {
  color: #2196f3;
}

#sp-right .sp-module-title, #sp-left .sp-module-title {
  margin-bottom: 10px !important;
}

.view-itemlist .sp-module .sp-module-title {
  margin-bottom: 15px !important;
}

div.sppb-addon.sppb-addon-module.right_Sidebar {
  border: solid 1px #cecece;
  padding: 0px 10px 30px;
  border-radius: 2%;
}

div.sppb-addon.sppb-addon-module.right_Sidebar h4 {
  font-size: 17px !important;
  border-bottom: solid 1px #cecece;
  padding-bottom: 10px;
  font-weight: bold;
}

div.col-md-8.pull-top {
  margin-top: 13px;
}

.back-to-category {
  float: right;
  font-weight: 700;
}

article.document header {
  clear: both;
  margin: 20px 0 40px;
  display: block;
}

article.document header .research-type {
  color: #555;
  font-size: 18px;
}

article.document header h1 {
  margin-top: 0;
  font-weight: 300;
  color: #353a4a;
  font-size: 30px;
}

article.document .document-meta {
  padding: 0;
  list-style: none;
  margin: 0 0 20px;
  margin-left: -15px;
  margin-right: -15px;
}

article.document .document-meta li:nth-child(3n+1) {
  clear: left;
}

article.document .document-meta li {
  float: left;
  width: 33.3333333333%;
}

article.document .document-meta li {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.document h4 {
  font-size: 20px !important;
}

section#sp-blog-bottom.container-fluid {
  margin: 0 0px 20px;
}

/*publications*/

div.item-view-head {
  padding-bottom: 10px;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 10px;
}

div.item-summary-view-metadata h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 26px;
}

div.skip-to-downloads {
  margin: 1em 0;
}

div.simple-item-view-authors {
  font-size: 123.1%;
  font-weight: bold;
  text-align: justify;
}

div.skip-to-downloads a {
  background: #993333 no-repeat 10px;
  color: white !important;
  font-weight: bold;
  padding: 10px;
  padding-left: 35px;
}

div.simple-item-view-authors span {
  text-align: justify;
}

.bold {
  font-weight: 700;
}

.fb-page {
  background: #c7c7c7;
  padding: 0px;
  border: solid 1px #c7c7c7;
  /* -webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.30); */
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none;
}

#kunena.layout .fa-big, #kunena.layout .icon-big {
  margin-top: 5px !important;
  margin-left: 5px;
  font-size: 32px;
}

#kunena.layout .category-blue:nth-child(even) i.fa.fa-big.fa-folder-open {
  color: #c3f0ff;
}

#kunena.layout .category-blue:nth-child(even) {
  background: none !important;
}

.layout#kunena .category-purple:nth-child(even) {
  background: none !important;
}

#kunena.layout .category-purple:nth-child(even) i.fa.fa-big.fa-folder-open {
  color: #9c50c1;
}

div.ibox.float-e-margins h4 {
  font-family: Open Sans, sans-serif;
  font-size: 22px;
  font-weight: 300italic;
}

/* .issueLinks li a {
  /* text-transform: capitalize;
} */

.issueLinks ul li:first-letter {
  font-size: 200%;
  color: #8A2BE2;
}

.cnRte p {
  font-size: 16px;
  color: #3e4757;
  line-height: 22px;
  margin: 0 !important;
}

.sp-page-builder .page-content #section-id-1509872180364 {
  margin: 0px 0px 0px 0px;
  padding: 0px !important;
}

div#kmsg.kmsg #msg-quote.kmsgtext-quote {
  display: none;
}

#kunena.layout .kmessagepadding {
  padding-top: 20px;
}

.btn-group.btn-default, .btn.btn-default {
  background-color: #c2c2c2 !important;
  margin-right: 10px;
}

.btn.btn-primary.dropdown-toggle span.caret {
  color: #fff;
}

input#ksearch-keywords.ks.kinput {
  width: 354px !important;
}

div.SobiPro.b3-default3 .pagination>ul>li>a, div.SobiPro.b3-default3 .pagination>li>a {
  color: #353a4a !important;
  background-color: #595959;
  font-weight: bold;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  >.col, >[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

div.spClassPostcode.postcode {
  padding-right: 5px;
}

.address, .city, .country, .postcode, .street {
  font-size: 100% !important;
  font-weight: 400;
}

.SobiPro.b3-default3 .spLabel {
  font-weight: normal !important;
}

div.spClassViewUrl {}

a.spClassUrl.field_website {
  color: red;
}

a.spClassUrl.field_website::before {
  content: "\f0c1";
  vertical-align: -10%;
  font-size: 1.33333333em;
  font-family: FontAwesome;
  font-style: normal;
  speak: none;
  color: inherit;
  padding-right: 5px;
}

div.spClassViewOrgPhone span.spLabel::before, div.spClassViewOrgPhone2 span.spLabel::before, div.spClassViewOrgPhone3 span.spLabel::before {
  content: "\f098";
  vertical-align: -10%;
  font-size: 1.33333333em;
  font-family: FontAwesome;
  font-style: normal;
  speak: none;
  color: inherit;
  padding-right: 5px;
}

@media (min-width: 992px) {
  .modal-lg {
    width: 1000px !important;
  }
}

#kunena.layout .modal-body, #kunena.layout .modal {
  overflow-y: auto;
  max-height: 100% !important;
}

.cat_Desc {
  border-radius: 1px;
  border: solid 1px #e2dfdf;
  display: inline-block;
  padding: 13px;
  width: 100%;
}

i.fa.fa-folder.fa-6 {
  font-size: 48px;
}

/*issues v2*/

div.item_fields {
  border: 0px solid #ddd;
  border-radius: 0px;
}

i.fa.fa-youtube-play::before {
  display: inline-block;
  vertical-align: middle;
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  width: 18px;
  height: 18px;
  line-height: 1;
  content: '\f152' !important;
}

div.issueLinks h2, div.issueDocs h2 {
  font-size: 20px;
  padding-top: 0;
  margin-top: 0;
}

div.cat_Desc h4, p {
  margin-top: 10px !important;
}

body.site.com-issues.view-issue.no-layout.no-task.itemid-278.en-gb.ltr.sticky-header.layout-fluid .sp-page-title {
  display: none;
}

div.ibox.float-e-margins {
  border: solid 1px #cecece;
  padding: 0px 10px 0px;
  border-radius: 2%;
}

div.ibox.float-e-margins h4 {
  font-size: 17px !important;
  border-bottom: solid 1px #cecece;
  padding-bottom: 10px;
  font-weight: bold;
}

body.site.com-manuals-factsheets.view-manuals.no-layout.no-task.itemid-545.en-gb.ltr.sticky-header.layout-fluid h1.title, body.site.com-research.view-publications.no-layout.no-task.itemid-703.en-gb.ltr.sticky-header.layout-fluid h1.title, h1.title {
  font-size: 26px !important;
  font-weight: 600 !important;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Open Sans, sans-serif;
}

body.site.com-research.view-publication.no-layout.no-task.itemid-703.en-gb.ltr.sticky-header.layout-fluid h1.title, body.site.com-manuals-factsheets.view-manual.no-layout.no-task.itemid-545.en-gb.ltr.sticky-header.layout-fluid h1.title {
  display: none !important;
}

.table-list-header {
  position: relative;
  margin-top: 20px;
  background-color: #f6f8fa;
  border: 1px solid #e1e4e8;
  border-radius: 3px 3px 0 0;
}

.table-list-header::before {
  display: table;
  content: "";
}

div.custom_partners p {
  padding-left: 22px;
}

ul.ltst_publications li {
  padding: 5px 0;
}

.labels {
  position: relative;
}

.v-align-text-top {
  vertical-align: text-top !important;
}

.label, .Label {
  display: inline-block;
  padding: 3px 4px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(27, 31, 35, 0.12);
  background-color: #353a49;
  color: #fff;
}

input#mod_issue_search.inputbox {
  width: 50%;
}

div.content_Desc ul {
  margin-left: 10px;
}

div.content_Desc ul li {
  list-style: inside;
}

.sp-copyright p {
  margin: 0 !important;
}

div.contact .page-header {
  display: none;
}

div.contact .content-body__h1 {
  font-size: 25px;
}

.view-article article.item .sp-social-share {
  margin-bottom: 50px;
  display: none;
}

.view-article article.item .entry-header h2 {
  color: #000;
  font-size: 26px !important;
  line-height: 1.2;
}

article.item {
  position: relative;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

div.sppb-addon.sppb-addon-module.introductionSignin.col-sm-1 img {
  margin-left: 15px;
}

div.container-fluid.introduction {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

body.site.com-fabrik.view-form.no-layout.no-task.en-gb.ltr.sticky-header.layout-fluid h1 {
  font-size: 25px !important;
}

.fabrikElement input, .fabrikElement select {
  width: 50%;
}

div.content_Desc p a {
  color: #1777c2;
}

.sppb-carousel-pro-text h2 {
  font-size: 36px;
  line-height: 36px;
  margin-top: 110px !important;
}

/*
members pagination
*/

.pagination {
  width: 100%;
  text-align: left !important;
}

.pagination-toolbar a {
  line-height: 26px;
}

.pagination ul {
  display: inline-block;
  margin-left: 0px;
  margin-bottom: 0px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul>li {
  display: inline;
}

.pagination ul>li:first-child>a, .pagination ul>li:first-child>span {
  border-left-width: 1px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination ul>li>a, .pagination ul>li>span {
  float: left;
  padding: 4px 12px;
  line-height: 18px;
  text-decoration: none;
  background-color: #FFF;
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: #DDD;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
}

.doclinks a::first-letter {
  font-size: auto;
  color: inherit;
  text-transform: uppercase !important;
}

i.fa.icon-folder.fa-big {
  font-size: 30px;
  margin-left: 45px;
  margin-top: 35px;
  vertical-align: middle;
}
