.view-login {
  background-color: #353a4a;
  padding-top: 0;
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1001px) {
  .form-horizontal input {
    min-width: 450px;
  }
}
