/**
 * @package Helix Framework
 * @template Shaper News365
 * @author JoomShaper http://www.joomshaper.com
 * @copyright Copyright (c) 2010 - 2016 JoomShaper
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or later
*/

@import 'variables';
@import 'mixins';


// Anchor
a{
	color: @major_color;
	&:hover {
		color: darken(@major_color, 10%);
	}
}

// Megamenu 
.sp-megamenu-parent {
	>li {
		&.active>a,
		&:hover>a {
			color: @major_color;
		}
	}

	.sp-dropdown {
		li.sp-menu-item {
			>a {

				&:not(.sp-group-title):hover {
					background: @major_color;
				}
			}
			&.active>a:not(.sp-group-title){
				background-color: @major_color;
				color: #fff;
			}
		}
	}

}

// Off Canvas
#offcanvas-toggler {
	>i {
		color: @text_color;
		&:hover {
			color: @major_color;
		}
	}
}

//Button
.btn-primary,
.sppb-btn-primary {
	background-color: @major_color;

	&:hover,
    &:focus,
    &:active {
		background-color: darken(@major_color, 10%);
	}
}

// Page Title


// Body Innerwrapper

.layout-boxed .body-innerwrapper {
	background: @bg_color;
}

// Module
.sp-module {
	ul {
		>li {
			>a {
				color: @text_color;
				&:hover {
					color: @major_color;
				}
			}
		}
	}

	.latestnews {
		>div {
			>a {
				&:hover {
					color: @major_color;
				}
			}
		}
	}

	.tagscloud {
		.tag-name {
			&:hover {
				background: @major_color;
			}	
		}
	}
}

// sp Simple Portfolio
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
	background: @major_color;
}

// Search
.search {
	.btn-toolbar {
		button {
			background: @major_color;
		}
	}
}

//tab
.sppb-addon-tab .sppb-nav-tabs li.active > a {
	background-color: @major_color;
}

// Blog
.post-format {
	background: @major_color;
}

.voting-symbol{
	span.star.active:before{
		color: @major_color;
	}
}

.sp-rating {
	span.star:hover:before,
	span.star:hover ~ span.star:before {
		color: darken(@major_color, 10%);
	}
}

.entry-link,
.entry-quote {
	background: @major_color;
}

blockquote {
	border-color: @major_color;
}

.carousel-left,
.carousel-right {

	&:hover {
		background: @major_color;
	}
}

// Footer


// Comingsoon


// Pagination 
.pagination>li>a,
.pagination>li>span {
	&:hover,
	&:focus {
		color: @major_color;
	}
}

.pagination>.active>a,
.pagination>.active>span {
	color: @major_color;
	&:hover,
	&:focus {
		color: @major_color;
	}
}



// **************** **************** ************** **************** **************** //
// **************** **************** Shaper News365 **************** **************** //
// **************** **************** ************** **************** **************** //


.layout-default .sppb-addon-article .sppb-meta-category a:hover,
.layout-default .sppb-addon-article .sppb-article-title a:hover,
.sp-tab-modules .items_mask .tab-padding .news365-news-title,
.sppb-addon-article.item .sppb-article-details .article-title a,
.catItemTitle a,
div.k2ItemsBlock ul li a.moduleItemTitle,
.sppb-addon-articles-headline.sppb-addon-articles-slider .sppb-addon-article.item .sppb-article-details .article-title a{
	color: @text_color;
}

.section-bg-color.sppb-section,
#sp-top-bar,
.sp-vertical-tabs .sp-tab-btns > li.active > a,
.sp-vertical-tabs .sp-tab-btns > li:hover > a,
.sppb-nav-pills > li.active > a,
.sppb-nav-pills > li.active > a:hover,
.sppb-nav-pills > li.active > a:focus,
.layout-default .sppb-addon-article .sppb-post-share-social .share-button{
	background-color: @major_color;
}

.sppb-addon-article .sppb-img-wrapper:before,
.sp-tab-modules .items_mask .tab-padding .article-list-img a:before,
.entry-image a:before,
div.catItemImageBlock .catItemImage a:before,
.k2ItemsBlock .moduleItemImage:before,
.sp-module .latestnews > div .article-list-img a:before,
.sp-vertical-tabs .sp-tab-pane .sp-article-inner:hover .sp-img-wrapper a:before{
	background-color: fade(@major_color, 80%);
}

.video-articles .sppb-addon-article.leading-item .sppb-img-wrapper:after,
.j2store-add-to-cart .j2store-cart-button,
.j2store-view-back-button a,
.k2AccountPage .submit-btn button {
	background: @major_color;
}

.itemView .itemHeader h2.itemTitle span{
	background: fade(@major_color, 85%);
}

.j2store-productlist-img-wrap .btn.btn-primary.j2store_add_to_cart_button:hover,
.j2store-productlist-img-wrap .j2store-cart-button:hover,
.j2store-productlist-img-wrap .btn.btn-primary.j2store_add_to_cart_button:active,
.j2store-productlist-img-wrap .j2store-cart-button:active,
.j2store-productlist-img-wrap .btn.btn-primary.j2store_add_to_cart_button:focus,
.j2store-productlist-img-wrap .j2store-cart-button:focus,
.j2store-add-to-cart .j2store-cart-button:hover,
.j2store-add-to-cart .j2store-cart-button:focus,
.j2store-add-to-cart .j2store-cart-button:active,
.j2store-view-back-button a:hover,
.j2store-view-back-button a:focus {
	background-color: darken(@major_color, 10%) !important;
}

#j2store-checkout-content input[type="button"].btn:focus,
#j2store-checkout-content input[type="button"].btn:active{
	background-color: darken(@major_color, 15%);
}

.view-myprofile #j2storeaddressForm input[type="button"]{
	background-color: @major_color !important;
}

.itemView .itemComments .itemCommentsForm input#submitCommentButton[type="submit"]:hover,
.itemView .itemComments .itemCommentsForm input#submitCommentButton[type="submit"]:focus{
	background-color: darken(@major_color, 10%);
}

.sppb-section-title .sppb-title-heading, 
.sppb-addon-articles .sppb-addon-title, 
.sppb-addon-articles .sppb-addon-section-right > a:hover:before,
.sppb-addon-article .sppb-meta-category a:hover,
.sppb-addon-article .sppb-article-title a:hover,
.sppb-addon-article .sppb-readmore:hover,
.sppb-addon-articles-headline.sppb-addon-articles-slider a.sppbSlideNext:hover,
.sppb-addon-articles-headline.sppb-addon-articles-slider a.sppbSlidePrev:hover,
.recommended-news .sppb-addon-article .sppb-meta-category a:hover,
.recommended-news .sppb-addon-article .sppb-readmore:hover,
.recommended-news .sppb-addon-article .sppb-article-title a:hover,
.sp-tab-modules .tabs_buttons ul.tabs_container li.tab:hover,
.sp-tab-modules .tabs_buttons ul.tabs_container li.tab:focus,
.sp-tab-modules .tabs_buttons ul.tabs_container li.tab.active,
.sp-tab-modules .items_mask .tab-padding .news365-news-title:hover,
.sppb-addon-articles-slider .sppb-addon-title,
.sppb-addon-articles-slider .sppb-addon-article.item .sppb-article-details .sppb-meta-category a:hover,
.sppb-addon-articles-slider .sppb-addon-article.item .sppb-article-details .article-title a:hover,
.sppb-addon-articles-headline.sppb-addon-articles-slider .sppb-addon-article.item .sppb-article-details .sppb-meta-category a:hover,
.sppb-addon-articles-headline.sppb-addon-articles-slider .sppb-addon-article.item .sppb-article-details .article-title a:hover,
.contact-info .sppb-addon-title,
.j2store-upcross-title,
.j2store-content .j2store-title-wrap .product-title a:hover,
.j2store-content .j2store-title-wrap .product-title a:focus,
.j2store-productlist-img-wrap .product-icons .j2store-addtocart-form .cart-action-complete .text-success a,
.price-sku-brand-container .vm-product-availability.out-of-stock span,
.sp-news365-login .modal-content .modal-body .title,
.article-info > dd.category-name a:hover,
.tags a:hover,
.entry-header h2 a:hover,
blockquote,
.view-article .pager li > a:hover,
.view-article .pager li > span:hover,
.view-article .pager li > a:focus,
.view-article .pager li > span:focus,
.catItemHeader .catItemCategory > a:hover,
.catItemTitle a:hover,
div.catItemLinks a:hover,
.view-itemlist .sp-module .sp-module-title,
.k2ItemsBlock div.moduleItemAuthor a:hover,
div.k2TagCloudBlock a:hover,
div.k2TagCloudBlock a:focus,
div.catItemCommentsLink:before,
.itemView .itemHeader div.itemCategory a:hover,
.itemView .itemHeader div.itemCategory a:focus,
.itemView .itemHeader .itemAuthor a:hover,
.itemView .itemHeader .itemAuthor a:focus,
#sp-right .sp-module-title,
#sp-left .sp-module-title,
.blog-sidebar-title .sp-module-title,
.sp-module ul.categories-module > li > a:hover,
.sp-module ul.menu > li > a:hover,
.view-article article.item .pager li>a:hover,
.view-article article.item .pager li>a:focus,
.sppb-addon-article .sppb-post-share-social a:hover,
.recommended-news .sppb-addon-article .sppb-post-share-social a:hover,
.sp-module .tagspopular ul > li > a:focus,
.tags a:focus,
.sp-module .tagspopular ul > li > a:hover,
.tags a:hover,
.joomla-default-login .form-links ul > li > a:hover,
.tab-k2 #sptab165 .tabs_buttons .tabs_mask ul.tabs_container li.tab:hover,
.tab-k2 #sptab165 .tabs_buttons .tabs_mask ul.tabs_container li.tab.active,
.offcanvas-menu .offcanvas-inner .sp-module ul > li ul > li.active > a,
.offcanvas-menu .offcanvas-inner .sp-module ul > li ul > li:hover > a,
.offcanvas-menu .offcanvas-inner .sp-module ul > li ul > li:focus > a{
	color: @major_color;
}


.tabs .nav.nav-tabs li.active a{
	border-color: @major_color;
}
