/**
 * @package Kidzy
 * @author JoomShaper http://www.joomshaper.com
 * @copyright Copyright (c) 2010 - 2016 JoomShaper
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or later
*/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1400px) {
    .sppb-container,.container,body .sppb-row-container{
        width: 1335px;
    }
}

/* Large Devices one */
@media only screen and (max-width : 1400px) {
    .news365-top-search .searchnews365-top-search {
        min-width: 200px;
    }
    .sp-tab-modules .tabs_buttons ul.tabs_container li.tab{
        padding: 0 20px 0 0 !important;
    }
}
/* Large Devices two*/
@media only screen and (max-width : 1200px) {
    #sp-menu-right >div {
        width: 100%;
    }
    .news365-top-search .searchnews365-top-search{
        min-width: inherit;
    }
    #offcanvas-toggler{
        float: left;
        margin-right: 30px;
    }
    .layout-business .sppb-row .sppb-row>div:nth-child(2n+1) {
        clear: left;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #sp-header .logo {
        height: 60px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    h1{
        font-size: 30px !important;
        line-height: 35px !important;
        small{
            letter-spacing: inherit !important;
        }
    }
    h2{
        font-size: 25px !important;
        line-height: 30px !important;
    }
    h3{
        font-size: 20px !important;
        line-height: 25px !important;
    }
    h4{
        font-size: 18px !important;
        line-height: 23px !important;
    }
    //mixed responsive
    .spb-res-margin{
        margin: 50px 0 !important; // Decrease Section margin, when widows size less than 768px;
    }
    .spb-res-padding{
        padding: 50px 0 !important; // Decrease Section padding, when widows size less than 768px;
    }
    .spb-res-mixed-padding{
        padding: 50px 0 100px !important; // Decrease Section padding, when widows size less than 768px;
    }
    .spb-res-bottom-padding{
        padding: 0 0 30px !important; // Decrease Section padding, when widows size less than 768px;
    }
    .spb-res-top-padding{
        padding: 50px 0 0 !important; // Decrease Section padding, when widows size less than 768px;
    }
    //section title
    #sp-page-builder .sppb-section-title {
        margin-bottom: 30px !important;
        .sppb-title-heading {
            font-size: 25px !important;
            line-height: 30px !important;
            margin-bottom: 30px !important;
        }
        .sppb-title-subheading {
            font-size: 18px !important;
        }
    }
    //top bar
    #sp-top-bar{
        line-height: 30px;
    }
    #sp-top1, #sp-top2{
        text-align: center;
    }
    //sp-header
    #sp-menu-right >div {
        float: right;
    }
    .news365-top-search .searchnews365-top-search{
        min-width: 250px;
    }
    #sp-header{
        padding: 15px 0;
        .logo {
            height: inherit;
        }

    }
    //articles-headline
    .sppb-addon-articles-headline.sppb-addon-articles-slider .owl-prev {
        right: 35px !important;
        left: inherit;
    }
    .sppb-addon-articles-headline.sppb-addon-articles-slider .owl-next {
        left: inherit;
        right: 15px !important;
    }
    .layout-featured .sppb-addon-article.leading-item{
        margin-bottom: 30px;
        .sppb-img-wrapper {
            width: 100%;
            margin-bottom: 0;
        }
        .sppb-article-details {
            width: 100%;
            padding-left: 0;
            margin-top: 15px;
        }
    }
    //sppb-addon-article
    .sppb-addon-articles,.sppb-addon-articles-slider{
        .sppb-addon-title{
            margin-bottom: 20px !important;
        }
    }
    .sppb-addon-article{
        overflow: hidden;
        .sppb-article-title{
            margin-bottom: 15px;
        }
        .sppb-img-wrapper{
            display: block;
            margin-bottom: 15px;
            img{
                width: 100%;
            }
        }
        &:hover .sppb-img-wrapper:after{
            font-size: 30px;
        }
        .sppb-article-introtext{
            margin-bottom: 15px;
        }
    }
    .layout-default{
        .sppb-addon-article{
            margin-bottom: 30px;
        }
        &.sppb-addon-articles{
            .sppb-row>div:last-child{
                .sppb-addon-article{
                    margin-bottom: 0;
                    border-bottom: none;
                }
            }
        }
    }
    .layout-technology .sppb-addon-article .sppb-img-wrapper{
        margin-bottom: 0;
    }
    // video-articles
    .video-articles .sppb-addon-article.leading-item .sppb-img-wrapper:after{
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 18px;
    }
    .video-articles .sppb-addon-article.leading-item .sppb-article-details{
        margin-top: 15px;
    }
    .sp-tab-modules .tabs_buttons ul.tabs_container li.tab{
        font-size: 13px;
    }
    .sp-tab-modules .items_mask .tab-padding {
        .news365-news-title {
            display: block;
            padding-left: 0;
            width: 100%;
            font-size: 14px;
        }
        .article-list-img {
            display: inline-block;
            width: auto;
        }
    }
    .sp-tab-modules .items_mask .tab-padding >div>div:hover .article-list-img:after{
        font-size: 20px;
    }
    .sppb-addon-articles-slider .owl-prev,
    .sppb-addon-articles-slider .owl-next{
        top: -60px;
        &:before{
            font-size: 30px;
        }
    }
    .sppb-addon-articles-slider .owl-prev{
        right: 20px;
    }
    //sppb-addon-single-image
    .sppb-addon-single-image{
        text-align: center;
        img{
            display: inline-block;
        }
    }
    //pop-up login
    .sp-news365-login .modal-content{
        padding: 30px;
    }
    .sp-news365-login .modal-dialog{
        width: inherit;
    }
    div.modal.fade.in {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    //sppb-addon-cta
    .sppb-addon-cta {
        text-align: center;
    }
    //sppb-addon-persion
    .sppb-addon-persion{
        margin-bottom: 40px;
        img{
            width: 100%;
        }
    }
    .sppb-addon-title{
        font-size: 22px !important;
    }
    .sppb-addon-feature{
        margin-bottom: 30px;
        .sppb-icon{
            i{
                font-size: 35px !important;
                height: 35px !important;
                line-height: 35px !important;
            }
        }
    }
    //#sp-bottom
    #sp-bottom{
        padding: 50px 0 !important;
        #sp-bottom1{
            margin-bottom: 40px;
        }
        #sp-bottom3 .sp-module{
            margin-top: 0;
        }
        #sp-bottom4{
            margin-top: 40px;
        }
        .sp-module ul >li >a{
            font-size: 14px;
        }
    }
    .layout-technology {
        .sppb-addon-article {
            .sppb-article-details {
                display: inline-block;
                padding-left: 0;
                vertical-align: middle;
                width: 100%;
            }
            .sppb-img-wrapper {
                display: inline-block;
                width: 100%;
            }
        }
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    // j2store-cart-module
    .j2store-cart-module .j2store-cart-module-wrapper{
        width: 150px;
        padding: 15px;
        .info{
            font-size: 14px;
        }
    }
    .layout-technology .sppb-addon-article .sppb-img-wrapper,
    .layout-technology .sppb-addon-article .sppb-article-details{
        width: 100%;
        padding-left: 0;
        display: block;
    }
    .layout-technology .sppb-addon-article .sppb-article-details{
        margin-top: 15px;
    }
    .sppb-addon-articles .sppb-addon-section-right >a:before{
        font-size: 13px;
        width: 28px;
        height: 28px;
        border: 2px solid;
        line-height: 26px;
    }
    .news365-top-search .searchnews365-top-search {
        min-width: inherit;
    }
}

/*
* Custom Responsive also
*/
@media screen and (min-width: 1200px) and (max-width: 1440px){
    /* ==========================================================================
       Shop Listing Page
       ========================================================================== */
    .product-crosssells-container,
    .product-upsells-container,
    .j2store-product-list {
        .j2store-content {
            .j2store-title-wrap {
                .product-title {
                    a{
                        font-size: 22px;
                    }
                }
                .product-price-container {
                    .sale-price{
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .sp-module {
        .latestnews {
            div {
                a {
                    font-size: 20px;
                    margin-top: 25px;
                }
            }
        }
    }
    /* ==========================================================================
   K2 Home
   ========================================================================== */
    .tab-k2 {
        #sptab165 {
            .items_mask {
                .tab-padding {
                    div.k2ItemsBlock {
                        ul {
                            li {
                                a.moduleItemTitle {
                                    margin-top: 5px;
                                }
                            }
                        }
                    }
                }
            }
            .tabs_buttons {
                .tabs_mask {
                    ul.tabs_container {
                        li.tab {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1025px) and (max-width: 1199px){
    /* ==========================================================================
       Shop Listing Page
       ========================================================================== */
    .product-crosssells-container,
    .product-upsells-container,
    .j2store-product-list {
        .j2store-content {
            .j2store-title-wrap {
                .product-title {
                    line-height: 20px !important;
                    width: 100%;
                    a{
                        font-size: 18px;
                    }
                }
                .product-price-container {
                    .sale-price{
                        font-size: 16px;
                    }
                    float: left;
                    width: 100%;
                }
            }
        }
    }
    #sp-right, #sp-left {
        .sp-module-title {
            font-size: 20px;
            margin-bottom: 25px;
        }
    }
    /* ==========================================================================
   News Listing Page
   ========================================================================== */
    .sp-module {
        .latestnews {
            div {
                a {
                    font-size: 20px;
                    line-height: 1.3;
                    margin-top: 20px;
                }
            }
        }
    }
    /* ==========================================================================
   News Details Page
   ========================================================================== */
    .view-article {
        article.item {
            .entry-header h2 {
                font-size: 40px;
            }
        }
    }
    /* ==========================================================================
       K2 Listing Page
       ========================================================================== */
    div.k2TagCloudBlock a {
        font-size: 16px !important;
        line-height: 30px;
        &:after{
            margin: -11px 10px 0;
        }
    }
    .k2ItemsBlock ul {
        li {
            a.moduleItemTitle {
                font-size: 20px;
                line-height: 1.3;
                margin-bottom: 0;
                padding: 0;
            }
        }
    }
    /* ==========================================================================
   K2 News Details
   ========================================================================== */
    .itemView {
        .itemHeader {
            h2.itemTitle {
                font-size: 40px;
                line-height: 1.2;
                padding-bottom: 20px;
            }
        }
    }
    .k2ItemsBlock {
        ul {
            li {
                a.moduleItemTitle {
                    font-size: 16px;
                }
            }
        }
    }
    /* ==========================================================================
      K2 Home
      ========================================================================== */
    .tab-k2 {
        #sptab165 {
            .items_mask {
                .tab-padding {
                    div.k2ItemsBlock {
                        ul {
                            li {
                                .moduleItemImage{
                                    width: auto;
                                }
                                a.moduleItemTitle {
                                    width: 100%;
                                    padding-left: 0;
                                    margin-top: 0;
                                    margin-bottom: 20px;
                                }
                            }
                        }
                    }
                }
            }
            .tabs_buttons {
                .tabs_mask {
                    ul.tabs_container {
                        li.tab {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){

    /* ==========================================================================
       Shop Listing Page
       ========================================================================== */
    #sp-main-body {
        padding: 70px 0;
    }
    .product-crosssells-container,
    .product-upsells-container,
    .j2store-product-list {
        .j2store-content {
            .j2store-title-wrap {
                .product-title {
                    line-height: 20px !important;
                    width: 100%;
                    a{
                        font-size: 18px;
                    }
                }
                .product-price-container {
                    .sale-price{
                        font-size: 16px;
                    }
                    float: left;
                    width: 100%;
                }
            }
        }
        .j2store-productlist-img-wrap {
            .j2store-product-images {
                .mod_pic {
                    a{
                        font-size: 30px;
                        height: 30px;
                    }
                }
            }
            .product-icons{
                height: 55px;
                .btn.btn-primary.j2store_add_to_cart_button,.j2store-cart-button{
                    height: 55px;
                    line-height: 55px;
                    width: 55px;
                }
            }
        }
        .items-row {
            .bannergroup.blog-bottom-add{
                margin: 40px 0 50px;
            }
        }
    }

    #sp-right, #sp-left {
        .sp-module-title {
            font-size: 16px;
            margin-bottom: 25px;
        }
    }
    .j2store-product-module.j2store-product-module-list {
        .j2store-module-product {
            .product-cart-section {
                .j2store-product-image{
                    width: 100%;
                }
                .product-cart-left-block{
                    .product-price-container{
                        margin-top: 5px;
                    }
                    .product_cart_block{
                        form{
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
    /* ==========================================================================
   Shop Details
   ========================================================================== */
    .j2store-single-product {
        .product-content {
            .product-title {
                font-size: 30px;
                margin: 0 0 10px;
            }
            .product-price {
                .product-price-container {
                    span {
                        font-size: 25px;
                    }
                }
            }
        }
        .j2store-view-back-button {
            margin-top: 50px;
        }
    }
    .tab-content {
        .tab-pane {
            .product-sdesc {
                padding: 30px 0 30px;
            }
        }
    }
    /* ==========================================================================
   Contact Page
   ========================================================================== */
    .sppb-addon-gmap-canvas{
        height: 320px !important;
    }
    .sppb-ajaxt-contact-form{
        .sppb-form-group{
            width: 100%;
            padding-right: 0;
        }
        .sppb-form-group{
            &:nth-child(4) {
                padding-bottom: 25px;
                padding-top: 0;
            }
        }
    }
    /* ==========================================================================
   404 Page
   ========================================================================== */
    .error-page{
        .error-contnet {
            font-size: 40px;
            line-height: 1;
            margin-bottom: 0;
        }
    }
    /* ==========================================================================
   News Listing Page
   ========================================================================== */
    .entry-header {
        h2 {
            font-size: 20px !important;
            line-height: 1.1 !important;
        }
    }
    .sp-module {
        .latestnews {
            div {
                a {
                    font-size: 18px;
                    margin-top: 15px;
                }
            }
        }
        ul.categories-module,ul.menu {
            li {
                a {
                    line-height: 40px;
                }
            }
        }
        ul.mostread {
            li {
                a {
                    line-height: 1.2;
                    padding: 12px 0;
                }
            }
        }
        .tagspopular ul {
            li {
                a {
                    font-size: 14px;
                    line-height: 28px;
                }
            }
        }
    }
    .entry-image, .entry-gallery, .entry-video, .entry-audio, .entry-link {
        margin-bottom: 15px;
    }
    .blog-bottom-add {
        margin: 30px 0 0;
    }
    .blog-sidebar-title {
        .sp-module-title {
            font-size: 24px;
            margin-bottom: 25px;
        }
    }
    article.item {
        margin-bottom: 0;
        padding-bottom: 25px;
        p {
            font-size: 14px;
        }
    }
    .view-article {
        article.item {
            div[itemprop="articleBody"] {
                p {
                    font-size: 14px;
                }
            }
            .pager {
                margin: 50px 0 0;
                padding: 14px 0;
            }
        }
    }
    p {
        font-size: 14px !important;
    }
    /* ==========================================================================
   K2 Listing Page
   ========================================================================== */
    div.catItemHeader {
        h3.catItemTitle {
            font-size: 20px;
        }
    }
    .k2ItemsBlock {
        .moduleItemImage {
            margin-bottom: 15px;
        }
        ul {
            li {
                a.moduleItemTitle {
                    font-size: 18px;
                    line-height: 1.3;
                    margin-bottom: 0;
                    padding: 0;
                }
            }
        }
    }
    div.k2TagCloudBlock {
        a {
            font-size: 14px !important;
            line-height: 28px;
            &:after{
                margin: -12px 10px 0;
            }
        }
    }
    .k2CategoriesListBlock {
        ul {
            li {
                a {
                    line-height: 50px;
                }
            }
        }
    }
    div.catItemView {
        margin-bottom: 15px;
    }
    div.catItemIntroText {
        padding: 4px 0 0;
    }
    div.k2Pagination ul {
        margin-top: 0;
    }
    #k2Container {
        padding: 0;
    }
    div.k2Pagination {
        margin: 24px 0 0;
        padding: 0;
    }
    /* ==========================================================================
   K2 News Details
   ========================================================================== */
    .itemView {
        .itemBody {
            .itemFullText {
                blockquote{
                    &:before {
                        font-size: 40px;
                        margin-right: 20px;
                    }
                    font-size: 18px;
                    line-height: 1.2;
                    padding: 0 0 25px;
                }
            }
        }
    }
    .k2ItemsBlock {
        ul {
            li {
                a.moduleItemTitle {
                    font-size: 16px;
                }
            }
        }
    }
    /* ==========================================================================
   K2 Home
   ========================================================================== */
    .tab-k2 {
        #sptab165 {
            .items_mask {
                .tab-padding {
                    div.k2ItemsBlock {
                        ul {
                            li {
                                .moduleItemImage{
                                    width: auto;
                                }
                                a.moduleItemTitle {
                                    width: 100%;
                                    padding-left: 0;
                                    margin-top: 0;
                                    margin-bottom: 20px;
                                }
                            }
                        }
                    }
                }
            }
            .tabs_buttons {
                .tabs_mask {
                    ul.tabs_container {
                        li.tab {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

}
@media screen and (min-width: 320px) and (max-width: 767px){
    /* ==========================================================================
       Shop Listing Page
       ========================================================================== */
    #sp-main-body {
        padding: 60px 0;
    }
    .j2store-single-product{
        margin-bottom: 30px;
        display: table;
        .j2store-mainimage{
            display: table;
        }
    }
    .product-crosssells-container,
    .product-upsells-container,
    .j2store-product-list {
        .items-row {
            .bannergroup.blog-bottom-add{
                margin: 20px 0 40px;
            }
        }
        display: table;
    }
    #sp-left {
        .sp-module-title {
            margin-bottom: 25px;
        }
    }
    #sp-right{
        .sp-module{
            margin-top: 20px;
        }
        .sp-module-title{
            margin-bottom: 25px;
        }
    }
    /* ==========================================================================
       Shop Details Page
       ========================================================================== */
    .j2store-single-product {
        .product-content {
            .product-title {
                font-size: 28px !important;
                line-height: 1 !important;
                margin: 10px 0;
            }
            .product-price {
                .product-price-container {
                    span {
                        font-size: 25px;
                    }
                }
            }
        }
        .j2store-view-back-button {
            margin-top: 25px;
            padding-bottom: 30px;
        }
    }
    .tabs {
        margin-top: 35px;
        .tab-content {
            .tab-pane{
                .product-sdesc {
                    padding: 25px 0 30px;
                }
            }
        }
    }
    .upsell-product{
        margin-bottom: 30px;
    }
    /* ==========================================================================
   Contact Page
   ========================================================================== */
    .sppb-addon-gmap-canvas{
        height: 290px !important;
    }
    .news365-contact-info{
        margin-bottom: 30px;
        .sppb-addon.sppb-addon-text-block {
            h3{
                margin-bottom: 20px !important;
            }
        }
    }
    .sppb-ajaxt-contact-form{
        .sppb-form-group{
            width: 100%;
            padding-right: 0;
        }
        .sppb-form-group{
            &:nth-child(4) {
                padding-bottom: 25px;
                padding-top: 0;
            }
        }
    }
    /* ==========================================================================
   404 Page
   ========================================================================== */
    .error-page{
        .error-details {
            clear: both;
            display: table;
            width: 100%;
            .error-contnet {
                font-size: 30px;
                line-height: 1;
                margin-bottom: 0;
            }
        }
    }
    /* ==========================================================================
   Coming Soon Page
   ========================================================================== */
    .sp-comingsoon-wrap {
        min-height: 100%;
        padding: 60px 0;
    }

    #sp-comingsoon .sp-comingsoon-countdown{
        margin-bottom: 40px;
        margin-top: 45px;
        div{
            display: inline-block;
            margin: 0 20px 0 0;
            &:last-of-type{
                margin-right: 0;
            }
            .number{
                font-size: 24px;
                letter-spacing: 0;
                margin-left: 0;
            }
            .string{
                font-size: 14px;
            }
        }
    }
    #sp-comingsoon {
        margin-bottom: 0;
        .acymailing_module {
            .acymailing_module_form {
                .acymailing_form {
                    margin: 25px auto 0 !important;
                    width: 100%;
                    .acysubbuttons{
                        input{
                            font-size: 12px;
                            padding: 0 20px;
                        }
                    }
                }
            }
        }
    }
    /* ==========================================================================
       News listing page
       ========================================================================== */
    article.item{
        .entry-header {
            h2 {
                font-size: 20px !important;
                line-height: 1.15 !important;
            }
        }
        p{
            font-size: 14px;
        }
        margin-bottom: 25px;
    }
    .layout-blog {
        .published {
            bottom: 10px;
        }
    }
    .entry-image, .entry-gallery, .entry-video, .entry-audio, .entry-link {
        margin-bottom: 15px;
    }
    .pagination {
        margin: 0 0 45px;
    }
    .blog-sidebar-title {
        .sp-module-title {
            font-size: 24px !important;
            margin-bottom: 30px;
        }
    }
    .sp-module {
        margin-top: 40px;
        .latestnews {
            div {
                a {
                    font-size: 20px;
                    line-height: 1.1;
                    margin-top: 25px;
                }
                .article-list-img {
                    display: table;
                }
            }
        }
        ul.mostread {
            li {
                a {
                    line-height: 1.3;
                    padding: 13px 0;
                }
            }
        }
        ul.categories-module,ul.menu {
            li{
                a {
                    line-height: 40px;
                }
            }
        }
    }
    .blog-bottom-add {
        margin: 15px 0 30px;
    }
    #sp-right, #sp-left {
        .sp-module-title {
            font-size: 22px !important;
        }
    }
    /* ==========================================================================
   News details page
   ========================================================================== */
    .view-article, .layout-blog{
        #sp-main-body {
            padding: 60px 0;
        }
    }
    .view-article {
        article.item {
            div[itemprop="articleBody"]{
                blockquote{
                    &:before {
                        font-size: 40px;
                        margin-right: 20px;
                    }
                    font-size: 18px;
                    line-height: 1.2;
                    padding: 15px 0 30px;
                }
                p {
                    font-size: 14px;
                }
            }
            .article-info {
                margin: 20px -8px 25px;
            }
            .tags {
                margin-top: 35px;
            }
            .sp-social-share {
                margin-bottom: 35px;
            }
            .pager {
                padding: 12px 0;
                margin-bottom: 0;
            }
        }
    }
    p{
        font-size: 14px !important;
    }
    .article-info {
        dd {
            font-size: 12px;
        }
    }
    /* ==========================================================================
   K2 Blog Listing
   ========================================================================== */
    .k2ItemsBlock {
        ul {
            li {
                a.moduleItemTitle {
                    font-size: 20px;
                    line-height: 1.3;
                    margin-bottom: 0;
                    padding: 0;
                }
            }
        }
    }
    .k2ItemsBlock.k2-related-module {
        ul {
            li {
                a.moduleItemTitle {
                    font-size: 16px;
                }
            }
        }
    }
    .k2CategoriesListBlock {
        ul {
            li {
                a {
                    line-height: 50px;
                }
            }
        }
    }
    div.catItemView {
        margin-bottom: 30px;
        padding: 0;
    }
    div.catItemIntroText {
        padding: 4px 0 0;
    }
    div.k2Pagination {
        margin: 0;
        padding: 0;
    }
    div.k2Pagination ul {
        margin-bottom: 25px;
    }
    #sp-right {
        .sp-module.k2-related-module{
            margin-top: 40px;
        }
        .sp-module-title {
            margin-bottom: 10px;
        }
    }
    /* ==========================================================================
   K2 News Details
   ========================================================================== */
    .itemView {
        .itemHeader {
            span.itemDateCreated {
                span.info-block-title{
                    margin-right: 8px;
                    margin-left: 0;
                    font-size: 12px;
                }
                font-size: 12px;
                margin: 0;
                display: block;
            }
            h2.itemTitle {
                font-size: 20px !important;
                line-height: 1.2;
                padding-bottom: 12px;
            }
        }
        .itemBody {
            .itemFullText {
                h3 {
                    margin: 30px 0;
                }
                blockquote{
                    &:before {
                        font-size: 40px;
                        margin-right: 20px;
                    }
                    font-size: 18px;
                    line-height: 1.2;
                    padding: 0 0 25px;
                }
            }
        }
    }
    /* ==========================================================================
   Shortcode Page
   ========================================================================== */
    .sppb-empty-space.clearfix{
        display: none;
    }
    /* ==========================================================================
   Menu
   ========================================================================== */
    body.offcanvas {
        margin-left: 0;
    }
    #sp-top-bar {
        .sp-module.top-login {
            margin-left: 5px;
            margin-right: 20px;
        }
        .sp-module.top-register-button {
            margin-left: 0;
        }
    }
    ul.social-icons {
        li{
            margin-left: 12px;
            &:first-child{
                margin-left: 0;
            }
        }
    }
    #j2store_currency {
        margin-left: 5px;
        a{
            padding: 0 6px;
        }
    }
    /* ==========================================================================
   K2 Home
   ========================================================================== */
    .tab-k2 {
        #sptab165 {
            .items_mask {
                .tab-padding {
                    div.k2ItemsBlock {
                        ul {
                            li {
                                a.moduleItemTitle {
                                    margin-top: 5px;
                                }
                            }
                        }
                    }
                }
            }
            .tabs_buttons {
                .tabs_mask {
                    ul.tabs_container {
                        li.tab {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

}
@media screen and (min-width: 550px) and (max-width: 767px){
    #sp-comingsoon {
        .acymailing_module {
            .acymailing_module_form {
                .acymailing_form {
                    margin: 25px auto 0 !important;
                    width: 80%;
                    .acysubbuttons{
                        input{
                            font-size: 14px;
                            padding: 0 25px;
                        }
                    }
                }
            }
        }
    }
    #sp-comingsoon .sp-comingsoon-countdown{
        margin-bottom: 40px;
        margin-top: 45px;
        div{
            margin: 0 25px 0 0;
            .number{
                font-size: 35px;
            }
            .string{
                font-size: 16px;
            }
        }
    }
}