/**
 * @package Helix Framework
 * @author JoomShaper http://www.joomshaper.com
 * @copyright Copyright (c) 2010 - 2016 JoomShaper
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or later
*/

@import 'variables';
@import 'mixins';


/* RTL Direction
 *=======================================*/

body {
 	&.rtl {

		#sp-top-bar .sp-module {
			margin: 0;
		}

		//top address
		.sp-contact-info {
			float: left;
		}

		// lang switcher
		.sp-module-content .mod-languages ul.lang-inline li {
			margin: 0 0 0 5px;
		}


		//Offcanvas
		#offcanvas-toggler {
			float: left;
		}
		#offcanvas-toggler >i {
			padding: 0 10px 0 0;

		}
		.close-offcanvas {
			right: auto;
			left: 10px;
		}
		.offcanvas-menu {
			-webkit-transition: opacity 400ms cubic-bezier(0.7,0,0.3,1), left 400ms cubic-bezier(0.7,0,0.3,1);
			transition: opacity 400ms cubic-bezier(0.7,0,0.3,1), left 400ms cubic-bezier(0.7,0,0.3,1);
		}

		.body-innerwrapper:after {
			left: 0;
		}

		.offcanvas-menu {
			left: -280px;
		}

		&.offcanvas {
			.offcanvas-menu {
				left: 0;
			}
		}

		//mega menu
		.sp-megamenu-parent {
			float: right;
		}

		.sp-megamenu-parent .sp-dropdown .sp-dropdown-items .sp-has-child>a:after {
			float: left;
			content: " \f104";
		}

		//module
		.sp-module ul >li >a:before {
			margin-right: 0;
			content: "\f104";
			float: right;
		}

		//blog
		.entry-header.has-post-format {
			margin-left: 0;
			margin-right: 68px;
		}
		.post-format {
			left: auto;
			right: -68px;
		}
		.article-info >dt >i, .article-info >dd >i {
			margin-right: 0;
			margin-left: 3px;
		}
		.entry-link:before {
			top:auto;
			left: auto;
			right: -60px;
			transform: rotate(-90deg);
		}
		.entry-quote:before {
			left: auto;
			transform: rotate(-15deg);
			top:auto;
			right: -40px;
		}
		.categories-list .page-header a.pull-right {
			float: left !important;
		}
		.newsfeed-category .category li .pull-left{
			float: right !important;
		}

		//search
		.search .btn-toolbar .pull-left{
			float: right !important;
		}





		/**************************************************************************************/
		/**************************           Shaper News365          ************************/
		/************************************************************************************/


		//Top Bar
		#sp-top2 {
			text-align: left;
		}
		#sp-top-bar .sp-module.top-login{
			float: left;
			margin-left: 0;
			margin-right: 40px
		}
		#sp-top-bar .sp-module.top-register-button {
			float: left;
			margin-right: 40px;
			margin-left: 0;
		}

		//Header
		#sp-header-right{
			text-align: left;
		}

		//Menu
		.sp-megamenu-parent >li{
			margin-right: 0;
			margin-left: 36px;
		}
		.sp-megamenu-parent >li.sp-has-child>a:after {
			float: left;
			margin-right: 5px;
		}
		.sp-megamenu-parent .sp-dropdown.sp-dropdown-main.sp-menu-right{
			left: inherit;
			right: 0;
		}
		.sp-megamenu-parent .sp-dropdown.sp-dropdown-sub{
			left: inherit;
			right: 100%;
		}
		.news365-top-search {
			margin-right: 0;
			margin-left: 60px;
		}
		.news365-top-search form input {
			border-left: 0 !important;
			border-right: 1px solid #ededed !important;
		}
		.news365-top-search form:after{
			right: inherit;
			left: 0;
		}
		.j2store-cart-module >div{
			padding: 3px 20px 3px 0;
			border-left: 0;
			border-right: 1px solid #ededed
		}
		.news365-top-search .searchnews365-top-search {
			margin-right: 0;
			margin-left: 15px;
		}
		.j2store-cart-module .j2store-cart-module-wrapper{
			right: inherit;
			left: 0;
		}

		//Offcanvas

		.offcanvas-menu .offcanvas-inner .sp-module ul > li .offcanvas-menu-toggler{
			right: inherit;
			left: 0;
		}

		//Owl Carousel
		.owl-carousel{
			direction: ltr;
		}

		//News Headline
		.sppb-addon-articles-headline.sppb-addon-articles-slider .owl-prev {
			left: inherit;
			right: 250px !important;
		}
		.sppb-addon-articles-headline.sppb-addon-articles-slider .owl-next {
			left: inherit;
			right: 270px !important;
		}
		.sppb-addon-articles-slider .owl-prev:before{
			content: "\f105" !important;
		}
		.sppb-addon-articles-slider .owl-next:before{
			content: "\f104" !important;
		}
		.sppb-addon-articles-slider .sppb-addon-article.item .sppb-article-details{
			text-align: right;
		}

		//Featured News
		.sppb-addon-articles .sppb-addon-section-right{
			float: left;
		}
		.sppb-addon-articles .sppb-addon-section-right >a:before{
			content: "\f053" !important;
		}
		.layout-featured .sppb-addon-article.leading-item .sppb-img-wrapper{
			float: right;
		}
		.layout-featured .sppb-addon-article.leading-item .sppb-article-details{
			padding-left: 0;
			padding-right: 50px;
		}

		//Video Reports
		.sppb-text-left{
			text-align: right;
		}
		.video-articles .sppb-addon-article.leading-item .sppb-img-wrapper:after{
			left: inherit;
			right: 0;
		}
		.video-articles .sppb-article-details{
			padding-right: 0 !important;
		}
		.sp-tab-modules .items_mask .tab-padding .news365-news-title{
			padding-left: 0;
			padding-right: 25px;
		}
		#sptab132 ul.tabs_container li.tab{
			float: right;
		}
		.sp-tab-modules .tabs_buttons ul.tabs_container li.tab{
			padding: 0 0 0 45px !important;
		}

		//Technology News
		.layout-technology .sppb-addon-article .sppb-img-wrapper{
			float: right;
			width: 100%;
		}
		.layout-technology .sppb-addon-article .sppb-article-details{
			padding-left: 0;
			padding-right: 30px;
		}

		//Sports & HEalth News
		.layout-featured-2{
			.sppb-article-details{
				padding-right: 0 !important;
			}
		}

		//Photo Gallery
		.sppb-addon-articles-slider .owl-next{
			right: inherit;
			left: 0;
		}
		.sppb-addon-articles-slider .owl-prev{
			right: inherit;
			left: 30px;
		}
		.sppb-addon-articles-slider .sppb-addon-article.item .sppb-article-details .sppb-category-icon{
			float: right;
			margin-right: 0;
			margin-left: 10px;
		}

		//Bottom
		.bottom-social ul >li >a{
			margin-right: 0;
			margin-left: 15px;
		}
		.acymailing_module .acysubbuttons{
			float: left;
		}
		.sp-copyright .text-right {
			float: left;
		}
		.sp-copyright .text-left {
			float: right;
		}

		//Article Listing
		.item .published{
			left: inherit;
			right: 0;
		}

		//Article Details
		article.item .pager li.next>a >span{
			float: left;
		}
		article.item .pager li>a >span{
			float: right;
		}
		article.item div[itemprop="articleBody"] blockquote:before{
			float: right;
			margin-right: 0;
			margin-left: 40px;
		}

		//Pagination
		.fa-angle-double-left:before{
			content: "\f101";
		}
		.fa-angle-double-right:before{
			content: "\f100";
		}
		.fa-angle-left:before {
			content: "\f105" !important;
		}
		.fa-angle-right:before {
			content: "\f104" !important;
		}

		//Tags
		.sp-module .tagspopular ul>li:after{
			float: left;
		}

		//Shop Listing
		.j2store-product-list .j2store-productlist-img-wrap .j2store-cart-button{
			left: inherit;
			right: 0;
		}
		.j2store-product-list .j2store-content .j2store-title-wrap .product-title{
			float: right;
		}
		.j2store-product-list .j2store-content .j2store-title-wrap .product-price-container{
			float: left;
		}
		.j2store-product-module.j2store-product-module-list .j2store-module-product .product-cart-section .j2store-product-image{
			padding-left: inherit;
			padding-right: 0;
		}

		//Shop Details
		.j2store-single-product .product-content .price-sku-brand-container .vm-product-availability{
			float: right;
		}
		.j2store-single-product .product-content .price-sku-brand-container .vm-product-availability.out-of-stock span{
			float: left;
		}
		.j2store-single-product .product-content .j2store-add-to-cart .product-qty .j2store-qty-ctrt-wrap{
			float: right;
		}
		.j2store-single-product .product-content .j2store-add-to-cart .product-qty input{
			float: right;
		}
		.j2store-single-product .product-content .j2store-add-to-cart .j2store-cart-button i{
			margin-right: 0 !important;
			margin-left: 10px !important;
		}
		.j2store-single-product .j2store-product-additional-images .additional-image-list li{
			margin-right: 0;
			margin-left: 16px;
		}
		.tabs .nav.nav-tabs li a{
			margin-right: 0;
			margin-left: 25px;
		}
		.j2store-single-product .j2store-view-back-button a i{
			margin-right: 0;
			margin-left: 8px;
		}
		.fa-chevron-left:before{
			content: "\f054";
		}

		//Cart Page
		.cart-thumb-image img{
			float: right;
			margin-right: 0;
			margin-left: 10px;
		}
		.j2store-cart .j2store-cart-table input{
			float: right;
		}
		.j2store-cart .j2store-cart-table tr>td{
			text-align: right;
		}
		.cart-estimator-discount-block .coupon input[type="text"],
		.cart-estimator-discount-block .voucher input[type="text"]{
			float: right;
		}
		.cart-estimator-discount-wrapper .cart-footer th,
		.cart-estimator-discount-wrapper .cart-footer td{
			text-align: right !important;
		}

		//K2 Blog Listing
		div.k2TagCloudBlock a:after{
			float: left;
		}

		//K2 Blog Details
		.itemView .itemHeader div.itemCategory,
		.itemView .itemHeader span, .itemView .itemHeader span.itemDateCreated{
			float: right;
		}
		div.itemBackToTop{
			text-align: left;
		}
		.itemView .itemBody .itemFullText blockquote:before{
			float: right;
			margin-right: 0;
			margin-left: 40px;
		}

		//Global
		.pull-left{
			float: right !important;
			margin-right: 0;
			margin-left: 15px;
		}
		.sppb-nav-tabs > li,
		.sppb-nav-pills > li{
			float: right;
		}
		.sppb-addon-accordion .sppb-panel .sppb-panel-heading:before{
			right: inherit;
			left: 0;
			border-left: 0;
			border-right: 1px solid #706d6d
		}

		//Registration Page
		.k2AccountPage table.admintable td.key{
			text-align: right;
		}
		.k2AccountPage table.admintable tr td span {
			float: right;
			margin-right: 0;
			margin-left: 10px;
		}
		.k2AccountPage div.k2AccountPageUpdate{
			text-align: left;
		}

 	}
}