/*
 * @package Helix Framework
 * Template Name - Shaper News365
 * @author JoomShaper http://www.joomshaper.com
 * @copyright Copyright (c) 2010 - 2016 JoomShaper
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or later
 */

 


/* ************** 	   Start Buttons   	**************** */
/* ***************************************************** */

.btn,
.sppb-btn {
	.transition(~'color 400ms, background-color 400ms, border-color 400ms');
}

//Offline
.offline-inner {
	margin-top: 100px;
}

.btn,
.sppb-btn {
    padding: 0 35px;
    line-height: 45px;
    border: none;
    color: #363636;
    border-radius: 0;
    text-transform: uppercase;
    .transition(.3s);
	&:hover,
	&:focus,
	&:active{
		box-shadow: none;
		-webkit-box-shadow: none;
		color: #363636;
	}
}
button{
	line-height: 42px;
	height: 42px;
}
input.btn,
input.sppb-btn{
	height: 45px !important;
	line-height: 45px !important;
	&:hover,
	&:focus,
	&:active,
	&:focus:active{
		outline: none;
	}
}

.btn.btn-sm,
.sppb-btn.sppb-btn-sm {
	line-height: 36px;
	padding: 0 25px;
}

.btn.btn-xs,
.sppb-btn.sppb-btn-xs {
	line-height: 34px;
	padding: 0 30px;
}

.btn.btn-lg,
.sppb-btn.sppb-btn-lg{
	line-height: 52px;
	padding: 0 50px;
}

.btn.btn-default,
.sppb-btn.sppb-btn-default,
.btn.btn-lg.btn-default,
.sppb-btn.sppb-btn-lg.sppb-btn-default{
    background-color: #fff;
    border-color: #fff;
    &:hover,
    &:focus,
    &:active{
        background-color: darken(#fff, 7%);
        color: #363636;
    }
}
.btn.btn-primary,
.sppb-btn.sppb-btn-primary,
.btn.btn-lg.btn-primary,
.sppb-btn.sppb-btn-lg.sppb-btn-primary{
    color: #fff;
}
.btn.btn-success,
.sppb-btn.sppb-btn-success,
.btn.btn-lg.btn-success,
.sppb-btn.sppb-btn-lg.sppb-btn-success{
    background-color: #58cf68;
    color: #fff;
    &:hover,
    &:focus,
    &:active{
        background-color: darken(#58cf68, 10%); 
    }
}
.btn.btn-info,
.sppb-btn.sppb-btn-info,
.btn.btn-lg.btn-info,
.sppb-btn.sppb-btn-lg.sppb-btn-info{
    background-color: #24252a;
    color: #fff;
    &:hover,
    &:focus,
    &:active{
        background-color: darken(#24252a, 10%); 
    }
}
.btn.btn-warning,
.sppb-btn.sppb-btn-warning,
.btn.btn-lg.btn-warning,
.sppb-btn.sppb-btn-lg.sppb-btn-warning{
    background-color: #ff3d00;
    color: #fff;
    &:hover,
    &:focus,
    &:active{
        background-color: darken(#ff3d00, 10%); 
    }
}
.btn.btn-danger,
.sppb-btn.sppb-btn-danger,
.btn.btn-lg.btn-danger,
.sppb-btn.sppb-btn-lg.sppb-btn-danger{
    background-color: #e35358;
    color: #fff;
    &:hover,
    &:focus,
    &:active{
        background-color: darken(#e35358, 10%); 
    }
}
.btn.btn-link,
.sppb-btn.sppb-btn-link,
.btn.btn-lg.btn-link,
.sppb-btn.sppb-btn-lg.sppb-btn-link{
    &:hover,
    &:focus,
    &:active{
        color: darken(#363636, 10%); 
        text-decoration: none;
    }
}

/* ************** 	  END:: Buttons   	**************** */
/* ***************************************************** */


/* ************** 	  START input   	**************** */
/* ***************************************************** */

//input
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	.form-control();
	border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 45px !important;
    padding: 6px 15px !important;
    border: 1px solid #ededed !important;
    background-color: #fff;
    .transition(.3s);
    &:focus{
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline: none !important;
        border-color: darken(#ededed, 15%) !important;
    }
}
.sppb-form-control{
	border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 45px;
    padding: 6px 15px;
    border: 1px solid #ededed;
    background-color: #fff;
    .transition(.3s);
    &:focus{
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
        border-color: darken(#ededed, 15%);
    }
}
.group-control {
	select,
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	.uneditable-input {
		width: 100%;
	}
}

/* ************** 	  END:: input   	**************** */
/* ***************************************************** */
