/**
 * @package Helix Framework
 * @Template: Shaper News365
 * @author JoomShaper http://www.joomshaper.com
 * @copyright Copyright (c) 2010 - 2016 JoomShaper
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or later
*/


/* ************** 	Start Base Style 	  *************** */
/* ****************************************************** */

a {
	-webkit-transition: color 400ms, background-color 400ms;
	transition: color 400ms, background-color 400ms;
	display: inline-block;
}

body {
	line-height: 24px;
	display: block;
 	text-rendering: optimizeLegibility !important;
 	-moz-osx-font-smoothing: grayscale !important;
 	-webkit-font-smoothing: antialiased !important;
}

body.com-content .sppb-row-container {
	width: auto !important;
}

a,
a:hover,
a:focus,
a:active {
 	outline: none;
	text-decoration: none;
}

label {
	font-weight: normal;
}

legend {
	padding-bottom: 10px;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
ul,ol{
 	margin: 0;
 	padding: 0;
 	list-style: none;
 }
 input{
 	padding: 0;
 }
 input:focus{
 	outline: none;
 }

/* ************** 	End:: Base Style 	  *************** */
/* ****************************************************** */


/* ************** 	Start Global Style 	*************** */
/* **************************************************** */
//modal center
.modal {
    text-align: center;
}

@media screen and (min-width: 768px) { 
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    z-index: 9999;
}

//system-message
#system-message{
	max-width: 1335px;
	margin: 0 auto;
	.alert{
		margin: 15px 0;
		background: #f5f5f5;
		border-radius: 0;
		border: none;
	}
}
// alert
.alert.alert-success{
	color: #3c763d;
    background-color: #dff0d8;
}
.alert.alert-info{
	color: #31708f;
    background-color: #d9edf7;
}
.alert.alert-warning{
	color: #8a6d3b;
    background-color: #fcf8e3;
}
.alert.alert-error{
	background: #f2dede;
	color: #a94442;
}

//banner
.banneritem{
	a{
		display: block;
		img{
			display: inline-block;
		}
	}
}
/* ************** 	END:: Global Style 	*************** */
/* **************************************************** */



/* ************** 	   Start Button 	  *************** */
/* ****************************************************** */

.btn,
.sppb-btn {
	.transition(~'color 400ms, background-color 400ms, border-color 400ms');
}


//Offline
.offline-inner {
	margin-top: 100px;
}

//input
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  .form-control();
}

.group-control {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .uneditable-input {
    width: 100%;
  }
}

/* ************** 	   End:: Button 	  *************** */
/* ****************************************************** */




/* ************* 	 Start  Top Bar 	***************** */
/* ****************************************************** */
#sp-top-bar {
	color: #fff;
	line-height: 40px;
	.sp-module {
		display: inline-block;
		margin: 0;
		&.top-login{
			margin-left: 40px;
			.info-text{
				a{
					color: #fff;
					&:hover{
						color: rgba(255, 255, 255, 0.7);
					}
				}
			}
		}
		&.top-register-button{
			margin-left: 40px;
			p{
				margin: 0;
				a{
					color: #fff;
					&:hover{
						color: rgba(255, 255, 255, 0.7);
					}
				}
			}
		}
	}
}

#sp-top2{
	text-align: right;
}
ul.social-icons {
	list-style: none;
	padding: 0;
	display: inline-block;
	>li {
		display: inline-block;
		margin: 0 0 0 15px;
		a {
			color: #fff;
			&:hover{
				color: rgba(255, 255, 255, 0.7);
			}
		}
	}
}

// language switcher
.sp-module-content {
	.mod-languages {
		ul.lang-inline {
			margin: 0;
			padding: 0;

			li {
				border: none;
				display: inline-block;
				margin: 0 5px 0 0;

				a {
					padding: 0 !important;
				}

				>a:before {
					display: none;
				}
			}
		}
	}
}

.sp-contact-info {
	float: right;
	list-style: none;
	padding: 0;
	margin: 0 -10px;
	li {
		display: inline-block;
		margin: 0 10px;
		font-size: 90%;
		
		i{
			margin: 0 3px;
		}
	}
}
/* ************* 	 End::  Top Bar 	 ***************** */
/* ****************************************************** */


/* ************* 	   Start Header 	 **************** */
/* ****************************************************** */

#sp-header{
	background: #ffffff;
	padding: 33px 0;
	.logo {
		display: inline-block;
		height: 90px;
		display: table;
		h1 {
			font-size: 24px;
			line-height: 1;
			margin: 0;
			padding: 0;
			display: table-cell;
			vertical-align: middle;
		}

		p {
			margin: 5px 0 0;
		}
	}

	.sp-retina-logo {
		display: none;
	}

}
#sp-header-right{
	text-align: right;
}
.sticky-wrapper.is-sticky {
	position: relative;
	z-index: 999;
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
	#sp-header {
		.sp-default-logo {
			display: none;
		}
		.sp-retina-logo {
			display: block;
		}
	}
}

#sp-main-menu{
	border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    background-color: rgba(255,255,255,.95);
    .transition(.3s);
}
.news365-top-search{
	.searchnews365-top-search{
		min-width: 240px;
	}
	form{
		position: relative;
		&:after {
			content: "\f002";
			font-family: fontawesome;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			font-size: 16px;
		}
		input{
			border: none !important;
			box-shadow: none;
			border-left: 1px solid #ededed !important;
			border-radius: 0;
			width: 100%;
			height: 35px !important;
			background: none;
			&::-webkit-input-placeholder {
				color: #e3e3e3;
			}
			&::-moz-placeholder {
				color: #e3e3e3;
			}
			&:-ms-input-placeholder {
				color: #e3e3e3;
			}
			&:-moz-placeholder {
				color: #e3e3e3;
			}
		}
	}
}
#sp-menu-right{
	>div{
		display: table;
		height: 61px;
		.sp-module{
			display: table-cell;
			vertical-align: middle;
			margin-top: 0;
		}
	}
}
.is-sticky #sp-main-menu{
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

//vertical-tabs
.sp-megamenu-parent .sp-module.menu-article-tabbed{
	padding: 0;
}
.sp-vertical-tabs {
	.sp-tab-content{
		padding: 50px 0;
	}
	.sp-tab-btns {
		list-style: none;
		padding: 0;
		margin: 0;
		background-color: #303030;
		display: table;
		position: relative;
		&:before,
		&:after {
			content: " ";
			position: absolute;
			top: 0;
			height: 100%;
			width: 2000px;
			background: #303030;
			z-index: 10;
		}
		&:before{
			left: -2000px;
		}
		&:after{
			right: -2000px;
		}
		>li {
			display: inline-block;
			float: left;
			border: none;
			>a {
				display: block;
				line-height: 65px;
				padding: 0 20px;
				color: #fff;
				font-size: 16px;
				&:before{
					display: none;
				}
			}

			&.active>a,
			&:hover>a{
				color: #fff;
			}
		}
	}

	.sp-tab-pane {
		display: none;
		&.active {
			display: block;
		}
		.sp-article-inner{
			position: relative;
			.sp-img-wrapper{
				overflow: hidden;
				a{
					display: block;
					position: relative;
					img{
						width: 100%;
						.transition(.3s);
					}
					&:before{
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						opacity: 0;
						z-index: 5;
						.transition(.3s);
					}
					&:after{
						content: "\f1ea";
						font-family: fontawesome;
						font-size: 0;
						color: #fff;
						position: absolute;
						top: 50%;
						left: 50%;
						opacity: 0;
						-webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
						z-index: 10;
						.transition(.3s);
					}	
				}
			}
			&:hover{
				.sp-img-wrapper a:before{
					opacity: 1;
				}
				.sp-img-wrapper a:after{
					.transition-delay(.15s);
					font-size: 50px;
					opacity: 1;
				}
				.sp-img-wrapper img{
					.scale(1.3);
				}
			}
		}
		.sp-article-info{
			margin-top: 20px;
		    .entry-title{
		    	margin: 0;
		    	line-height: 1.5;
		    	>a{
			    	color: #fff;
			    	.transition(.3s);
			    	&:hover{
			    		opacity: .7;
			    	}
		    	}
		    }
		}
	}
}

/************** 	   End:: Header 	 ******************/
/* ****************************************************** */


/* *************    Start Page Title    ***************** */
/* ****************************************************** */

#sp-title {
	min-height: 0;
}

.sp-page-title {
	padding: 65px 0 0;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	background-attachment: fixed;
	h1,h2,h3 {
		margin: 0;
		padding: 0;
		color: #000;
	}
	h1{
		font-size: 54px;
	}

	h2 {
		font-size: 24px;
		line-height: 1;
	}

	h3 {
		font-size: 14px;
		font-weight: normal;
		line-height: 1;
		margin-top: 10px;
	}
	.title{
		text-transform: uppercase;
	}
	.breadcrumb {
		background: none;
		padding: 0;
		margin: 10px 0 0 0;
		>.active {
			color: rgba(255, 255, 255, 0.8);
		}

		>span,
		>li,
		>li+li:before,
		>li>a {
			color: #fff;
		}
	}
}

/* *************    End:: Page Title    ***************** */
/* ****************************************************** */


/* **********    Start Body Innerwrapper   ************** */
/* ****************************************************** */

.body-innerwrapper{
	overflow-x: hidden;
	.transition(.4s);
}

.layout-boxed .body-innerwrapper {
	max-width: 1240px;
	margin: 0 auto;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#sp-main-body {
	padding: 65px 0 85px;
}

.com-sppagebuilder #sp-main-body {
	padding: 0;
}

/* **********    End:: Body Innerwrapper   ************** */
/* ****************************************************** */


/* ************************************************************************************ */
/* ************** 	 	Start Page Builder Addons & Home Sections	 	*************** */
/* ************************************************************************************ */

.sppb-addon-cta {
	.sppb-cta-subtitle{
		margin-bottom: 0;
		line-height: 26px !important;
	}
	.sppb-btn-lg {
		margin-top: 30px;
	}

}

//Image content addon
//Image content addon
.sppb-addon-image-content {
	position: relative;
	.sppb-image-holder {
		position: absolute;
		top: 0;
		width: 50%;
		height: 100%;
		background-position: 50%;
		background-size: cover;
	}

	&.aligment-left {
		.sppb-image-holder {
			left: 0;
		}

		.sppb-content-holder {
			padding: 120px 0 120px 50px;
		}
	}

	&.aligment-right {
		.sppb-image-holder {
			right: 0;
		}

		.sppb-content-holder {
			padding: 120px 50px 120px 0;
		}
	}

}


@media (max-width: @screen-sm-min) {
	.sppb-addon-image-content {
		.sppb-image-holder {
			position: inherit;
			width: 100% !important;
			height: 300px;
		}
	}
}

/* ************	  	       Start Tab  	   	 	********** */
/* ******************************************************* */

.sppb-nav-pills,
.sppb-addon-tab .sppb-nav-tabs{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
	border-radius: 2px;
	margin-bottom: 20px;
	text-align: center;
	>li{
		margin: 0;
		+li{
			margin: 0;
		}
		&.active{
			color: #fff;
			a,
			a:hover,
			a:focus{
				border-radius: 0;
			}
		}
		>a{
			color: #24252a;
			border-radius: 0;
			padding: 0 30px;
			line-height: 50px;
			margin: 0;
			&:hover,&:focus{
				background-color: transparent;
			}
		}
	}
}

// sppb-addon-tab
.sppb-addon-tab {
	.sppb-nav-tabs{
		border: none;
		background: #e1e1e1;
		margin-bottom: 0;
		>li{
			&.active{
				>a,
				a:hover,
				a:focus{
					color: #fff;
				}
			}
			>a{
				font-size: 14px;
				line-height: 60px;
				border: none;
				&:hover,
				&:focus{
					background-color: transparent;
					border: none;
					outline: none;
				}
			}
		}
	}
	.sppb-tab-content{
		background: #fafafa;
		padding: 40px 30px;
		.sppb-tab-pane{
			padding: 0;
		}
	}
}
.news365-tab-style2{
	.sppb-tab-content{
		padding: 0;
		background-color: transparent;
	}
}

.sp-tab-modules .items_mask .tab-padding .article-list-img{
	width: 33%;
}
.sp-tab-modules .items_mask .tab-padding .news365-news-title{
	width: 67%;
}

/* ************ 		  END:: Tab 		 	********** */
/* ******************************************************* */

/* ************	  	    Start Accordion   	 	********** */
/* ******************************************************* */

//Accordion Default
.sppb-addon-accordion{
	.sppb-panel{
		border: 0;
		box-shadow: none;
		background: none;		
		.sppb-panel-heading{
			border-radius: 0;
			padding: 0 20px;
			line-height: 46px;
			background-color: transparent;
			border: solid 1px #706d6d;
			position: relative;
			&.active{
				background-color: #fff;
				&:before {
					content: "\f068";
				}
			}
			&:before {
				position: absolute;
				font-family: FontAwesome;
				content: "\f067";
				right: 0;
				top: 0;
				font-size: 12px;
				color: #24252a;
				padding: 0 17px;
				border-left: 1px solid #706d6d;
			}
			span.sppb-panel-title{
				color: #38434a;
				font-size: 16px;
			}
		}
		.sppb-panel-body{
			padding: 30px 20px 10px;
			border-top: 0 !important;
			font-size: 16px;
			line-height: 24px;
		}
	}
	.sppb-panel-group .sppb-panel + .sppb-panel{
		margin-top: 20px;
	}
}

//Accordion Primary
.sppb-addon-accordion{
	.sppb-panel-primary{
		.sppb-panel-heading{
			border-color: #cfcfcf;
			background-color: #e1e1e1;
			&.active {
				background-color: #24252a;
				border-color: #24252a;
				span{
					color: #fff;
				}
				&:before{
					color: #fff;
					border-color: #393b42;
				}
			}
			&:before{
				border-color: #cfcfcf;
			}
		}
	}
}

//Accordion Success
.sppb-addon-accordion{
	.sppb-panel.sppb-panel-success{
		.sppb-panel-heading{
			color: #fff;
			border-color: #36be49;
			background-color: #36be49;
			span{
				color: #fff;
			}
			&.active {
				border-color: #36be49;
				background-color: #36be49;
			}
			&:before{
				color: #fff;
				border-color: darken(#36be49, 5%);
				background-color: darken(#36be49, 5%);
			}
		}
	}
}

//Accordion Info
.sppb-addon-accordion{
	.sppb-panel.sppb-panel-info{
		.sppb-panel-heading{
			color: #000;
			border: none;
			border-bottom: 1px solid #e1e1e1;
			background-color: transparent;
			span{
				color: #000;
			}
			&.active {
				border: none;
				border-bottom: 1px solid #e1e1e1;
				background-color: transparent;
			}
			&:before{
				border: none;
				background-color: transparent;
			}
		}
	}
}

//Accordion Danger
.sppb-addon-accordion{
	.sppb-panel.sppb-panel-danger{
		.sppb-panel-heading{
			color: #fff;
			border-color: #dc272d;
			background-color: #dc272d;
			span{
				color: #fff;
			}
			&.active {
				border-color: #dc272d;
				background-color: #dc272d;
			}
			&:before{
				color: #fff;
				border-color: darken(#dc272d, 5%);
				background-color: darken(#dc272d, 5%);
			}
		}
	}
}

//Accordion Warning
.sppb-addon-accordion{
	.sppb-panel.sppb-panel-warning{
		.sppb-panel-heading{
			color: #fff;
			border-color: #ff3d00;
			background-color: #ff3d00;
			span{
				color: #fff;
			}
			&.active {
				border-color: #ff3d00;
				background-color: #ff3d00;
			}
			&:before{
				color: #fff;
				border-color: darken(#ff3d00, 5%);
				background-color: darken(#ff3d00, 5%);
			}
		}
	}
}

/* ************	  	    END:: Accordion   	 	********** */
/* ******************************************************* */

/* ************	  	  START Progressbar   	 	********** */
/* ******************************************************* */

.sppb-progress {
	margin-bottom: 5px;
	height: 4px;
	background-color: #706d6d;
	border-radius: 0;
}
.sppb-progress-wrap {
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 10px;
}

/* ************	  	  END:: Progressbar   	 	********** */
/* ******************************************************* */

/* ************       Start  Addon Articles     ********** */
/* ******************************************************* */
.section-bg-color{
	.sppb-addon-articles .sppb-addon-section-right >a{
		&:before{
			color: rgba(0,0,0,.2);
		}
		&:hover{
			&:before{
				color: #fff;
			}
		}
	}
}

.recommended-news.sppb-addon-articles .sppb-addon-section-right >a{
	&:before{
		color: #4a4a4a;
	}
	&:hover{
		&:before{
			color: #fff;
		}
	}
}


.sppb-addon-articles{
	.sppb-addon-title{
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 30px;
		display: inline-block;
	}
	.sppb-addon-section-right{
		display: inline-block;
		float: right;
		>a{
			position: relative;
			text-indent: -9999px;
			&:before {
				content: "\f054";
				font-family: fontawesome;
				font-size: 16px;
				color: #e5e5e5;
				text-indent: 1px;
				position: absolute;
				right: 0;
				width: 36px;
				height: 36px;
				border: 3px solid;
				text-align: center;
				line-height: 33px;
				border-radius: 20px;
				.transition(.3s);
			}
		}
	}
}

.sppb-addon-article{
	.sppb-img-wrapper{
		position: relative;
		overflow: hidden;
		margin-bottom: 40px;
		img{
			.transition(.3s);
		}
		&:before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			z-index: 5;
			.transition(.3s);
		}
		&:after{
			content: "\f1ea";
			font-family: fontawesome;
			font-size: 0;
			color: #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			opacity: 0;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			z-index: 10;
			.transition(.3s);
		}	
	}
	&:hover{
		.sppb-img-wrapper:before{
			opacity: 1;
		}
		.sppb-img-wrapper:after{
			.transition-delay(.15s);
			font-size: 50px;
			opacity: 1;
		}
		.sppb-img-wrapper img{
			.scale(1.3);
		}
	}
	.sppb-meta-category{
		a{
			color: #949494;
			text-transform: uppercase;
			font-weight: 400;
		}
	}
	.sppb-article-title{
		margin: 5px 0 30px;
		a{
			color: #000;
			line-height: 1.25;
		}
	}
	&.leading-item{
		.sppb-article-title{
			margin: 5px 0 25px;
		}
		.sppb-article-introtext{
			margin-bottom: 70px;
		}
	}
	.sppb-readmore{
		color: #000;
	}
	.sppb-article-introtext{
		margin-bottom: 30px;
		font-size: 16px;
	}
	.sppb-article-meta{
		line-height: 1.3;
		>span{
			color: #949494;
			font-size: 14px;
		}
	}
	.sppb-post-share-social{
		display: inline-block;
		float: right;
		font-size: 16px;
		margin-top: 5px;
		overflow: hidden;
		a {
			color: #ccc;
			margin-right: 10px;
			display: inline-block;
		}
		.sppb-post-share-social-others{
			display: inline-block;
			margin-right: -78px;
			opacity: 0;
			visibility: hidden;
			transition: .3s;
		}
		.share-button{
			width: 20px;
			color: #ccc;
			overflow: hidden;
			float: right;
			z-index: 10;
			position: relative;
			background: #fff;
			cursor: pointer;
			.transition(.3s);
		}
		.share-button.active+.sppb-post-share-social-others{
			margin-right: 0;
			opacity: 1;
			visibility: visible;
		}
		.share-button:hover,
		.share-button.active{
			color: #999;
		}
	}
}

// layout-featured
.layout-featured{
	.sppb-addon-article.leading-item {
		margin-bottom: 10px;
		overflow: hidden;
		.sppb-img-wrapper{
			width: 58%;
			float: left;
		}
		.sppb-article-details{
			width: 42%;
			float: left;
			padding-left: 50px;
			margin-top: 25px;
			.sppb-meta-category{
				font-size: 18px;
				display: block;
				margin-bottom: 10px;
			}
			.sppb-article-title{
				font-size: 40px;
			}
		}
	}
}

//layout-default
.layout-default{
	.sppb-addon-article{
		margin-bottom: 55px;
		border-bottom: 1px solid rgba(0,0,0,.3);
		padding-bottom: 20px;
		.transition(.3s);
		&:hover{
			border-bottom-color: #fff;
		}
		.sppb-meta-category a,
		.sppb-article-title a,
		.sppb-readmore,
		.sppb-article-meta >span{
			color: #fff;
		}
		.sppb-article-title {
			margin: 5px 0 20px;
		}
		.sppb-post-share-social a{
			color: #fff;
			&:hover{
				color: #000;
			}
		}
		.sppb-post-share-social .share-button{
			color: #fff;
		}
	}
	.sppb-row>div:nth-child(3n+1) {
		clear: left;
	}
	&.recommended-news{
		.sppb-row>div:nth-child(3n+1) {
			clear: none;
		}
	}
}

//layout-business
.layout-business{
	.sppb-addon-article.intro-item{
		&:hover .sppb-img-wrapper:after{
			font-size: 30px;		
		}
		.sppb-img-wrapper{
			margin-bottom: 15px;
		}
		.sppb-article-title{
			font-size: 16px;
		    margin-bottom: 20px;
		    a{
		    	line-height: 1.6;
		    }
		}
	}
	.leading-item.sppb-addon-article .sppb-img-wrapper{
		margin-bottom: 30px;
	}
	.intro-item.sppb-addon-article{
		margin-bottom: 40px;
	}
}

//layout-technology
.layout-technology{
	.sppb-addon-article{
		display: table;
		&:hover .sppb-img-wrapper:after{
			font-size: 30px;		
		}
		.sppb-img-wrapper{
			width: 40%;
			display: table-cell;
		}
		.sppb-article-details{
			width: 60%;
			padding-left: 30px;
			display: table-cell;
			vertical-align: middle;
			.sppb-article-title{
				margin-bottom: 15px;
				a{
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					max-height: 60px;
					-webkit-line-clamp: 2;
					line-clamp: 2;
					-webkit-box-orient: vertical;
					-moz-box-orient: vertical;
					-ms-box-orient: vertical;
					box-orient: vertical;
				}
			}
			.sppb-article-meta{
				margin: 0;
				>span{
					line-height: 1;
				}
			}
		}
	}
}

//recommended-news
.recommended-news.sppb-addon-articles{
	.sppb-addon-article{
		border-bottom: none;
		padding-bottom: 0;
		margin-bottom: 0;
		.sppb-img-wrapper{
			margin-bottom: 10px;
		}
		.sppb-meta-category a, 
		.sppb-readmore, 
		.sppb-article-meta >span{
			color: #949494;
		}
		.sppb-article-title{
			font-size: 22px;
		}
		.sppb-post-share-social a{
			color: #949494;
		}
		.sppb-post-share-social .share-button{
			color: #949494;
			background-color: #363636;
		}

	}
}

//layout-featured-2
.layout-featured.layout-featured-2{
	.sppb-addon-article{
		&.leading-item{
			margin-bottom: 35px;
		}
		.sppb-img-wrapper{
			width: 100%;
			float: inherit;
			margin-bottom: 10px;
		}
		.sppb-article-details{
			width: 100%;
			float: inherit;
			padding-left: 0;
			margin-top: 0;
			.sppb-meta-category{
				font-size: 14px;
				margin-bottom: 0;
			}
			.sppb-article-title{
				font-size: 26px;
				margin-bottom: 15px;
			}
		}
		&.intro-item{
			.sppb-article-details .sppb-article-title{
				font-size: 18px;
			}
			.sppb-article-title a{
				line-height: 1.4;
			}
		}
	}
}

//video-articles
.video-articles{
	.sppb-addon-article.leading-item {
		.sppb-img-wrapper{
			display: block;
			width: 100%;
			&:before{
				display: none;
			}
			&:after{
				content: "\f04b";
				top: inherit;
				left: 0;
				bottom: 0;
				width: 100px;
				height: 100px;
				line-height: 100px;
				font-size: 35px;
				opacity: 1;
				text-align: center;
				color: #fff;
				 -webkit-transform: translate(0); 
				transform: translate(0);
			}
		}
		.sppb-article-details{
			width: 100%;
			padding-left: 0;
			margin-top: 0;
		}
	}
}

// sp-tab-modules
.sp-tab-modules{
	.tabs_buttons{
		border-bottom: 1px solid #f4f4f4;
		padding-bottom: 10px;
		ul.tabs_container li.tab{
			font-size: 16px;
			color: #949494;
			padding: 0 45px 0 0 !important;
			.transition(.3s);
		}
		
	}
	.items_mask{
		margin-top: 20px;
		.tab-padding{
			padding: 0 !important;
			>div>div{
				margin-bottom: 30px;
				overflow: hidden;
				display: table;
				&:hover{
					.article-list-img a:before{
						opacity: 1;
					}
					.article-list-img a:after{
						.transition-delay(.15s);
						font-size: 30px;
						opacity: 1;
					}
				}
			}
			.article-list-img{
				width: 35%;
				position: relative;
				display: table-cell;
				vertical-align: middle;
				img{
					width: 100%;
				}
				a{
					display: block;
					&:before{
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						opacity: 0;
						z-index: 5;
						.transition(.3s);
					}
					&:after{
						content: "\f04b";
						font-family: fontawesome;
						font-size: 0;
						color: #fff;
						position: absolute;
						top: 50%;
						left: 50%;
						opacity: 0;
						-webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
						z-index: 10;
						.transition(.3s);
					}	
				}
			}
			.news365-news-title{
				font-size: 16px;
				width: 65%;
				display: table-cell;
				vertical-align: middle;
				padding-left: 25px;
			}
		}
	}	
}

/* ************      END:: Addon Articles       ********** */
/* ******************************************************* */

/* ************	  Start  Addon Artilces Slider  ********** */
/* ******************************************************* */
.sppb-addon-articles-slider{
	.sppb-addon-title{
		margin-top: 0;
	}
	.sppb-addon-article.item{
		.sppb-img-wrapper{
			margin-bottom: 15px;
			display: block;
			&:after{
				content: "\f083";
			}
		}
		.sppb-article-details{
			.sppb-category-icon{
				color: #949494;
				font-size: 16px;
				margin-right: 10px;
			}
			.sppb-meta-category{
				a{
					color: #000;
				}
			}
			.article-title{
				line-height: 1.4;
				margin-top: 10px;
				margin-bottom: 0;
				a{
					color: #949494;
				}
			}
			.sppb-article-introtext{
				font-size: 14px;
			}
		}
	}
	.owl-prev, .owl-next{
		text-indent: -999px;
		position: relative;
		background: none !important;
		overflow: hidden;
		position: absolute;
		top: -90px;
		right: 30px;
		&:before {
			content: "\f104";
			font-family: fontawesome;
			color: #e5e5e5;
			text-indent: 0;
			position: absolute;
			top: 0;
			left: 0;
			font-size: 40px;
			.transition(.3s);
		}
		&:hover:before{
			color: darken(#e5e5e5, 20%);
		}
	}
	.owl-next{
		right: 0;
		&:before{
			content: "\f105";
		}
	}
	.owl-dots .owl-dot span{
		.transition(.3s);
	}
}
/* ************   END:: Addon Artilces Slider   ********** */
/* ******************************************************* */


/* *********     Start  Addon Artilces headline    ******* */
/* ******************************************************* */
.artilces-headline-wrapper{
	border-bottom: 1px solid #ededed;
    padding: 0 0 20px;
}
.sppb-addon-articles-headline.sppb-addon-articles-slider{
	.sppb-addon-article.item .sppb-article-details .sppb-meta-category a{
		color: #949494;
	}
	.sppb-addon-article.item .sppb-article-details .article-title a{
		font-size: 16px;
	}
	.sppb-addon-title{
		display: inline-block;
	}
	.customNavigation{
		display: inline-block;
		margin-left: 20px;
	}
	a.sppbSlideNext,
	a.sppbSlidePrev{
		color: #949494;
		font-size: 24px;
		cursor: pointer;
	}
	.sppbSlidePrev{
		margin-right: 10px;
	}
}

/* *********     End::  Addon Artilces headline    ******* */
/* ******************************************************* */


/* ************    Start  Addon ajax contact    ********** */
/* ******************************************************* */
.contact-info{
	.sppb-addon-title{
		margin-bottom: 30px;
		text-transform: uppercase;
		border-bottom: 1px solid #e9eaed;
		padding-bottom: 15px;
	}
	.sppb-addon-content{
		font-size: 16px;
		margin-bottom: 30px;
	}
}

.sppb-ajaxt-contact-form{
	.sppb-form-group{
		width: 33.3333%;
		padding-right: 20px;
		float: left;
	}
	.sppb-form-group:nth-child(3){
		padding-right: 0;
	}
	.sppb-form-group:nth-child(4){
		width: 100%;
		padding-right: 0;
		padding-top: 10px;
	    padding-bottom: 40px;
	}
	button{
		float: right;
	}
}

/* ************    End::  Addon ajax contact    ********** */
/* ******************************************************* */

/* ************************************************************************************ */
/* ************** 	 	End:: Page Builder Addons & Home Sections	 	*************** */
/* ************************************************************************************ */



/* ************************************************************************************ */
/* ***************** 	 			 Start j2 components 	 		  ***************** */
/* ************************************************************************************ */

.j2store-cart-table-wrapper{
	margin-bottom: 50px;
}

/* ************     Start Shop Listing    ************* */
/* **************************************************** */
.j2store-product-list{
	.j2store-single-product{
		margin-bottom: 50px;
		position: relative;
		.product-stock-container{
			position: absolute;
			top: 100%;
			margin-top: 5px;
			font-size: 12px;
		}
	}
}
.product-crosssells-container,.product-upsells-container,.j2store-product-list {
    h3{
        font-size: 24px;
    }
    .j2store-upcross-title{
        font-size: 24px;
        font-weight: 700;
        margin: 0 0 35px;
        text-transform: uppercase;
    }
    .j2store-content{
        .j2store-title-wrap{
            display: table;
            clear: both;
            width: 100%;
            margin-top: 20px;
            .product-title{
                float: left;
                line-height: 1;
                margin: 0;
                a{
                    font-size: 24px;
                    color: #363636;
                    font-weight: 400;
                }
            }
            .product-price-container{
                float: right;
                .sale-price{
                    color: #e10613;
                    font-size: 24px;
                    font-weight: 500;
                }
            }
        }
        .product-stock-container{
            display: block;
        }
    }
    .j2store-productlist-img-wrap{
        position: relative;
        .product-icons{
            bottom: 0;
            height: 65px;
            position: absolute;
            top: auto;
            z-index: 2;
            .j2store-addtocart-form {
                margin-top: 0;
                .cart-action-complete {
                    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
                    float: right;
                    height: 65px;
                    line-height: 65px;
                    padding: 0 15px 0 80px;
                    .text-success{
                        margin-bottom: 0;
                    }
                }
                .product-qty{
                    display: none;
                }
            }
        }
        .btn.btn-primary.j2store_add_to_cart_button,.j2store-cart-button {
            background: #363636;
            border: medium none;
            color: #fff;
            font-size: 24px;
            height: 65px;
            left: 0;
            padding: 1px 0 0;
            position: absolute;
            top: 0;
            width: 72px;
            transition: all 300ms ease;
            outline: 0;
            line-height: 65px;
            box-shadow: none;
            &:hover,
                &:active,
                &:focus{
                box-shadow: none;
            }
        }
        .j2store-product-images{
            position: relative;
            overflow: hidden;
            .mod_pic{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(225, 6, 19, .8);
                text-align: center;
                visibility: hidden;
                -webkit-transition: all 300ms ease;
                transition: all 300ms ease;
                opacity: 0;
                z-index: 1;
                a{
                    font-size: 48px;
                    color: #fff;
                    height: 45px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    position: absolute;
                    -webkit-transform: scale(0);
                    transform: scale(0);
                    -webkit-transition: all 300ms ease;
                    transition: all 300ms ease;
                    left: 0;
                    right: 0;
                    width: 60px;
                }
            }
            .j2store-thumbnail-image{
                a{
                    display: block;
                    img{
                        -webkit-transition: all 300ms ease;
                        transition: all 300ms ease;
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }
                }
            }
            &:hover{
                .mod_pic{
                    visibility: visible;
                    opacity: 1;
                    a{
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }
                }
                .j2store-thumbnail-image{
                    a{
                        img{
                            -webkit-transform: scale(1.3);
                            transform: scale(1.3);
                        }
                    }
                }
            }
        }
    }
    .items-row{
        .bannergroup.blog-bottom-add{
            margin: 10px 0 70px;
        }
    }
}
.product-crosssells-container{
    margin-top: 70px;
}

/* ************     End:: Shop Listing    ************* */
/* **************************************************** */


/* ************     Start Shop Details    ************* */
/* **************************************************** */

.j2store-single-product{
    .j2store-mainimage{
        span{
            img{
                width: 100%;
            }
        }
    }
    .product-content{
        .product-title{
            color: #363636;
            font-size: 36px;
            font-weight: 400;
            margin: 26px 0 10px;
        }
        .price-sku-brand-container{
            .vm-product-availability{
                color: #767676;
                font-size: 16px;
                margin-bottom: 0;
                margin-top: 0;
                &.in-stock{
                    span{
                        color: #8dc63f;
                        font-weight: 600;
                    }
                }
                &.out-of-stock{
                    span{
                        font-weight: 600;
                    }
                }
            }
            .product-sdesc{
                padding-top: 20px;
                p{
                    color: #767676;
                    font-size: 14px;
                    line-height: 1.714;
                }
            }
            .product-sku{
                span{
                    color: #767676;
                    font-size: 14px;
                }
            }
        }
        .product-price{
            padding: 0;
            .product-price-container{
                margin-bottom: 10px;
                span{
                    color: #e10613;
                    font-family: "Poppins",sans-serif;
                    font-size: 30px;
                    font-weight: 500;
                }
            }
        }
        .j2store-add-to-cart{
            .product-qty{
                position: relative;
                display: table;
                width: 100%;
                margin-bottom: 40px;
                span{
                    display: none;
                }
                input{
                    border-style: solid;
                    border-width: 1px 0;
                    box-shadow: none;
                    color: #767676;
                    float: left;
                    font-size: 16px;
                    height: 40px !important;
                    outline: 0 none;
                    padding: 3px 0 !important;
                    text-align: center;
                    width: 70px !important;
                    border-color: #d6d6d6 transparent !important;
                    &:focus{
                        box-shadow: none;
                        outline: 0;
                    }
                }
                input[type='number'] {
                    -moz-appearance:textfield;
                }
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }
                .j2store-qty-ctrt-wrap{
                    float: left;
                    div{
                        border: 1px solid #d6d6d6;
                        color: #767676;
                        font-size: 14px;
                        height: 40px;
                        line-height: 1;
                        padding: 12px 15px 0;
                        position: relative;
                        z-index: 1;
                        cursor: pointer;
                        &.j2store-qty-down{
                            margin-right: -1px;
                        }
                        &.j2store-qty-up{
                            margin-left: -1px;
                        }
                    }
                }
            }
            .j2store-cart-button{
                height: 45px;
                font-weight: 400;
                text-transform: none;
                &:hover,
                    &:focus,
                    &:active{
                    box-shadow: none;
                }
                i{
                    display: inline-block;
                    font-size: 20px;
                    line-height: 0.9;
                    margin-right: 10px !important;
                }
            }
        }
        .j2store-addtocart-form {
            margin-top: 0;
        }
    }
    .price-sku-brand-container{
        border:none;
        padding-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .j2store-product-additional-images{
        margin-top: 10px;
        .additional-image-list{
            li{
                display: inline-block;
                cursor: pointer;
                margin-right: 16px;
                &:last-child{
                    margin-right: 0;
                }
                img{
                    -webkit-transition: all 300ms ease;
                    transition: all 300ms ease;
                    opacity: 1;
                }
                &:hover{
                    img{
                        opacity: .5;
                    }
                }
            }
        }
    }
    .j2store-view-back-button{
        margin-top: 80px;
        a{
            font-weight: 400;
            text-transform: none;
            i{
                margin-right: 8px;
            }
        }
    }
    .product-stock-container{
        span{
            color: #8dc63f;
        }
    }
}
.tab-content{
    .tab-pane{
        .table{
            margin: 35px 0 30px;
            tbody{
                tr{
                    td{
                        border: medium none;
                        color: #767676;
                        font-size: 14px;
                        padding: 12px 20px;
                        &:first-child{
                            width: 35%;
                        }
                    }
                }
            }
        }
        .product-sdesc{
            padding: 30px 0 60px;
            p{
                color: #767676;
                font-size: 14px;
                line-height: 1.714;
            }
        }
    }
}
.tabs{
    margin-top: 20px;
    .nav.nav-tabs{
        border:0;
        li{
            margin: 0;
            a{
                color: #767676;
                border-radius: 0;
                border-width: 0 0 2px;
                &:hover,
                    &:focus{
                    background: transparent none repeat scroll 0 0;
                    border-color: transparent;
                }
                padding-left: 0;
                padding-right: 0;
                margin-right: 25px;
            }
            &.active{
                a{
                    border-radius: 0;
                    color: #e10613;
                }
            }
        }
    }
}

/* ************     End:: Shop Details    ************* */
/* **************************************************** */

//.checkout
.view-carts{
	.j2store-cart{
		.j2store-cart-table{
			input{
				padding: 0 12px !important;
				height: 35px !important;
				width: 69px !important;
				float: left;
			}
			a.btn{
				line-height: 35px;
			}
			tr>td{
				vertical-align: middle;
			}
		}
		.j2store-cart-buttons{
			.cart-continue-shopping-button{
				display: inline-block;
				margin-right: 10px;
			}
		}
	}
}
table.j2store-cart-table td.cart-line-subtotal,
table.cart-footer td{
	text-align: left;
}
.cart-estimator-discount-wrapper{
	background: #f9f9f9;
	margin: 0 15px;
    padding: 15px 15px 30px;
    overflow: hidden;
    h3{
    	font-size: 20px;
    	margin-bottom: 15px;
    }
    .cart-footer{
    	th,td{
    		text-align: left !important;
    		padding: 10px 15px;
    	}
    }
}
.cart-estimator-discount-block{
	margin-top: 25px;
	.coupon{
		margin-bottom: 20px;
		input[type="text"]{
			width: 55%;
			float: left;		
		}
	}
	.voucher{
		margin-bottom: 10px;
		input[type="text"]{
			width: 55%;
			float: left;		
		}
	}
	.cart-footer th{
		text-align: left !important;
	}
	#shipping{
		display: block;
		margin-top: 15px;
		tr {
			display: block;
			margin-bottom: 15px;
			width: 100%;
			td:first-child {
				padding-right: 20px;
				width: 140px;
			}
		}
	}
}
#shipping-payment-method{
	#onCheckoutPayment_wrapper{
		label{
			margin-right: 20px;
			&:first-child{
				margin-left: 5px;
			}
		}
	}
}
#j2store-checkout-content{
	>div{
		margin-bottom: 15px;
	}
	.checkout-heading{
		margin-bottom: 0;
		padding: 10px 20px;
	}
	.checkout-content{
		background: #f5f5f5;
		padding: 20px;
		border: 1px solid #DBDEE1;
		border-top: none;
	}
	#akeeba-renderjoomla{
		h2{
			font-size: 26px;
		}
	}
	#billing-address{
		#billing-existing{
			select{
				overflow: hidden;
			}
		}
	}
	#shipping-payment-method{
		#onCheckoutPayment_wrapper,.customer-note{
			margin-bottom: 20px;
			h3{
				margin-top: 0;
				font-size: 22px;
			}
		}
	}
	#confirm{
		.j2storeOrderSummary{
			h3{
				font-size: 22px;
				margin-top: 0;
				margin-bottom: 20px;
			}
		}
	}
}
.j2store .checkout-content{
	overflow: visible;
	.customer-note{
		margin-bottom: 10px;
	}
	.buttons{
		margin: 10px 0 20px;
	}
}
.view-myprofile{
	#j2storeaddressForm{
		padding: 0 20px !important;
	}
}

/* **********     Start j2store currency    *********** */
/* **************************************************** */

#j2store_currency{
	background: none !important;
    padding: 0 10px;
    margin-left: 20px;
    a{
	    border: none !important;
    	padding: 0 8px !important;
    	margin: 0 !important;
    	color: rgba(255,255,255,.5) !important;
    }
    a.active{
    	margin-left: 0;
    }
    a.active,a:hover,a:focus{
		color: rgba(255,255,255,1) !important;
		cursor: pointer;
		b{
			font-weight: 400;
		}
    }
}

/* **********     End:: j2store currency    *********** */
/* **************************************************** */


/* **********   Start j2store-cart-module   *********** */
/* **************************************************** */

.j2store-cart-module{
	padding-left: 20px;
	position: relative;
	>div{
		padding: 3px 0 3px 20px;
		border-left: 1px solid #ededed;
	}
	.cart-icon{
		font-size: 16px;
		cursor: pointer;
	}
	.j2store-cart-module-wrapper{
		position: absolute;
		width: 200px;
		right: 0;
		top: 100%;
		background: rgba(0,0,0,.95);
		color: #fff;
		padding: 30px;
		line-height: 1.5;
		margin-top: 20px;
		.transition(.3s);
		visibility: hidden;
		opacity: 0;
		z-index: 100;
		.info{
			font-size: 16px;
		}
		.link.btn{
			font-weight: 700;
			text-transform: capitalize;
			padding: 0 15px;
			line-height: 38px;
			margin-top: 10px;
		}
	}
	.cart-icon.active+.j2store-cart-module-wrapper {
		margin-top: 0;
		visibility: visible;
		opacity: 1;
	}
}

/* **********   End:: j2store-cart-module   *********** */
/* **************************************************** */


/* **************   Start Shop Sidebar  *************** */
/* **************************************************** */

.j2store-product-module.j2store-product-module-list {

	.product-title{
		padding: 0;
		margin: 0;
		a{
			line-height: 100%;
		}

	}

    .j2store-module-product {
        border-bottom: 1px solid #ededed;
        padding-bottom: 10px;
        margin-bottom: 15px;
        .product-title{
            a{
                color: #000;
                font-size: 16px;
                text-transform: capitalize;
                font-weight: 500;
                &:hover,
                    &:focus{
                    color: #e10613;
                }
            }
        }
        .product-price-container {
            margin-top: 5px;
            .sale-price {
                font-size: 14px;
                font-weight: 600;
                line-height: 1;
                color: #e10613;
            }
        }
        .product-cart-section{
            margin-left: 0;
            .j2store-product-image{
                padding-left: 0;
                width: 37%;
            }
            .product-cart-left-block {
                padding-left: 0;
                .product_cart_block{
                    form{
                        margin-top: 15px;
                        a{
                            background: transparent;
                            color: #363636;
                            font-weight: 400;
                            line-height: 1;
                            padding: 0;
                            text-transform: capitalize;
                            &:hover,
                                &:focus{
                                color: #e10613;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* **************   End:: Shop Sidebar  *************** */
/* **************************************************** */

/* ************************************************************************************ */
/* ***************** 	 			 End:: j2 components 	 		  ***************** */
/* ************************************************************************************ */


/* ************** 	    Start Module  	*************** */
/* **************************************************** */

.sp-module {
	margin-top: 50px;
	&:first-child {
		margin-top: 0;
	}
	.sp-module-title {
		margin: 0 0 20px;
		font-size: 14px;
		text-transform: uppercase;
		line-height: 1;
	}

	//Un-ordered List
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		>li {
			display: block;
			border-bottom: 1px solid #e8e8e8;
			-webkit-transition: 300ms;
			transition: 300ms;
			>a {
				display: block;
				padding: 5px 0;
				line-height: 36px;
				padding: 2px 0;
				-webkit-transition: 300ms;
				transition: 300ms;

				&:hover {
					background: none;
				}

				&:before {
					font-family: FontAwesome;
					content: "\f105";
					margin-right: 8px;
				}
			}

			&:last-child {
				border-bottom: none;
			}
		}
	}

	//List category
	.categories-module {
		ul {
			margin: 0 10px;
		}
	}

	//Latest News
	.latestnews {
		>div {
			padding-bottom: 5px;
			margin-bottom: 5px;
			border-bottom: 1px solid #e8e8e8;

			&:last-child {
				padding-bottom: 0;
				margin-bottom: 0;
				border-bottom: 0;
			}
			>a {
				display: block;
				font-weight: 400;
			}
		}
	}

	//Tags Cloud
	.tagscloud {
		margin: -2px 0;
		.tag-name {
			display: inline-block;
			padding: 5px 10px;
			background: #808080;
			color: #fff;
			border-radius: 4px;
			margin: 2px 0;

			span {
				display: inline-block;
				min-width: 10px;
				padding: 3px 7px;
				font-size: 12px;
				font-weight: 700;
				line-height: 1;
				text-align: center;
				white-space: nowrap;
				vertical-align: baseline;
				background-color: rgba(0, 0, 0, 0.2);
				border-radius: 10px;
			}
		}
	}
}
.sp-module .tagspopular ul>li >a,.tags a{
	&:focus, &:hover{
		background: none !important;
	}
}

/* ************** 	    End:: Module  	*************** */
/* **************************************************** */


/* ***********      Start  Login Form      ************ */
/* **************************************************** */

.login {
	img {
	display: inline-block;
	margin: 20px 0;
	}

	.checkbox {
	  input[type="checkbox"] {
	  	margin-top: 6px;
	  }
	}
}

.form-links{
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}

.sp-news365-login{
	.modal-backdrop.in{
		opacity: .9;
	}
	.modal-dialog{
		width: 770px;
	}
	.modal-content {
		border-radius: 0;
		padding: 70px 130px;
		color: #000;
		button{
			&:focus{
				outline: none;
			}
		}
		button.close {
			position: absolute;
			top: 20px;
			right: 30px;
			z-index: 1;
			.transition(.3s);
			i{
				width: 36px;
				height: 36px;
				text-align: center;
				border: solid 2px #c9c9c1;
				border-radius: 100%;
				line-height: 30px;
			}
		}
		.modal-body {
			padding: 0;
			label{
				font-size: 16px;
			}
			.title {
				margin: 0 0 30px 0;
			}
			.userdata input#modlgn-username {
				margin-bottom: 20px;
			}
			.button-wrap {
				margin-top: 30px;
				float: right;
			}
			.forget-name-link{
				margin-top: 40px;
				color: #a0a0a0;
				font-size: 16px;
				a {
					color: #6b6a6a;
					&:hover{
						color: darken(#6b6a6a, 15%);
					}
				}
			}
		}
		.modal-footer{
			margin-top: 35px;
			color: #a0a0a0;
			font-size: 16px;
			a {
				color: #6b6a6a;
				&:hover{
					color: darken(#6b6a6a, 15%);
				}
			}
		}
	}
}
.login {
	img {
		display: inline-block;
		margin: 20px 0;
	}
	.checkbox {
		input[type="checkbox"] {
			margin-top: 6px;
		}
	}
}
.form-links{
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}

.joomla-default-login{
	.checkbox{
		display: inline-block;
		float: left;
		margin-top: 25px;
	}
	.submit-button{
		margin-top: 10px;
		float: right;
		.btn{
			display: inline-block;
			text-align: right;
		}
	}
	.form-links{
		margin-top: 30px;
		overflow: hidden;
		clear: both;
		ul>li {
			display: inline-block;
			width: 50%;
			float: left;
			&:nth-child(2){
				text-align: right;
			}
			>a{
				color: #999;
			}
		}
	}
}

/* ***********      End::  Login Form      ************ */
/* **************************************************** */


/* ************** 	   Start Register 	*************** */
/* **************************************************** */

.k2AccountPage table.admintable tr{
	padding-bottom: 20px;
	display: block;
}
.k2AccountPage th.k2ProfileHeading{
	background: none;
	padding: 0 0 20px;
}
.k2AccountPage table.admintable td.key,
.k2AccountPage table.admintable td.paramlist_key{
	background: none;
	color: #000;
    font-weight: bold;
    text-align: left;
    font-size: 16px;
    margin: 0;
    border: none;
}
.k2AccountPage table.admintable tr td span {
    float: left;
    margin-right: 10px;
}
.k2AccountPage table.admintable .account-info{
	border-top: 1px solid #e5e5e5;
    padding-top: 20px;
    margin-top: 10px;
}
.k2AccountPage table.admintable .personal-info{
	border-top: 1px solid #e5e5e5;
    padding-top: 20px;
    margin-top: 30px;
}
.k2AccountPage .submit-btn{
	padding-top: 30px !important;
	button{
		padding: 0 30px;
		border: none;
		color: #fff;
		font-weight: 700;
	}
}
.k2AccountPage .choose-file{
	label{
		margin-right: 10px;
	}
}
.editor{
	a.btn-default{
		padding: 0;
		&:hover,&:focus{
			background-color: transparent;
		}
	}
}

.k2AccountPage{
	div.k2AccountPageNotice{
		font-size: 12px;
		margin-top: 15px;
	}
	div.k2AccountPageUpdate{
		display: inline-block;
		border: none;
		.button{
			margin-left: 450px;
			&:focus{
				outline: none;
			}
		}
	}
	input{
		min-width: 420px;
	}
}

/* **************	   END:: Register 	*************** */
/* **************************************************** */


/* ***********        Start  Search        ************ */
/* **************************************************** */

.search {
	.btn-toolbar {
		margin-bottom: 20px;
		span.icon-search {
			margin: 0;
		}
		button {
			color: #fff;
		}
	}

	.phrases {
		.phrases-box {
			.controls{
				label {
					display: inline-block;
					margin: 0 20px 20px;
				}	
			}
		}

		.ordering-box {
			margin-bottom: 15px;
		}
	}

	.only {
		label {
			display: inline-block;
			margin: 0 20px 20px;	
		}
	}

	.search-results {

		dt.result-title {
			margin-top: 40px;	
		}
		dt,dd {
			margin: 5px 0;
		}
	}
}

.filter-search {
	.chzn-container-single {
		.chzn-single {
			height:34px;
			line-height:34px;
		}
	}
}

.form-search {
	.finder {
		label {
			display: block;
		}

		.input-medium {
			width: 60%;
			border-radius: 4px;
		}
	}
}

.finder {
	.word {
		input {
			display: inline-block;
		}
	}

	.search-results.list-striped {
		li {
			padding: 20px 0;
		}
	}
}

/* ***********        End::  Search        ************ */
/* **************************************************** */



/* ************************************************************************************ */
/* ************** 	 			 Start ARTICLE BLOG CSS 	 			*************** */
/* ************************************************************************************ */

.article-info {
	margin: 0 -8px 5px;
	line-height: 12px;
	>dd{
		display: inline-block;
		color: #949494;
		font-weight: 400 !important;
		text-transform: uppercase;
		margin: 0 8px;
		>i {
			display: inline-block;
			margin-right: 3px;
		}
		&.category-name{
			a{
				color: #949494;
			}
		}
	}
}

article {
	&.item {
		position: relative;
		margin-bottom: 50px;
		padding-bottom: 40px;
		>p{
			font-size: 16px;
		}
		.readmore{
			margin-top: 30px;
		}
	}
}

.tags {
	margin-top: 30px;
	margin-bottom: 20px;
    border-top: 2px dotted #e5e5e5;
    border-bottom: 2px dotted #e5e5e5;
    padding: 20px 0;
	a{
		font-size: 14px;
		background: transparent;
		color: #949494;
		font-weight: 400;
		&:hover{
			background: none !important;
		}
	}
}
//Only for layout-blog
.layout-blog{
	.published{
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 0;
		text-transform: capitalize;
	}
}

//Article Voting
.content_rating,
.content_rating + form {
	display: none;
}

.voting-symbol{
	unicode-bidi: bidi-override;
	direction: rtl;
	font-size: 14px;
	display: inline-block;

	span.star {
		font-family: "FontAwesome";
		font-weight: normal;
		font-style: normal;
		display: inline-block;

		&.active:before{
			content: "\f005";
		}

		&:before{
			content: "\f006";
			padding-right: 5px;
		}

	}
}

.sp-rating {
	span.star:hover:before,
	span.star:hover ~ span.star:before {
		content: "\f005";
		cursor: pointer;
	}
}

.post_rating {
	margin-bottom: 20px;
	.ajax-loader,
	.voting-result {
		display: none;
	}
}

.post-format {
	position: absolute;
	top: 0;
	left: -68px;
	display: block;
	width: 48px;
	height: 48px;
	font-size: 24px;
	line-height: 48px;
	text-align: center;
	color: #fff;
	border-radius: 3px;
}

.entry-image,
.entry-gallery,
.entry-video,
.entry-audio,
.entry-link {
	margin-bottom: 40px;
}
.entry-image{
	position: relative;
	overflow: hidden;
	img{
		.transition(.3s);
		width: 100%;
	}
	a{
		display: block;
		&:before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			z-index: 5;
			.transition(.3s);
		}
		&:after{
			content: "\f1ea";
			font-family: fontawesome;
			font-size: 0;
			color: #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			opacity: 0;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			z-index: 10;
			.transition(.3s);
		}	
	}
}
article {
	&.item:hover{
		.entry-image a:before{
			opacity: 1;
		}
		.entry-image a:after{
			.transition-delay(.15s);
			font-size: 50px;
			opacity: 1;
		}
		.entry-image img{
			.scale(1.3);
		}
	}
}
.entry-status,
.entry-quote {
	margin-bottom: 50px;
}


.entry-header {
	margin-bottom: 20px;
	&.has-post-format {
		margin-left: 68px;
	}

	h2 {
		margin: 8px 0 0;
		font-size: 24px;
		line-height: 1;
		a {
			color: #000;
		}
	}
}

.entry-link {
	padding: 100px 50px;
	position: relative;
	z-index: 1;

	a {
		h4 {
			margin: 0;
			font-size: 36px;
			color: #fff;
			&:hover {
				color:rgba(255, 255, 255, 0.85);
			}			
		}
	}

	&:before {
		position: absolute;
		left: -60px;
		font-size: 300px;
		content: "\f0c1";
		font-family: FontAwesome;
		transform: rotate(90deg);
		top: -75px;
		color: rgba(255, 255, 255, 0.15);
		z-index: -1;
	}
}

.entry-quote {
	position: relative;
	padding: 80px 50px;
	color:rgba(255, 255, 255, 0.9);

	&:before {
		position: absolute;
		left: -40px;
		font-size: 300px;
		content: "\f10e";
		font-family: FontAwesome;
		transform: rotate(15deg);
		top: -75px;
		color: rgba(255,255,255,0.15);

	}	

	blockquote small {
		color: #FFF;
		font-weight: 600;		
		font-size: 20px;
	}

	blockquote {
		padding: 0;
		margin: 0;
		font-size: 16px;
		border: none;
	}
}

.carousel-left,
.carousel-right {
	position: absolute;
	top: 50%;
	font-size: 24px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	margin-top: -18px;
	text-align: center;
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	-webkit-transition: 400ms;
	transition: 400ms;

	&:hover {
		color: #fff;
	}

	&:focus {
		color: #fff;
	}
}

.carousel-left {
	left: 10px;
}

.carousel-right {
	right: 10px;
}

.newsfeed-category {
	.category {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			padding: 5px 0;
		}
	}

	#filter-search {
		margin: 10px 0;
	}
}

.category-module,
.categories-module,
.archive-module,
.latestnews,
.newsflash-horiz,
.mostread,
.form-links,
.list-striped {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		padding: 2px 0;

		h4 {
			margin: 5px 0;
		}
	}
}

//pagination
.view-products{
	.pagination{
		margin-top: 50px;
	}	
}
div.pagination{
	display: block;
}
ul.pagination{
	display: block;
    border-radius: 0;
    border-top: 1px solid #ededed;
    overflow: hidden;
    border-bottom: 1px solid #ededed;
    text-align: center;
    height: 55px;
	>li{
		display: inline-block;
		&.active{
			>a,>span{
				background: none !important;
			}
		}
		>a,>span{
			padding: 0 15px !important;
			line-height: 55px;
			border: none !important;
			background: none !important;
			font-size: 16px !important;
			color: #7d7d7d;
			border: none;
			&:hover,&:focus{
				background: none;
			}
		}
		&.disabled>a, a[title="End"], a[title="Next"]{
			font-size: 24px;
		}
	}
}

//blog-bottom-add
.blog-bottom-add{
	text-align: center;
	margin: 30px 0;
}


//view-article
.view-article{
	.sp-page-title .title{
		display: none;
	}
	article.item{
		.entry-header{
			h2{
				color: #000;
				font-size: 50px;
				line-height: 1.2;
			}
		}
		.article-info{
			margin: 30px -8px 40px;
		}
		div[itemprop="articleBody"]{
			p{
				font-size: 16px;
				small{
					color: #919191;
					font-size: 100%;
					font-style: italic;
					margin-bottom: 30px;
					display: block;
				}
				img{
					margin: 20px 0;
				}
			}
			h1,h2,h3,h4,h5{
				margin: 50px 0 30px;
			}
			blockquote{
				border: none;
				padding: 30px 0;
				font-size: 24px;
				line-height: 1.5;
				font-style: italic;
				margin: 0;
				overflow: hidden;
				&:before {
					content: "\f10e";
					font-family: fontawesome;
					font-size: 80px;
					color: #eeeeee;
					float: left;
					margin-right: 40px;
					line-height: 1;
				}
			}
		}
		.tags{
			margin-top: 60px;
		}
		.sp-social-share{
			margin-bottom: 50px;
		}
		.blog-details-add{
			text-align: center;
			margin: 30px 0 40px;
		}
		.pager{
			border-top: 2px dotted #e5e5e5;
			border-bottom: 2px dotted #e5e5e5;
			padding: 20px 0;
			margin: 50px 0;
			li>a, li>span{
				border: none;
				font-size: 16px;
				color: #bcbcbc;
			}
			li>a{
				line-height: 1;
				&:hover, &:focus{
					background: none;
				}
				>span{
					font-size: 30px;
					float: left;
				}
			}
			li.next>a{
				>span{
					float: right;
					margin-left: 10px;
				}
			}
			.icon-chevron-left:before,
			.icon-leftarrow:before,
			.icon-arrow-left:before{
				content: "\f104";
				font-family: fontawesome;
			}
			.icon-chevron-right:before,
			.icon-rightarrow:before,
			.icon-arrow-right:before{
				content: "\f105";
				font-family: fontawesome;
			}
		}
	}
}
// newslist-add
.newslist-add{
	.bannergroup{
		margin-bottom: 55px;
		.banneritem img{
			width: 100%;
		}
	}
}
.entry-social-block{
	display: inline-block;
    font-size: 20px;
    .helix-article-social-share-icon ul li {
    	display: inline-block;
    	margin-left: 15px;
    }
    .facebook a{
    	color: #3b5998;
    }
    .twitter a{
    	color: #55acee;
    }
    .gplus a{
    	color: #dd4b39;
    }
    .linkedin a{
    	color: #006699;
    }    
    .pinterest a{
    	color: #cb2027;
    }
}
/* ************************************************************************************ */
/* ************** 	 			 End:: ARTICLE BLOG CSS 	 			*************** */
/* ************************************************************************************ */


/* ************************************************************************************ */
/* ************** 	 				 START K2 BLOG CSS 	    			*************** */
/* ************************************************************************************ */

/* ************* 	 Start K2 BLOG Listing 	************* */
/* ****************************************************** */
div.catItemImageBlock{
	padding: 0;
	span.catItemImage{
		margin: 0;
		a{
			display: block;
			position: relative;
			&:before{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				z-index: 5;
				.transition(.3s);
			}
			&:after{
				content: "\f1ea";
				font-family: fontawesome;
				font-size: 0;
				color: #fff;
				position: absolute;
				top: 50%;
				left: 50%;
				opacity: 0;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				z-index: 10;
				.transition(.3s);
			}
			&:hover{
				&:before{
					opacity: 1;
				}
				&:after{
					.transition-delay(.15s);
					font-size: 50px;
					opacity: 1;
				}
			}
		}
	}
	position: relative;
	overflow: hidden;
	img{
		.transition(.3s);
		width: 100%;
	}
		
	&:hover{
		img{
			.scale(1.3);
		}
	}
}
.catItemHeader .catItemCategory{
	>a{
		font-weight: 400;
		color: #949494;
		text-transform: uppercase;
	}
}
.catItemTitle{
	margin-top: 0;
}
.catItemBody{
	.catItemIntroText{
		font-size: 16px;
	}
}
.catItemDateCreated{
	color: #949494;
}
.catItemAuthor{
	float: right;
	color: #949494;
	a{
		color: #949494;
	}
}
div.catItemLinks {
	.catItemTagsBlock{
		margin-top: 30px;
		margin-bottom: 20px;
	    border-top: 2px dotted #e5e5e5;
	    border-bottom: 2px dotted #e5e5e5;
	    padding: 15px 0;
	}
    .catItemTagsBlock>span{
    	font-weight: 400;
    	&:after{
    		content: " :";
    	}
    }
	a{
		color: #949494;
		&:after{
			content: "|";
			margin-left: 8px;
		}
	}
	li:last-child{
		a{
			&:after{
				display: none;
			}
		}
	}
}
// category list
.view-itemlist{
	.sp-module{
		.sp-module-title{
			font-size: 24px;
			margin-bottom: 40px;
		}
		ul >li >a:before{
			display: none;
		}
	}
}
//k2ItemsBlock
.k2ItemsBlock{
	ul>li{
		border: none;
		margin-bottom: 30px !important;
		a{
			display: inline-block;
			float: left;
			&:before{
				display: none;
			}
		}
		a.moduleItemTitle{
			font-size: 24px;
			font-weight: 400 !important;
			line-height: 1.5;
			margin-bottom: 10px;
		}
	}
	.moduleItemCategory{
		line-height: 1.5;
		color: #949494;
		font-weight: 400 !important;
		text-transform: uppercase;	
	}
	div.k2ItemsBlock ul li a.moduleItemTitle {
		font-size: 24px;
		line-height: 1.23;
	}
	div.moduleItemAuthor{
		display: inline-block;
		line-height: 55px;
		margin-left: 10px;
		color: #949494;
		a{
			margin-right: 5px;
			color: #949494;
		}
	}
	.moduleItemImage{
		margin-bottom: 20px;
		position: relative;
		overflow: hidden;
		display: block;
		img{
			.transition(.3s);
			width: 100%;
		}
		&:before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			z-index: 5;
			display: block !important;
			.transition(.3s);
		}
		&:after{
			content: "\f1ea";
			font-family: fontawesome;
			font-size: 0;
			color: #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			opacity: 0;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			z-index: 10;
			.transition(.3s);
		}	
		&:hover{
			&:before{
				opacity: 1;
			}
			&:after{
				.transition-delay(.15s);
				font-size: 30px;
				opacity: 1;
			}
			img{
				.scale(1.3);
			}
		}
	}
	div.moduleItemIntrotext{
		clear: both;
		font-size: 16px;
	}
	.moduleItemDateCreated{
		color: #949494;
		display: block;		
	}
	.moduleItemHits-wrapper{
		margin-top: 10px;
	}
	.moduleItemComments,
	.moduleItemHits{
		color: #949494;
		line-height: 1.5;
		border-color: #949494;
	}
}

//k2CategoriesListBlock
.k2CategoriesListBlock{
	ul>li{
		margin-bottom: 0 !important;
		border: none;
		a{
			&:before{
				display: none;
			}
		}
		>a{
			-webkit-box-shadow: 0px 1px 0px #e8e8e8;
			box-shadow: 0px 1px 0px #e8e8e8;
			line-height: 54px;
			font-size: 16px;
			padding: 0;
			border: none;
		}
		ul{
			padding: 0px 20px;
			li{
				&:first-child{
					margin-top: -20px;
				}
				a{
					position: relative;
				}
				a:before {
					content: "";
					display: block !important;
					float: left;
					width: 12px;
					height: 1px;
					background: #ddd;
					position: absolute;
					left: -12px;
					top: 50%;
					transform: translate(-50%);
				}
			}
			li:last-child>a{
				box-shadow: none;
			}			
		}
		&.activeCategory{
			a{
				font-weight: 400 !important;
			}
		}
	}
}

//k2-related-module
.k2-related-module{
	ul>li{
		border-bottom: 1px solid #ededed;
		padding: 15px 0 5px !important;
		margin-bottom: 0 !important;
		a.moduleItemTitle{
			margin-bottom: 0;
			font-size: 16px;
		}
	}
}

//k2TagCloudBlock
div.k2TagCloudBlock{
	a{
		font-size: 18px !important;
		line-height: 34px;
		color: #949494;
		&:hover,&:focus{
			background: none;
		}
		&:after{
			content: ".";
			font-size: 50px;
			color: #ededed;
			display: inline-block;
			margin: -8px 10px 0 10px;
			float: right;
		}
	}
}
div.catItemCommentsLink{
	border: none;
	&:before{
		content: "\f27b";
		font-family: fontawesome;
		margin-right: 5px;
	}
}
div.catItemReadMore{
	display: block;
	margin-top: 20px;
}
/* ************      END:: K2 BLOG Listing      ********** */
/* ******************************************************* */


/* ************      Start K2 BLOG Details      ********** */
/* ******************************************************* */
div.itemIsFeatured:before,
div.catItemIsFeatured:before,
div.userItemIsFeatured:before {
    display: none;
}
.itemView{
    .itemHeader{
        clear: both;
        display: table;
        width: 100%;
        h2.itemTitle{
            color: #000;
            font-size: 50px;
            line-height: 1.2;
            padding-top: 0;
            display: table;
            width: 100%;
            padding-bottom: 28px;
            span {
            	float: none;
            	display: inline-block;
            	overflow: hidden;
            	line-height: 1.5;
            	padding: 5px 10px;
            	sup{
            		top: 0;
            		color: #fff;
            		font-weight: 700;
            	}
            }
        }
        span,span.itemDateCreated{
            float: left;
            color: #949494;
            font-weight: 400;
            margin: 0 8px;
            text-transform: uppercase;
            font-size: 14px;
        }
        div.itemCategory{
            float: left;
            a{
                color: #949494;
                font-weight: 400;
                text-transform: uppercase;
                font-size: 14px;
            }
        }
        .itemAuthor{
            a{
                color: #949494;
                font-weight: 400;
                text-transform: uppercase;
                font-size: 14px;
            }
        }
    }
    div.itemToolbar {
        border-radius: 0;
        clear: both;
        display: table;
        margin: 25px 0 0;
        padding: 10px;
        width: 100%;
        ul{
            li{
                font-size: 14px;
                a{
                    font-size: 14px;
                }
            }
        }
    }
    div.itemRatingBlock {
        padding: 15px 0 10px;
        .itemRatingLog {
            font-size: 12px;
        }
    }
    .itemBody{
        div.itemImageBlock {
            margin: 0;
        }
        div.itemIntroText{
            color: #444;
            font-size: 16px;
            font-weight: 400;
            padding: 4px 0 0;
        }
        .itemFullText{
            p{
                font-size: 16px;
                small{
                    color: #919191;
                    display: block;
                    font-size: 100%;
                    font-style: italic;
                    margin-bottom: 20px;
                }
            }
            h3{
                font-size: 26px;
                font-weight: normal;
                margin: 40px 0 30px;
                padding: 0;
            }
            blockquote{
                border: medium none;
                color: #e10613;
                font-size: 24px;
                font-style: italic;
                line-height: 1.5;
                margin: 0;
                overflow: hidden;
                padding: 0 0 30px;
                &:before{
                    content: "\f10e";
                    font-family: fontawesome;
                    font-size: 80px;
                    color: #eeeeee;
                    float: left;
                    margin-right: 40px;
                    line-height: 1;
                }
            }
        }
    }
    .itemLinks{
        .itemTagsBlock{
            border-bottom: 2px dotted #e5e5e5;
            border-top: 2px dotted #e5e5e5;
            margin-bottom: 20px;
            margin-top: 30px;
            padding: 20px 0;
            span{
                color: #333;
                font-weight: 400;
            }
            .itemTags{
                li{
                    a{
                        border-radius: 0;
                        color: #949494;
                        display: inline-block;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 1;
                        padding: 0.2em 0.6em 0.3em;
                        text-align: center;
                        vertical-align: baseline;
                        white-space: nowrap;
                        &:before{
                            content: "";
                        }
                    }
                }
            }
        }
    }
    div.itemAuthorBlock{
        background: transparent none repeat scroll 0 0;
        border: 1px solid #ddd;
        border-radius: 3px;
        margin: 40px 0 0;
        padding: 15px;
        img{
            margin-right: 20px;
        }
        div.itemAuthorDetails{
            margin: 0;
            padding: 20px 0 0;
            .itemAuthorName{
                a{
                    &:hover{
                        color: #000;
                    }
                }
            }
        }
    }
    .itemAuthorLatest,.itemRelated{
        h3{
            color: #e10613;
            font-size: 24px;
            margin-bottom: 15px;
            margin-top: 50px;
            text-transform: uppercase;
        }
        ul{
            li{
                border-bottom: 1px solid #e8e8e8;
                display: block;
                -webkit-transition: all 300ms ease 0s;
                transition: all 300ms ease 0s;
                padding: 15px 0 12px;
                &:last-child{
                    border-bottom: 0;
                }
                a{
                    font-size: 16px;
                    font-weight: 400 !important;
                    line-height: 1.5;
                    color: #363636;
                    display: block;
                    &:hover{
                        color: #e10613;
                    }
                }
            }
        }
    }
    div.itemNavigation {
        background: transparent none repeat scroll 0 0;
        border-radius: 0;
        margin: 40px 0 25px;
        padding: 0;
        span{
            font-family: Merriweather,sans-serif;
            color: #e10613;
            font-size: 24px;
            text-transform: uppercase;
            display: block;
            margin-bottom: 20px;
        }
        a{
            border-bottom: 1px solid #e8e8e8;
            color: #363636;
            display: block;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            padding: 12px 0;
            -webkit-transition: all 300ms ease 0s;
            transition: all 300ms ease 0s;
            &:hover,
                &:focus{
                color: #e10613;
            }
        }
    }
    .itemComments{
        background: transparent none repeat scroll 0 0;
        border: medium none;
        border-radius: 0;
        padding: 0;
        .itemCommentsForm{
            h3{
                border-bottom: 1px solid #ebebeb;
                color: #e10613;
                font-size: 24px;
                margin-bottom: 30px;
                padding-bottom: 25px;
                text-transform: uppercase;
            }
            p.itemCommentsFormNotes{
                border-top: 0 none;
                color: #e10613;
                line-height: 1;
                margin: 0 0 20px;
                padding: 0;
            }
            input{
                margin: 0 0 25px;
                padding: 1px 15px 0 !important;
                text-transform: capitalize;
                width: 100%;
                border-radius: 0;
            }
            textarea{
                border: 1px solid #e6e6e6;
                border-radius: 0;
                display: table;
                height: 145px !important;
                padding: 15px 0 0 20px !important;
                resize: none;
                text-transform: capitalize;
                width: 100%;
                margin: 0 0 20px;
            }
            label{
                margin: 0 0 8px 2px;
            }
            input#submitCommentButton[type="submit"]{
                background: #e10613 none repeat scroll 0 0;
                border: medium none;
                border-radius: 0;
                color: #fff;
                display: inline-block;
                font-weight: 400;
                height: 45px;
                line-height: 45px;
                padding: 0 30px !important;
                text-transform: none;
                -webkit-transition: all 0.3s ease 0s;
                transition: all 0.3s ease 0s;
                width: auto;
                margin-top: 45px;
            }
        }
    }
    div.itemBackToTop{
        a{
            display: inline-block;
            font-size: 16px;
            text-decoration: none;
            text-transform: capitalize;
            &:hover,
                &:focus{
                color: #000;
            }
            i{
                font-size: 20px;
                line-height: 0.8;
                padding-left: 2px;
                position: relative;
                top: 2px;
            }
        }
    }
}

/* ************      End:: K2 BLOG Details      ********** */
/* ******************************************************* */



/* ************** 	   Start Sidebar 	*************** */
/* **************************************************** */
//Right Sidebar
#sp-right,
#sp-left{
	// Title
	.sp-module-title{
		font-size: 24px;
		margin-bottom: 40px;
	}
	.search{
		margin-top: -20px;
		input{
			width: 100%;
		}
	}
}

.blog-sidebar-title{
	.sp-module-title{
		font-size: 24px;
		margin-bottom: 35px;
	}
}
.sp-module .latestnews{
	>div{
		border: none;
		margin-bottom: 30px;
		.news365-news-title{
			font-size: 24px;
			font-weight: 400 !important;
			color: #000;
			line-height: 1.3;
			margin-top: 10px;
			margin-bottom: 25px;
		}
		.article-list-img{
			position: relative;
			overflow: hidden;
			img{
				.transition(.3s);
			}
			a{
				display: block;
				&:before{
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					opacity: 0;
					z-index: 5;
					.transition(.3s);
				}
				&:after{
					content: "\f1ea";
					font-family: fontawesome;
					font-size: 0;
					color: #fff;
					position: absolute;
					top: 50%;
					left: 50%;
					opacity: 0;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					z-index: 10;
					.transition(.3s);
				}	
			}
		}
		&:hover{
			.article-list-img a:before{
				opacity: 1;
			}
			.article-list-img a:after{
				.transition-delay(.15s);
				font-size: 30px;
				opacity: 1;
			}
			.article-list-img img{
				.scale(1.3);
			}
		}
		.category-title{
			font-size: 14px;
			font-weight: 400;
			color: #949494;
			text-transform: uppercase;
			margin-bottom: 0;
			margin-top: 25px;
		}
		.published-date{
			color: #949494;
		}
	}
}

.sp-module {
	ul.categories-module, ul.menu{
		margin-top: -20px;
		>li{
			font-size: 16px;
			>a{
				line-height: 50px;
				&:before{
					display: none;
				}
			}
		}
	}
	ul.mostread{
		margin-top: -20px;
		>li>a{
			line-height: 1.5;
			padding: 20px 0;
			font-weight: 400 !important;
			font-size: 16px;
			&:before{
				display: none;
			}
		}
	}
}

.sp-module .tagspopular{
	.sp-module-title{
		margin-bottom: 30px;
	}
	ul>li{
		display: inline-block;
		border-bottom: none;
		&:after{
			content: ".";
			font-size: 50px;
			color: #ededed;
			display: inline-block;
			margin: -8px 10px 0 10px;
			float: right;
		}
		>a{
			color: #949494;
			font-size: 18px;
			font-weight: 400 !important;
			display: inline-block;
			line-height: 30px;
			&:before{
				display: none;
			}
		}
	}
}
/* ************          END:: Sidebar          ********** */
/* ******************************************************* */


/* ************           Start K2 Tab          ********** */
/* ******************************************************* */

.tab-k2{
    #sptab165{
        .tabs_buttons{
            border-bottom: 1px solid #f4f4f4;
            padding-bottom: 10px;
            .tabs_mask{
                ul.tabs_container{
                    li.tab{
                        color: #949494;
                        font-size: 16px;
                        -webkit-transition: all 300ms ease;
                        transition: all 300ms ease;
                        &.first-tab{
                            padding-left: 0;
                        }
                    }
                }
            }
        }
        .items_mask{
            margin-top: 20px;
            .tab-padding{
                padding: 0;
                div.k2ItemsBlock{
                    ul{
                        padding: 0;
                        li{
                            display: table;
                            margin-bottom: 0 !important;
                            overflow: hidden;
                            .moduleItemImage{
                                display: table-cell;
                                position: relative;
                                vertical-align: middle;
                                width: 35%;
                            }
                            a.moduleItemTitle{
                                display: table-cell;
                                font-size: 16px;
                                padding-left: 25px;
                                vertical-align: middle;
                                width: 65%;
                                margin-top: 15px;
                                margin-bottom: 0;
                                &:hover,
                                    &:focus{
                                    color: #e10613;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* ************           End:: K2 Tab          ********** */
/* ******************************************************* */

/* ************************************************************************************ */
/* ***************** 	 			 END::K2 BLOG CSS  	 			******************* */
/* ************************************************************************************ */


/* ************** 	   Start Bottom 	*************** */
/* **************************************************** */
#sp-bottom{
	.sp-module ul.categories-module,
	.sp-module ul.menu{
		margin-top: 0;
	}
	.sp-module {
		.sp-module-title {
			color: #fff;
			font-weight:900;
			font-size:18px;
		}
	}
	.sp-module{
		margin-top: 20px;
		ul >li{
			border: none;
			>a{
				line-height: 20px;
				text-transform: uppercase;
				color: #949494;
				&:hover{
					color: #fff;
				}
				&:before{
					display: none;
				}
			}
		}
	}
}
#sp-bottom1{
	font-size: 16px;
	.sp-module{
		margin-top: 0;
	}
	.info{
		margin-top: 20px;
		margin-bottom: 20px;
	}
}
#sp-bottom3{
	.sp-module{
		margin-top: 60px;
	}
}
.bottom-social{
	.dummy-text{
		display: none;
	}
	ul >li{
		display: inline-block;
		>a{
			font-size: 18px;
			color: #fff !important;
			margin-right: 15px;
		}
	}
}
#sp-bottom{
	.acymailing_module{
		.acysubbuttons{
			margin-top: 10px;
		}
		.acyfield_email{
			input{
				background-color: #f1f1f1;
			}
		}
	}
}
.acymailing_module{
	.acymailing_introtext{
		margin-bottom: 15px !important;
	}
	.acysubbuttons{
		float: right;
	}
	.acymailing_finaltext{
		margin-top: 30px !important;
	}
}
/* **************	   END:: Bottom     *************** */
/* **************************************************** */


/* ************** 	   Start  Footer 	*************** */
/* **************************************************** */

#sp-footer {
	padding: 23px 0;

	a {
		color: rgba(255, 255, 255, 0.9);
		&:hover {
			color: #fff;
		}
	}
}

#sp-footer-wrapper {
	ul {
		display:inline-block;
		&.nav {
			display:inline-block;
			list-style:none;
			padding:0;
			margin:0 5px;
			li {
				display:inline-block; 
				margin:0 5px;
				a {
					display:block;
					&:hover{
						background:none;
					}
				}
			}
		}
	}
	
	.helix-framework {
		display:inline-block;
		
		.helix-logo {
			display:block;
			width:130px;
			height:40px;
			text-indent:-9999px;
			background:url(../images/helix-logo-white.png) no-repeat 0 0;
		}
	}

	.copyright {
		display:block;
	}	
}

.sp-copyright{
	display: block;
	overflow: hidden;
	p{
		margin: 0;
	}
	.text-left{
		float: left;
	}
	.text-right{
		float: right;
	}
}

/* ************** 	   End::  Footer 	*************** */
/* **************************************************** */



/* ************** 	 Start Contact us 	*************** */
/* **************************************************** */
.news365-contact-info{
	.sppb-addon-content{
		>p{
			margin-bottom: 3px;
			color: #383847;
		}
	}
}

/* ************** 	 End::  Contact us 	*************** */
/* **************************************************** */



/* ************** 	 Start Comingsoon 	*************** */
/* **************************************************** */

.sp-comingsoon-wrap{
	min-height: 100%;
    padding: 228px 0 150px;
}
#sp-comingsoon {
	color: #949494;
    margin: 0 0 43px;
	body {
		width: 100%;
		height: 100%;
		min-height: 100%;
		color: #fff;
	}
	.comingsoon-page-logo{
		text-align: center;
		img{
			display: inline-block;
		}
	}
	#sp-comingsoon-countdown{
		margin-top: 65px;
		margin-bottom: 50px;
	}
	.sp-comingsoon-title {
		margin-top: 130px;
		font-size: 42px;
		margin-bottom: 10px;
		font-weight: 700;
	}

	.sp-comingsoon-content {
		margin-top: 25px;
		font-size: 14px;
		color: #949494;
	}

	.days,
	.hours,
	.minutes,
	.seconds{
		background: #e10613 none repeat scroll 0 0;
		display: inline-block;
		margin-right: 90px;
		padding: 30px 0 20px;
	}

	.days .number,
	.hours .number,
	.seconds .number,
	.minutes .number{
		color: #fff;
		font-size: 94px;
		font-weight: 700;
		letter-spacing: -6px;
		line-height: 0.92;
		margin-left: -7px;
		display: block;
	}

	.days .string,
	.minutes .string,
	.seconds .string,
	.hours .string{
		font-weight: 500;
		color: #fff;
		font-size: 18px;
		text-transform: uppercase;
	}
	.hours {
		background: #E84E1C;
	}
	.minutes {
		background: #F19100;
	}
	.seconds {
		background: #eeb45b;
		margin-right: 0;
	}
	.acymailing_module{
		.acymailing_module_form{
			text-align: center;
			.acymailing_introtext{
				font-size: 16px;
				font-weight: 400;
			}
			.acymailing_form{
				width: 635px;
				margin: 60px auto 0 !important;
				position: relative;
				display: inline-block;
				.acyfield_email input{
					background: #fafafa;
					color: #949494;
					font-size: 14px;
					padding: 0 0 0 20px;
					width: 100%;
					border: none !important;
				}
				.acysubbuttons{
					position: absolute;
					left: auto;
					right: 0;
					top: 0;
					background: #e10613;
					text-transform: uppercase;
					font-size: 14px;
					color: #fff;
					border: none;
					input{
						font-weight: 700;
					}
				}
			}
		}
	}
	.social-icons{
		margin-top: 30px;
		li {
			display: inline-block;
			margin-right: 15px;

			a {
				color: #dddcdc;
				font-size: 18px;
				-webkit-transition: color 400ms;
				transition: color 400ms;

				&:hover {
					color: #999;
				}
			}
		}
	}
}
/* ************** 	 End:: Comingsoon 	*************** */
/* **************************************************** */


/* ************** 	 Start  Error Page 	*************** */
/* **************************************************** */

.error-page {
	width: 100%;
	height: 100%;
	min-height: 100%;

	body {
		width: 100%;
		height: 100%;
		min-height: 100%;
	}

	.error-page-inner {
		height: 100%;
		min-height: 100%;
		width: 100%;
		display: table;
		>div {
			display: table-cell;
			vertical-align: middle;
		}
		.error-page-logo{
			display: inline-block;
			float: left;
			margin-right: 30px;
			margin-bottom: 30px;
			img{
				display: inline-block;
			}
		}
	}

	.fa-exclamation-triangle {
		font-size: 64px;
		line-height: 1;
		margin-bottom: 10px;
	}

	.error-code {
		font-weight: bold;
		font-size: 96px;
		line-height: 1;
		margin: 0 0 10px 0;
		padding: 0;
	}

	.error-message {
		font-size: 20px;
		color: #000;
		line-height: 1;
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.error-contnet{
		font-size: 54px;
		font-weight: 700;
		color: #000;
		margin-top: 10px;
	}
}

/* ************** 	 End::  Error Page 	*************** */
/* **************************************************** */


/* ************** 	   Start Mixed Css 	*************** */
/* **************************************************** */

.sp-social-share {
	ul{
		display: block;
		padding: 0;
		margin: 20px -5px 0;

		li{
			display: inline-block;
			font-size: 24px;
			margin: 0 5px;
		}
	}
}


// profile
.dl-horizontal {
	dt {
		margin: 8px 0;
		text-align: left;
	}
}


// page-header
.page-header {
	padding-bottom: 15px;
}

// featured contact
table.category {

	width: 100%;
	thead,
	tbody{
		>tr {
			border: 1px solid #f2f2f2;	
			th,td {
				padding: 10px;
			}
		}
	}
}

//contact from
.contact-form {
	.form-actions {
		background: none;
		border: none;
	}
}

@media print {
	.visible-print {
		display: inherit !important;
	}
	.hidden-print {
		display: none !important;
	}
}

// sp portfolio
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a{
	background: #2D2D2D;
	border-radius: 2px;
	color:#fff;
	-webkit-transition: 300ms;
	transition: 300ms;
}
/* ************** 	   End:: Mixed Css 	*************** */
/* **************************************************** */