/* @package: SobiPro Component for Joomla! */
/**/
// @author
/* Authors: Sigrid Suski & Radek Suski, Sigsiu.NET GmbH */
/* Url: https://www.Sigsiu.NET */
/**/
/* @copyright Copyright (C) 2006 - 2017 Sigsiu.NET GmbH (https://www.sigsiu.net). All rights reserved. */
/* @license GNU/GPL Version 3 */
/* This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3 */
/* as published by the Free Software Foundation, and under the additional terms according section 7 of GPL v3. */
/* See http://www.gnu.org/licenses/gpl.html and https://www.sigsiu.net/licenses. */
/**/
// This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

//Default values
@corners: angular;
@colour-set: poppyseed;
@small-image: 100px;
@big-image: inherit;
@image-ratio: 0.75;
@carousel-image: inherit;
@print-gallery: 150px;
@fontsize: 14px;

//-------------------------------------------------------------------------------------*/

// This template is based on Bootstrap 3
// and defines the following new classes based on the used colour theme:
// .btn-sigsiu = a new button colour
// .text-sigsiu = a new text colour
// .text-sigsiu-active
// .text-sigsiu-important
// .bg-sigsiu = a new background colour
// .bg-sigsiu-light = a lighter new background colour
// .bg-sigsiu-alert

//-------------------------------------------------------------------------------------*/

// fallback to sobipro layout
@base-color: #993333;
@text-color: #ffffff;
@hover-color: #ffffff;
@font-color: #333333;
@active-color: #000066;
@alert-color: #cccccc;
@important-color: #fec1af;

@inverse: standard;
@back-color: #ffffff;

// same for all themes if not set
@error-color: #a30000;
@outline-color: #5e9ed6;

@import "../themes/@{colour-set}.less";

/**/
// Warning notice into the CSS file:
/*-------------------------------------------------------------------------------------*/
/* !! WARNING !!                                                                       */
/* This CSS file is automatically generated by the SobiPro integrated LESS compiler.   */
/* If you want to use the Theme feature, do NOT change the CSS file.                   */
/* If you need to make CSS changes, make them in the LESS file, otherwise your changes */
/* will be overwritten if you compile the LESS file or switch to another color scheme. */
/* If you want to add your own styles, it is recommended to add them into default.css  */
/* or default.less                                                                     */
/*-------------------------------------------------------------------------------------*/
/**/

// Mixins
// ----------------------------------------
.background(dark) {
	background-color: lighten(@base-color, 20%);
	& when (@colour-set = cornflower) {
		background-color: lighten(@base-color, 22%);
	}
	& when (@colour-set = cornfield) {
		background-color: lighten(@base-color, 8%);
	}
	& when (@colour-set = malva) {
		border-color: lighten(@base-color, 18%);
	}
	& when (@colour-set = meadow) {
		background-color: lighten(desaturate(@base-color, 15%), 20%);
	}
	& when (@colour-set = poppyseed) {
		background-color: lighten(@base-color, 25%);
	}
	& when (@colour-set = roses) {
		background-color: lighten(@base-color, 22%);
	}
	& when (@colour-set = terra) {
		background-color: lighten(@base-color, 21%);
	}
	& when (@colour-set = waterfall) {
		background-color: lighten(desaturate(@base-color, 25%), 20%);
	}
}

.borders(dark) {
	border-color: lighten(@base-color, 16%);
	& when (@colour-set = cornflower) {
		background-color: lighten(@base-color, 22%);
	}
	& when (@colour-set = cornfield) {
		border-color: lighten(@base-color, 4%);
	}
	& when (@colour-set = malva) {
		border-color: lighten(@base-color, 14%);
	}
	& when (@colour-set = meadow) {
		border-color: lighten(desaturate(@base-color, 15%), 16%);
	}
	& when (@colour-set = poppyseed) {
		border-color: lighten(@base-color, 21%);
	}
	& when (@colour-set = roses) {
		border-color: lighten(@base-color, 18%);
	}
	& when (@colour-set = terra) {
		border-color: lighten(@base-color, 17%);
	}
	& when (@colour-set = waterfall) {
		border-color: lighten(desaturate(@base-color, 25%), 16%);
	}
}

.background(medium) {
	background-color: lighten(saturate(@base-color, 20%), 48%);
	& when (@colour-set = cornflower) {
		background-color: lighten(saturate(@base-color, 15%), 35%);
	}
	& when (@colour-set = cornfield) {
		background-color: lighten(saturate(@base-color, 24%), 25%);
	}
	& when (@colour-set = malva) {
		background-color: lighten(saturate(@base-color, 15%), 40%);
	}
	& when (@colour-set = meadow) {
		background-color: lighten(desaturate(@base-color, 10%), 46%);
	}
	& when (@colour-set = poppyseed) {
		background-color: lighten(@base-color, 48%);
	}
	& when (@colour-set = roses) {
		background-color: lighten(saturate(@base-color, 28%), 40%);
	}
	& when (@colour-set = terra) {
		background-color: lighten(saturate(@base-color, 3%), 42%);
	}
	& when (@colour-set = waterfall) {
		background-color: lighten(desaturate(@base-color, 25%), 43%);
	}
}

.borders(medium) {
	border-color: lighten(@base-color, 33%);
	& when (@colour-set = cornflower) {
		border-color: lighten(@base-color, 22%);
	}
	& when (@colour-set = cornfield) {
		border-color: lighten(@base-color, 12%);
	}
	& when (@colour-set = malva) {
		border-color: lighten(@base-color, 24%);
	}
	& when (@colour-set = meadow) {
		border-color: lighten(desaturate(@base-color, 15%), 28%);
	}
	& when (@colour-set = poppyseed) {
		border-color: lighten(@base-color, 35%);
	}
	& when (@colour-set = roses) {
		border-color: lighten(@base-color, 32%);
	}
	& when (@colour-set = terra) {
		border-color: lighten(@base-color, 27%);
	}
	& when (@colour-set = waterfall) {
		border-color: lighten(desaturate(@base-color, 25%), 30%);
	}
}

.topborder(medium) {
	border-top-color: lighten(@base-color, 33%);
	& when (@colour-set = cornflower) {
		border-top-color: lighten(@base-color, 22%);
	}
	& when (@colour-set = cornfield) {
		border-top-color: lighten(@base-color, 12%);
	}
	& when (@colour-set = malva) {
		border-top-color: lighten(@base-color, 24%);
	}
	& when (@colour-set = meadow) {
		border-top-color: lighten(desaturate(@base-color, 15%), 28%);
	}
	& when (@colour-set = poppyseed) {
		border-top-color: lighten(@base-color, 35%);
	}
	& when (@colour-set = roses) {
		border-top-color: lighten(@base-color, 32%);
	}
	& when (@colour-set = terra) {
		border-top-color: lighten(@base-color, 27%);
	}
	& when (@colour-set = waterfall) {
		border-top-color: lighten(desaturate(@base-color, 25%), 30%);
	}
}

.background(light) {
	background-color: lighten(saturate(@base-color, 15%), 56%);
	& when (@colour-set = cornflower) {
		background-color: lighten(saturate(@base-color, 15%), 45%);
	}
	& when (@colour-set = cornfield) {
		background-color: lighten(saturate(@base-color, 17%), 40%);
	}
	& when (@colour-set = malva) {
		background-color: lighten(saturate(@base-color, 15%), 50%);
	}
	& when (@colour-set = meadow) {
		background-color: lighten(saturate(@base-color, 10%), 59%);
	}
	& when (@colour-set = poppyseed) {
		background-color: lighten(saturate(@base-color, 2%), 60%);
	}
	& when (@colour-set = roses) {
		background-color: lighten(saturate(@base-color, 28%), 47%);
	}
	& when (@colour-set = terra) {
		background-color: lighten(saturate(@base-color, 25%), 62%);
	}
	& when (@colour-set = waterfall) {
		background-color: lighten(desaturate(@base-color, 10%), 56%);
	}
}

.borders(light) {
	border-color: lighten(@base-color, 48%);
	& when (@colour-set = cornflower) {
		border-color: lighten(@base-color, 36%);
	}
	& when (@colour-set = cornfield) {
		border-color: lighten(@base-color, 28%);
	}
	& when (@colour-set = malva) {
		border-color: lighten(@base-color, 40%);
	}
	& when (@colour-set = meadow) {
		border-color: lighten(@base-color, 48%);
	}
	& when (@colour-set = poppyseed) {
		border-color: lighten(@base-color, 50%);
	}
	& when (@colour-set = roses) {
		border-color: lighten(@base-color, 40%);
	}
	& when (@colour-set = terra) {
		border-color: lighten(@base-color, 50%);
	}
	& when (@colour-set = waterfall) {
		border-color: lighten(desaturate(@base-color, 20%), 45%);
	}
}

.bottomborder(light) {
	border-bottom-color: lighten(@base-color, 48%);
	& when (@colour-set = cornflower) {
		border-bottom-color: lighten(@base-color, 36%);
	}
	& when (@colour-set = cornfield) {
		border-bottom-color: lighten(@base-color, 28%);
	}
	& when (@colour-set = malva) {
		border-bottom-color: lighten(@base-color, 40%);
	}
	& when (@colour-set = meadow) {
		border-bottom-color: lighten(@base-color, 48%);
	}
	& when (@colour-set = poppyseed) {
		border-bottom-color: lighten(@base-color, 50%);
	}
	& when (@colour-set = roses) {
		border-bottom-color: lighten(@base-color, 40%);
	}
	& when (@colour-set = terra) {
		border-bottom-color: lighten(@base-color, 50%);
	}
	& when (@colour-set = waterfall) {
		border-bottom-color: lighten(desaturate(@base-color, 20%), 45%);
	}
}

.topborder(light) {
	border-top-color: lighten(@base-color, 48%);
	& when (@colour-set = cornflower) {
		border-top-color: lighten(@base-color, 36%);
	}
	& when (@colour-set = cornfield) {
		border-top-color: lighten(@base-color, 28%);
	}
	& when (@colour-set = malva) {
		border-top-color: lighten(@base-color, 40%);
	}
	& when (@colour-set = meadow) {
		border-top-color: lighten(@base-color, 48%);
	}
	& when (@colour-set = poppyseed) {
		border-top-color: lighten(@base-color, 50%);
	}
	& when (@colour-set = roses) {
		border-top-color: lighten(@base-color, 40%);
	}
	& when (@colour-set = terra) {
		border-top-color: lighten(@base-color, 50%);
	}
	& when (@colour-set = waterfall) {
		border-top-color: lighten(desaturate(@base-color, 20%), 45%);
	}
}

.bottomborder(lightbackground) {
	border-bottom-color: lighten(saturate(@base-color, 15%), 56%);
	& when (@colour-set = cornflower) {
		border-bottom-color: lighten(saturate(@base-color, 15%), 45%);
	}
	& when (@colour-set = cornfield) {
		border-bottom-color: lighten(saturate(@base-color, 17%), 40%);
	}
	& when (@colour-set = malva) {
		border-bottom-color: lighten(saturate(@base-color, 15%), 50%);
	}
	& when (@colour-set = meadow) {
		border-bottom-color: lighten(saturate(@base-color, 10%), 59%);
	}
	& when (@colour-set = poppyseed) {
		border-bottom-color: lighten(saturate(@base-color, 2%), 60%);
	}
	& when (@colour-set = roses) {
		border-bottom-color: lighten(saturate(@base-color, 28%), 47%);
	}
	& when (@colour-set = terra) {
		border-bottom-color: lighten(saturate(@base-color, 25%), 62%);
	}
	& when (@colour-set = waterfall) {
		border-bottom-color: lighten(desaturate(@base-color, 10%), 56%);
	}
}

.headertext {
	font-size: calc(@fontsize + 8px);
	color: @base-color;
}

// special styles for component only (not modules)
#SobiPro {
	padding: 4px;
	margin-top: 10px;
	background-color: @back-color;
}

// Firefox-specific table hack
@-moz-document url-prefix() {
	fieldset {
		display: table-cell;
	}
}

// Background for modal windows (outside SobiPro container)
// ----------------------------------------
body.modal-open {
	overflow: inherit; //otherwise the screen moves on modals
}

.modal-backdrop,
.modal-backdrop.fade.in {
	opacity: 0.2;
}

.modal-backdrop {
	background-color: @base-color !important;
}

.alert.alert- {
	border-style: solid;
	border-width: 1px;
	background-color: @alert-color;
	color: @active-color;
	border-color: darken(@alert-color, 10%);
	& when (@corners = angular) {
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
	}
}

// Calendar/Datepicker (outside SobiPro container)
// ----------------------------------------
.bootstrap-datetimepicker-widget {
	td span.active:hover,
	td span.active:active,
	td span.active.active,
	td span.active.disabled,
	td span.active[disabled],
	td.active:hover,
	td.active:hover:hover,
	td.active:active,
	td.active:hover:active,
	td.active.active,
	td.active.active:hover,
	td.active.disabled,
	td.active.disabled:hover,
	td.active[disabled],
	td.active[disabled]:hover {
		color: @text-color;
		background-color: @base-color;
	}
	td span.active,
	td.active,
	td.active:hover {
		background-image: linear-gradient(to bottom, darken(@base-color, 5%), lighten(@base-color, 5%));
	}
	a [class^="icon-"] {
		color: @base-color;
	}
	li > a:focus,
	li > a:hover {
		text-decoration: none;
		background-color: #fff;
	}
}

// Styles in this scope concerns also SobiPro modules
// ----------------------------------------
.SobiPro.b3-default3 {
	font-size: @fontsize;
	-moz-osx-font-smoothing: grayscale;

	a {
		color: @active-color;
	}
	.hidden {
		display: none;
		visibility: hidden;
	}
	#skip a {
		position: absolute;
		left: -10000px;
		top: auto;
		width: 1px;
		height: 1px;
		overflow: hidden;

		&:focus {
			position: static;
			width: auto;
			height: auto;
		}
	}
	//without that the topmenu items are not selectable
	.collapse {
		position: inherit;
	}
	.btn,
	.btn-submit {
		text-shadow: none;
	}
	.btn-sm,
	.btn-group-sm > .btn {
		padding: 5px 10px;
	}
	.btn-xs,
	.btn-group-xs > .btn {
		padding: 1px 5px;
	}
	.dropdown-menu,
	.form-control {
	}
	.input-sm,
	.form-horizontal .form-group-sm .form-control {
		padding: 5px 10px;
		line-height: 1.5;
	}
	.lead {
		font-size: 32px;
		color: @base-color;
	}
	.inline { display: inline; }
	.inherit { display: inherit; }

	// general distances on top and bottom
	.distance-top-xs {
		margin-top: 12px;
	}
	.distance-top-sm {
		margin-top: 18px;
	}
	.distance-top-md {
		margin-top: 28px;
	}
	.distance-top-lg {
		margin-top: 40px;
	}
	.distance-bottom-xs {
		margin-bottom: 12px;
	}
	.distance-bottom-sm {
		margin-bottom: 18px;
	}
	.distance-bottom-md {
		margin-bottom: 28px;
	}
	.distance-bottom-lg {
		margin-bottom: 40px;
	}

	.development {
		border: 1px dashed grey;
		margin: -1px;
		background-color: #ebebeb;

		&.namefield,
		&.spClassSearchInbox,
		&.spClassEditInbox,
		&.spClassViewInbox {
			background-color: #fde9e2;
		}
		&.spClassSearchCheckbox,
		&.spClassEditCheckbox,
		&.spClassViewCheckbox {
			background-color: #ddfde5;
		}
		&.spClassSearchRadio,
		&.spClassEditRadio,
		&.spClassViewRadio {
			background-color: #dfebfd;
		}
		&.spClassEditUrl,
		&.spClassViewUrl {
			background-color: #fdf8d9;
		}
		&.spClassEditEmail,
		&.spClassViewEmail {
			background-color: #fdeaf5;
		}
		&.spClassEditImage,
		&.spClassViewImage {
			background-color: #e7fffd;
		}
		&.spClassSearchSelect,
		&.spClassEditSelect,
		&.spClassViewSelect {
			background-color: #ededfd;
		}
		&.spClassEditInfo,
		&.spClassViewInfo {
			background-color: #ffe7ec;
		}
		&.spClassSearchMSelect,
		&.spClassEditMSelect,
		&.spClassViewMSelect {
			background-color: #e8fdee;
		}
		&.spClassSearchText,
		&.spClassEditText,
		&.spClassViewText {
			background-color: #e3f5fd;
		}
		&.spClassEditButton,
		&.spClassViewButton {
			background-color: #f2ffd4;
		}
		&.spClassSearchCategory,
		&.spClassEditCategory {
			background-color: #fbe5f3;
		}
		&.spClassSearchCalendar,
		&.spClassEditCalendar,
		&.spClassViewCalendar {
			background-color: #e6fddd;
		}
		&.spClassEditGallery,
		&.spClassViewGallery {
			background-color: #fff1e6;
		}
		&.spClassSearchAggregation,
		&.spClassEditAggregation,
		&.spClassViewAggregation {
			background-color: #f1f6fe;
		}
		&.spClassEditProfile,
		&.spClassViewProfile {
			background-color: #f7f1fe;
		}
		&.spClassSearchMap,
		&.spClassEditMap,
		&.spClassViewMap {
			background-color: #f9fbde;
		}
		&.spClassViewMap {
			margin: 0;
		}
		&.spClassViewQRCode {
			background-color: #defef2;
		}
		&.spClassViewContact {
			background-color: #fbeadb;
		}
		&.spClassEditCoupon {
			background-color: #d7fbdd;
		}
		&.spClassViewDownload,
		&.spClassEditDownload {
			background-color: #e3e3fb;
		}
		&.spClassSearchBirthday,
		&.spClassEditBirthday,
		&.spClassViewBirthday {
			background-color: #e1fdf5;
		}
		&.form-group {
			margin-bottom: 14px;
			margin-right: -14px;
			margin-left: -14px;
		}
	}

	//otherwise buttons are a bit too high to align with input boxes
	.btn i {
		//font-size: 0.97em; //removes the possibility to resize the icon in a button
	}

	// Removal of template interferences
	// ----------------------------------------
	li {
		line-height: inherit;
	}
	p {
		font-size: inherit;
		line-height: inherit;
	}
	input[type="checkbox"] {
		width: inherit;
	}

	// Overwrite some bootstrap styles resp. template changes
	// ----------------------------------------
	a:hover,
	a:focus {
		color: darken(@active-color, 10%);
	}

	//Redefine standard Bootstrap btn link colours
	a.btn-default {
		color: #333;
		background-color: #fff;
		border-color: #ccc;
	}
	.btn-default.focus,
	.btn-default:active,
	.btn-default:hover {
		color: #333;
		background-color: #e6e6e6;
		border-color: #adadad;
	}
	a.btn-primary,
	a.btn-primary:hover,
	a.btn-primary:active,
	a.btn-primary:focus,
	a.btn-danger,
	a.btn-danger:hover,
	a.btn-danger:active,
	a.btn-danger:focus,
	a.btn-info,
	a.btn-info:hover,
	a.btn-info:active,
	a.btn-info:focus,
	a.btn-success,
	a.btn-success:hover,
	a.btn-success:active,
	a.btn-success:focus,
	a.btn-warning,
	a.btn-warning:hover,
	a.btn-warning:active,
	a.btn-warning:focus {
		color: #fff;
	}

	.input-prepend .alert,
	.input-append .alert {
		font-size: @fontsize;
	}
	.page-header {
		margin-bottom: 10px;
		margin-top: 10px;
		font-size: calc(@fontsize + 8px);
		font-weight: 300;
		border-bottom: 1px solid lighten(@base-color, 50%);
	}
	.help-block {
		font-size: calc(@fontsize - 1px);
		color: @font-color;

		&.above { margin-top: 10px; }
	}
	.well {
		box-shadow: none;
		border-style: solid;
		border-width: 1px;
	}
	label {
		font-weight: 500;
		font-size: @fontsize;
	}
	.label-sigsiu i,
	.badge-sigsiu i,
	.label-sigsiu a,
	.badge-sigsiu a {
		color: @text-color;
		text-shadow: none;
	}
	.label-sigsiu,
	.badge-sigsiu {
		color: @text-color !important;
		background-color: lighten(@base-color, 5%);
	}

	// Tables
	// ------------------------
	.table { font-size: @fontsize; }
	.table th,
	.table td {
		.borders(light);
	}
	.table > tbody > tr.sigsiu > td,
	.table > tbody > tr.sigsiu > th,
	.table > tbody > tr > td.sigsiu,
	.table > tbody > tr > th.sigsiu,
	.table > tfoot > tr.sigsiu > td,
	.table > tfoot > tr.sigsiu > th,
	.table > tfoot > tr > td.sigsiu,
	.table > tfoot > tr > th.sigsiu,
	.table > thead > tr.sigsiu > td,
	.table > thead > tr.sigsiu > th,
	.table > thead > tr > td.sigsiu,
	.table > thead > tr > th.sigsiu {
		.background(medium);
		.borders(medium);
		color: @base-color;
	}

	// Vertical striped tables
	.table-striped tbody > tr:nth-child(2n+1) > td,
	.table-vstriped tbody > tr > td:nth-child(2n+1) {
		.background(light);
		.borders(light);
	}
	.table.table-vstriped th,
	.table.table-vstriped td {
		border-top: none;
	}
	.table.table-vstriped td {
		border-right-style: solid;
		border-right-width: 1px;
		.borders(light);
	}
	.table.table-vstriped > thead > tr > th {
		border-bottom: none;
	}
	.table td a {
		color: @base-color;
	}
	.table td a.active,
	.table td a:hover,
	.table td a:focus {
		color: @base-color;
		text-decoration: underline;
	}

	// Panels
	// ------------------------
	.panel-sigsiu {
		.borders(dark);

		.panel-heading {
			.background(dark);
			.borders(dark);
			color: white;
			font-size: calc(@fontsize + 2px);
			h1 {
				font-size: calc(@fontsize + 8px);
			}
			h2 {
				font-size: calc(@fontsize + 6px);
			}
			h3 {
				font-size: calc(@fontsize + 4px);
			}
		}
		.panel-title,
		.panel-title a:visited,
		.panel-title a {
			color: white;
		}
		.panel-title a:hover {
			color: white;
			text-decoration: underline;
		}
		.panel-footer {
			.background(light);
			.topborder(light);
		}
	}
	.panel-heading {
		font-size: calc(@fontsize + 2px);
		h1 {
			font-size: calc(@fontsize + 8px);
		}
		h2 {
			font-size: calc(@fontsize + 6px);
		}
		h3 {
			font-size: calc(@fontsize + 4px);
		}
	}

	// seems that is missing in bootstrap??
	.input-medium {
		min-height: 30px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	// as changed by Joomla template
	[class^="icon-"],
	[class*=" icon-"] {
		margin-right: 0;
	}
	p [class^="icon-"],
	p [class*=" icon-"] {
		vertical-align: top;
	}

	// Implement B2 styles, these are handy to use
	// -----------------------------------------
	.input-mini {
		width: 60px;
	}
	.input-small {
		width: 90px;
	}
	.input-medium {
		width: 150px;
	}
	.input-large {
		width: 210px;
	}
	.input-xlarge {
		width: 270px;
	}
	.input-xxlarge {
		width: 400px;
	}
	.input-xxxlarge {
		width: 530px;
	}

	// Modal windows
	// -----------------------------------------
	div.modal {
		margin-left: 0;
		top: 5%;
		left: 0;
		width: 100%;
		background-color: transparent;
		border: none;
		box-shadow: none;
	}
	.modal-body {
		max-height: 550px;
		overflow-y: auto;
	}
	.modal-header h3 {
		.headertext;
	}
	.modal-header .close {
		margin-top: 3px;
		margin-right: 5px;
	}
	.modal form {
		margin-right: 10px;
		margin-left: 20px;
	}
	& when (@corners = rounded) {
		.modal-header {
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
		}
		.modal-footer {
			border-bottom-left-radius: 6px;
			border-bottom-right-radius: 6px;
		}
	}
	.ctrl-spinner {
		position: absolute;
		left: 50%;
		top: 50%;
	}

	// Headers
	// -----------------------------------------------
	h1 {
		color: @active-color;
		font-size: calc(@fontsize + 12px);
		line-height: 1.1;
		margin-top: 0.67em;
	}
	h2 input[type="checkbox"] {
		margin: 0 0 5px 0;
	}
	h2 {
		font-size: calc(@fontsize + 11px);
	}
	h3 {
		font-size: calc(@fontsize + 10px);
	}

	& when (@corners = angular) {
		.panel,
		.panel-heading,
		.well,
		.btn,
		.modal,
		.modal-footer,
		.modal-content,
		.alert,
		.label,
		.thumbnail,
		.popover,
		.popover-title,
		.dropdown-menu,
		.nav-pills > li > a,
		select,
		textarea,
		.form-control,
		.bootstrap-datetimepicker-widget td,
		.bootstrap-datetimepicker-widget th,
		.bootstrap-datetimepicker-widget td span,
		.bootstrap-tagsinput,
		.navbar.topmenu,
		.navbar,
		.input-group-addon,
		input[type="text"],
		input[type="password"],
		input[type="datetime"],
		input[type="datetime-local"],
		input[type="date"],
		input[type="month"],
		input[type="time"],
		input[type="week"],
		input[type="number"],
		input[type="email"],
		input[type="url"],
		input[type="search"],
		input[type="tel"],
		input[type="color"],
		.uneditable-input,
		.topmenu .navbar-search .search-query,
		input#review-positives_tag,
		input#review-negatives_tag,
		div.tagsinput,
		div.tagsinput span.tag,
		.table-bordered,
		.pagination {
			border-radius: 0;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
		}
		.btn-group > .btn:first-child,
		.pagination > li:first-child > a,
		.pagination > li:first-child > span,
		.pagination-lg > li:first-child > a,
		.pagination-sm > li:first-child > a,
		.pagination-lg > li:first-child > span,
		.pagination-sm > li:first-child > span {
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
		}
		.btn-group > .btn:last-child,
		.btn-group > .dropdown-toggle,
		.pagination > li:last-child > a,
		.pagination > li:last-child > span,
		.pagination-lg > li:last-child > a,
		.pagination-sm > li:last-child > a,
		.pagination-lg > li:last-child > span,
		.pagination-sm > li:last-child > span {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		select {
			//   -webkit-appearance: none;
		}
	}

	//tag corners are angular by default; Bootstrap corners are rounded by default
	& when (@corners = rounded) {
		input#review-positives_tag,
		input#review-negatives_tag,
		div.tagsinput,
		div.tagsinput span.tag {
			border-radius: 4px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
		}
		.input-group .spClassUrlProtocol.form-control {
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}
	}

	// Pagination
	// -----------------------------------------------
	.pagination > ul > li > a,
	.pagination > ul > li > span,
	.pagination > li > a,
	.pagination > li > span {
		border-color: @base-color;
		border-width: 1px;
		margin: 1px;
	}
	.pagination > ul > li > a,
	.pagination > li > a {
		color: @text-color;
		background-color: @base-color;
		font-weight: bold;
	}
	.pagination > ul > li > a.active,
	.pagination > ul > li > a:hover,
	.pagination > ul > li > a:focus,
	.pagination > li > a.active,
	.pagination > li > a:hover,
	.pagination > li > a:focus,
	.pagination > .active > a,
	.pagination > .active > span {
		color: @hover-color;
		background-color: @active-color;
		border-color: @active-color;
		text-decoration: none;
	}
	.well,
	.pagination ul > .disabled > span,
	.pagination ul > .disabled > a,
	.pagination ul > .disabled > a:hover,
	.pagination ul > .disabled > a:focus,
	.pagination > .disabled > span,
	.pagination > .disabled > a,
	.pagination > .disabled > a:hover,
	.pagination > .disabled > a:focus {
		.background(light);
		.borders(light);
		color: saturate(darken(@base-color, 12%), 20%);
	}

	// new Pagination size between normal and mini
	// ----------------------------------------
	.pagination-midi > li > a,
	.pagination-midi > li > span {
		padding: 2px 9px;
		font-size: calc(@fontsize - 2px);
	}
	.pagination-xs > li > a,
	.pagination-xs > li > span {
		font-size: calc(@fontsize - 3.5px);
		padding: 2.4px 5px;
	}

	// Dropdown
	// -----------------------------------------------
	.dropdown-menu > .active > a,
	.dropdown-menu > .active > a:hover,
	.dropdown-menu > .active > a:focus,
	.dropdown-menu > li > a:hover,
	.dropdown-menu > li > a:focus,
	.dropdown-submenu:hover > a,
	.dropdown-submenu:focus > a {
		color: @hover-color;
		background-color: @active-color;
		background-image: none;
	}

	textarea,
	select,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	.uneditable-input {
		font-size: @fontsize;
	}

	textarea:focus,
	select:focus,
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="datetime"]:focus,
	input[type="datetime-local"]:focus,
	input[type="date"]:focus,
	input[type="month"]:focus,
	input[type="time"]:focus,
	input[type="week"]:focus,
	input[type="number"]:focus,
	input[type="email"]:focus,
	input[type="url"]:focus,
	input[type="search"]:focus,
	input[type="tel"]:focus,
	input[type="color"]:focus,
	.uneditable-input:focus {
		border-color: fade(@base-color, 80%) !important;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(red(@base-color), green(@base-color), blue(@base-color), 60%);
		border-style: solid;
		border-width: 1px;
	}
	select:focus {
		outline: 0 none;
	}
	select option:focus {
		background-color: @active-color;
	}
	.thumbnail {
		margin-bottom: 9px;
	}

	// New button colour
	// ----------------------------------------
	.toggle-editor .btn,
	.btn-sigsiu {
		color: @text-color !important;
		background-color: lighten(@base-color, 5%);
		border-color: darken(@base-color, 5%);
	}
	.toggle-editor .btn:hover,
	.toggle-editor .btn:focus,
	.toggle-editor .btn:active,
	.toggle-editor .btn.active,
	.btn-group.open .btn-sigsiu.dropdown-toggle,
	.btn-sigsiu:hover,
	.btn-sigsiu:focus,
	.btn-sigsiu:active,
	.btn-sigsiu.active {
		background-color: @base-color;
		color: @text-color;
		border-color: darken(@base-color, 10%);
	}
	.btn-sigsiu .caret {
		border-top-color: @text-color;
	}

	// New text and background  color
	// ----------------------------------------
	.text-sigsiu {
		color: @base-color;
	}
	.text-sigsiu-active {
		color: @active-color;
	}
	.text-sigsiu-important {
		color: @important-color;
	}
	.bg-sigsiu {
		border-style: solid;
		border-width: 1px;
		.borders(medium);
		.background(medium);
	}
	.bg-sigsiu-light {
		border-style: solid;
		border-width: 1px;
		.background(light);
		.borders(light);
	}
	.bg-sigsiu-alert {
		border-style: solid;
		border-width: 1px;
		background-color: @alert-color;
		color: @active-color;
		border-color: darken(@alert-color, 10%);
		& when (@corners = angular) {
			border-radius: 0;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
		}
	}

	// Define widths to use as classes
	// ----------------------------------------
	.collwidth2 {
		width: 50%;
	}
	.collwidth3 {
		width: 33.33%;
	}
	.collwidth4 {
		width: 25%;
	}
	.collwidth5 {
		width: 20%;
	}
	.collwidth6 {
		width: 16.66%;
	}
	.collwidth8 {
		width: 12.5%;
	}
	.collwidth10 {
		width: 10%;
	}

	// Alert windows and error messages
	// ----------------------------------------
	// Alert messages outside SobiPro without given color class
	.alert-sigsiu {
		background-color: @alert-color;
		border: 1px solid darken(@alert-color, 10%);
	}
	.alert-sigsiu,
	.alert-sigsiu h4 {
		color: @active-color;
	}

	// define bootstrap alert to use it as mixin
	.alert {
		padding: 8px 15px 8px 14px;
		margin-bottom: 20px;
		margin-top: 5px;
		text-shadow: none;

		.close {
			right: 0;
		}
	}
	.spAlert {
		margin-bottom: 8px;
		margin-top: 20px;
		background-color: transparent;
		color: @active-color;
		font-weight: 500;
	}

	// has to be defined by the template as several apps are using it
	// conflicts with Joomla alerts in colour meaning
	//.alert-message {
	//border-style: solid;
	//border-width: 1px;
	//.alert;
	//.spAlert;
	//}
	.spMessage {
		margin-top: 10px;
	}

	//simulate default alert-danger, used by SobiPro apps instead of alert-message
	.alert-error {
		color: #a94442;
		background-color: #f2dede;
		border-color: #ebccd1;
	}
	// Bootbox
	.bootbox-alert i.error {
		color: #a94442;
		font-size: calc(@fontsize + 16px);
	}
	.bootbox-alert i.success {
		color: #449d44;
		font-size: calc(@fontsize + 16px);
	}
	.bootbox-alert div.signal {
		float: left;
		padding-right: 10px;
	}
	.bootbox-body {
		padding-bottom: 10px;
	}

	.spMessage .alert-error,
	.spMessage .alert-danger {
		border-color: lighten(@error-color, 58%);
		background-color: lighten(@error-color, 62%);
		color: @error-color;
	}
	.spMessage .alert-success,
	.spSearch .alert-info {
		border-color: @alert-color;
		background-color: lighten(@alert-color, 5%);
		color: @active-color;
		font-weight: 500;
	}

	// Looks as a normal text (removal of the message design)
	.alert-normal {
		padding: 10px 0 10px 0;
		font-size: calc(@fontsize + 1px);
		color: @font-color;
		background-color: @back-color;
		border-color: @back-color;
	}
	.text-error,
	.form-group.error {
		.checkbox,
		.radio,
		input,
		select,
		textarea,
		.control-label,
		.help-block,
		.help-inline {
			color: @error-color;
		}
		input:focus,
		select:focus,
		textarea:focus {
			border-color: fade(@error-color, 80%) !important;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px rgba(red(@error-color), green(@error-color), blue(@error-color), 60%);
		}
		input,
		select,
		textarea {
			border-color: @error-color;
		}
	}

	// Navigation bars
	// ----------------------------------------
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		border-color: @base-color;
	}
	.navbar .nav > li > a:focus {
		outline: 2px solid @outline-color;
	}
	.nav-tabs,
	.nav-pills {
		font-size: calc(@fontsize + 1px);
	}
	.nav-pills > li.active > a,
	.nav-pills > li.active > a:focus,
	.nav-pills > li.active > a:hover,
	.nav-pills > .active > a,
	.nav-pills > .active > a:hover,
	.nav-pills > .active > a:focus {
		background-color: @active-color;
		color: @hover-color;
	}
	.navbar .nav > li > a {
		padding-left: 10px;
		padding-right: 10px;
		text-shadow: none;
	}

	// Topmenu
	// ----------------------------------------
	.topmenu.navbar {
		box-shadow: none;
		margin-bottom: 20px;
		min-height: inherit;
		position: inherit;
		width: inherit;
		z-index: auto;
		background-color: @base-color;
		font-size: calc(@fontsize + 1px);
		border: none;
		& when (@corners = rounded) {
			border-radius: 4px;
		}
	}
	.topmenu {
		.nav {
			background: inherit;
		}
		.nav > li,
		.nav > li a {
			color: @text-color;
			line-height: 40px;
			border-bottom: inherit;
			text-align: inherit;
		}
		.nav > li a.active,
		.nav > li a:focus,
		.nav > li a:hover {
			background-color: @active-color;
			color: @hover-color;
		}
		.navbar-nav > li > a {
			padding-top: 15px;
			padding-bottom: 15px;
			font-size: inherit;
		}
		.navbar-search {
			margin-top: 15px;

			input {
				width: 140px;
			}
		}
		input[type="text"] {
			border-color: darken(@base-color, 5%);
			height: inherit;
			margin-bottom: inherit;
		}
	}
	.topmenu.buttonbar {
		.menu {
			float: left;
		}
		.add.right,
		.search.right {
			float: right;
			margin-left: 5px;
		}
		.add.left,
		.search.left {
			float: left;
			margin-left: 5px;
		}
	}

	// Alphalist
	// ----------------------------------------
	.alphalist {
		float: left;
		margin: 5px 10px 2px 1px;

		.dropdown-menu {
			text-align: left;
		}

		.btn.btn-xs {
			padding: 1px 5px;
			font-weight: unset;
			font-size: calc(@fontsize - 1px);
			margin-bottom: inherit;
			border: inherit;
			margin-right: inherit;
			text-transform: none;
		}
	}
	.alpha {
		.pagination {
			margin-top: 5px;
			width: inherit;
			display: inline-block;

			.nolink,
			li a {
				min-width: 20px;
				text-align: center;
				letter-spacing: -1.3px;
				-webkit-box-sizing: unset;
				-moz-box-sizing: unset;
				box-sizing: unset;
				& when (@corners = rounded) {
					border-radius: 4px;
				}
			}

			> li:first-child > a,
			> li:first-child > span {
				margin-left: 1px;
			}

			ul > li > a,
			ul > li > span {
				padding: inherit;
			}

			ul > li {
				margin-right: inherit;
			}
		}
	}
	// Category images and icons
	// ----------------------------------------
	div.spCat {
		border: none;
		box-shadow: 0 0 0 0;
		display: block;
		line-height: 25px;
	}

	.spCatname p {
		margin: 5px 0 0 0;
		font-size: calc(@fontsize + 1px);
	}

	.spCaticon i {
		color: @base-color;
	}

	.spCaticon [class^="fa-"],
	.spCaticon [class*=" fa-"] {
		margin-right: 0;
	}

	.spCaticon [class^="icon-"],
	.spCaticon [class*=" icon-"] {
		margin-right: 0;
	}

	.spCaticon {
		text-align: center;
		margin-top: 5px;
	}

	.spCaticon a {
		color: @base-color;
	}

	.spCaticon a:hover {
		color: @base-color;
		text-decoration: none;
	}

	.spCatintro {
		font-size: 90%;
		line-height: 15px;
		color: lighten(@font-color, 15%);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin-right: 5px;
	}

	// Category Fields
	// ----------------------------------------
	.spCategoryFields {
	}

	// Views/DV
	// ----------------------------------------
	.spCategoryContainer,
	.spEntryContainer {
		margin-bottom: 15px;
		margin-top: 15px;
	}

	.spNavigationContainer .spEntryContainer {
		margin-top: 0;
	}

	.spNavigationContainer {
		margin-top: -15px;
		padding-top: 15px;
	}

	.btn-navigation {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.spEntryCats {
		font-size: 80%;
	}

	.spEntryCount {
		font-size: calc(@fontsize - 2px);
		color: @font-color;
	}

	.spSubcats {
		line-height: 15px;
	}

	.spLabel {
		font-weight: 700;
	}

	.spSectionDesc {
		margin-bottom: 30px;
		margin-top: 20px;
	}

	// NoImge Setting
	// ----------------------------------------
	.spNoImage {
		width: 100px;
		height: 75px;
		font-size: 60px;
		& when (isnumber(@small-image)) {
			width: @small-image;
			height: calc(@small-image * @image-ratio);
			font-size: calc((@small-image * 6) / 10);
		}
		text-align: center;
		padding: 4px;
		border-style: solid;
		border-width: 1px;
		& when (@corners = rounded) {
			border-radius: 4px;
		}
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
		margin: 5px;
		.background(light);
		.borders(light);
	}

	.spDetailEntry .spNoImage {
		width: 300px;
		height: 200px;
		font-size: 180px;
		& when (isnumber(@big-image)) {
			width: @big-image;
			height: calc(@big-image * @image-ratio);
			font-size: calc((@big-image * 6) / 10);
		}
	}

	.spNoImage i {
		color: lighten(@base-color, 30%);
	}

	.spNoImageContainer {
		display: flex;
		display: -webkit-flex;
	}

	.spNoImageContainer.right {
		float: right;
		display: inline;
	}

	.spNoImageContainer.left {
		float: left;
		display: inline;
	}

	.spNoImage {
		display: flex;
		display: -webkit-flex;
		align-items: center;
		-webkit-align-items: center;
		justify-content: space-around;
		-webkit-justify-content: space-around;
	}

	.spNoImage.stretch {
		align-self: stretch;
		-webkit-align-self: stretch;
		flex: 1;
		-webkit-flex: 1;
	}

	// Tabs / Pills / Coloured Tabs / Staples
	// ----------------------------------------
	.tab-pane {
		.background(light);
		border-style: solid;
		border-width: 1px;
		.borders(light);
		& when (@corners = rounded) {
			border-radius: 4px;
		}
		padding: 10px;
		margin-bottom: 15px;
		margin-top: 10px;
		min-height: 200px;
	}

	.spTablist {
		margin-top: 20px;
	}

	.nav-pills a:focus,
	.nav-tabs a:focus {
		outline: none;
	}

	.nav-tabs > li > a {
		& when (@corners = angular) {
			border-radius: 0;
		}
	}

	// Coloured tabs
	.tab-content.tabs.coloured .tab-pane {
		margin-top: 0;
	}

	.tab-content.tabs.coloured .tab-pane.active {
		border-top-left-radius: 0;
	}

	.nav-tabs.coloured > li.active > a,
	.nav-tabs.coloured > li.active > a:hover,
	.nav-tabs.coloured > li.active > a:focus {
		border-style: solid;
		border-width: 1px;
		.background(light);
		.borders(light);
		.bottomborder(lightbackground);
	}

	.nav-tabs.coloured {
		border-bottom: none;
	}

	// Staples
	.tab-content.pills.staples {
		margin-top: -20px;
		padding: 0;
	}

	.nav-pills.staples {
		margin-top: 0;
	}

	.nav-pills.staples > .active > a,
	.nav-pills.staples > .active > a:focus,
	.nav-pills.staples > .active > a:hover {
		.background(medium);
		color: @active-color;
		border-bottom: 2px solid @active-color;
		top: 20px;
	}

	.tab-content.pills.staples .tab-pane {
		padding-top: 36px;
	}

	.nav-pills.staples > li {
		opacity: 0.5;
	}

	.nav-pills.staples > li > a:hover,
	.nav-pills.staples > li > a:focus {
		background: none;
	}

	.nav-pills.staples > li:hover,
	.nav-pills.staples > li.active {
		opacity: 1.0;
	}

	ul.nav-pills.staples {
		margin-left: 10px;
	}

	.nav-pills.staples > li > a {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.nav-pills.staples > li.active::before,
	.nav-pills.staples > li.active::after {
		top: 20px;
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border-bottom: 14px solid #cdcdcd;
	}

	.nav-pills.staples > li.active::before {
		left: -9px;
		border-left: 10px solid transparent;
		border-right: 0 solid transparent;
	}

	.nav-pills.staples > li.active::after {
		right: -9px;
		border-left: 0 solid transparent;
		border-right: 10px solid transparent;
	}

	// Entry details view
	// ----------------------------------------
	.spDetails {
		font-size: @fontsize;
	}

	.spDetailEntry .spManage {
		margin-right: 7px;
	}

	span.spDetailSuffix {
		font-size: 80%;
	}

	.spDetailEntry .spClassViewImage img {
		width: @big-image;
	}

	// Entry Status
	// ----------------------------------------
	.entry-status i {
		font-size: 70%;
		color: @important-color;
		padding-left: 5px;
	}

	a.entry-status:hover,
	a.entry-status:active,
	a.entry-status:focus {
		text-decoration: none;
	}

	// Popover in General
	// ----------------------------------------
	.popover {
		font-size: calc(@fontsize - 1px);
		font-weight: normal;
		line-height: 20px;
	}

	.popover-inner .spclose {
		padding-right: 8px;
		padding-top: 5px;
		font-size: calc(@fontsize + 1px);
		text-shadow: none;
	}

	.popover .popover-title {
		text-shadow: none;
		font-weight: bold;
	}

	// Add entry form
	// ----------------------------------------
	.spEntryEdit {
		.required {
			border: 1px solid @important-color;
		}

		.spClassRadio.required,
		.spClassCheckbox.required {
			border: none;
		}

		textarea,
		input[type="text"] {
			margin-bottom: inherit;
		}

		.progress {
			min-width: 100px;
		}

		.required-message {
			margin: 25px 0 10px 0;
		}

		.star {
			color: @important-color;
			padding-left: 2px;
			font-size: @fontsize;
		}

		.message-lightbulb {
			left: 0;
			position: relative;
		}

		& when (@corners = rounded) {
			.message-lightbulb .popover-content {
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
			}
		}

		.message-lightbulb .popover.bottom {
			margin-top: 0;
		}

		.popover-title {
			color: @error-color;
			font-size: calc(@fontsize + 3px);
			font-weight: 400;
		}

		.popover-title::before {
			font-family: FontAwesome;
			content: "";
			padding-right: 5px;
		}
	}

	.spSearch select.spClassCategory,
	.spEntryEdit select.spClassCategory {
		margin-bottom: 3px;
	}

	.editor {
		overflow: visible;
	}

	.spUpload {
		.span1 {
			margin-left: 10px;
		}
		.alert {
			margin-top: 5px;
		}
	}

	.spClassEditInfo {
		margin-top: 10px;
	}

	// URL and Email Fields
	// ----------------------------------------
	.spFieldSelect select,
	.spFieldButtonLabel,
	.spFieldEmailLabel,
	.spFieldUrlLabel {
		margin-bottom: 5px;
	}

	& when (@corners = rounded) {
		.spFieldButton .input-group-btn select,
		.spFieldUrl .input-group-btn select {
			border-radius: 4px 0 0 4px;
		}
	}

	.spFieldButton .input-group select.form-control,
	.spFieldButton select,
	.spFieldUrl .input-group select.form-control,
	.spFieldUrl select {
		width: 100px;
	}

	.spButtonCounterValue,
	.spUrlCounterValue {
		font-size: 85%;
		color: grey;
		padding-left: 18px;
	}

	.spCountableReset {
		margin-top: 5px;
	}

	// Image Field
	// ----------------------------------------
	.spEditImagePreview {
		float: left;
		min-height: 65px;
	}

	.spEditImagePreview img {
		padding: 4px;
		background-color: #fff;
		border: 1px solid rgba(0, 0, 0, 0.2);
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
		margin: 0 5px 5px 0;
		min-width: 50px;
		min-height: 50px;
		& when (@corners = rounded) {
			border-radius: 4px;
		}
	}

	.spImageField input[type='checkbox'] {
		//		margin: 1px 5px 5px 0;
		margin: 4px 5px 5px -20px;
	}

	.spImageField label {
		display: inline-block;
		padding-left: 20px;
	}

	.spImageUpload {
		.span1 {
			margin-left: 10px;
		}
		.alert {
			margin-top: 5px;
		}
		margin-bottom: 3px;
	}

	// Sigsiu Tree
	// ----------------------------------------
	.SigsiuTree .selected {
		margin-top: 10px;
	}

	.SigsiuTree .selected select {
		min-height: 100px;
		width: 100%;
	}

	.SigsiuTree .buttons {
		text-align: right;
		margin-top: 12px;
	}

	.SigsiuTree .buttons button {
		margin: 3px 0 10px 3px;
	}

	.SigsiuTree .buttons button i::after {
		content: ' ';
	}

	.SigsiuTree .tree {
		overflow: auto;
		max-height: 250px;
		min-height: 100px;
		margin-top: 10px;
	}

	// Search and Edit form
	// ----------------------------------------
	.spFieldCheckbox,
	.spFieldRadio {
		display: inline-block;
	}

	.spFieldRadio label,
	.spFieldCheckbox label {
		float: left;
		color: #666666;
	}

	.radio.left input[type="radio"],
	.radio-inline.left input[type="radio"],
	.checkbox.left input[type="checkbox"],
	.checkbox-inline.left input[type="checkbox"] {
		margin-left: 10px;
	}

	.radio-inline.left,
	.checkbox-inline.left {
		padding-left: 0;
	}

	.checkbox + .checkbox, .radio + .radio {
		margin-top: -5px;
	}

	.spFieldRadio input,
	.spFieldCheckbox input {
		margin-top: 3px;
	}

	// Range inputs
	.spRangeFrom input,
	.spRangeTo input,
	.spRangeFrom select,
	.spRangeTo select,
	.spSelectRangeFrom .input-group,
	.spSelectRangeTo .input-group {
		float: left;
		width: calc(100% / 2 - 5px);
	}

	.spRangeFrom select,
	.spRangeFrom input,
	.spSelectRangeFrom .input-group {
		margin: 0 5px 10px 0;
	}

	.spRangeTo select,
	.spRangeTo input,
	.spSelectRangeTo .input-group {
		margin: 0 0 10px 5px;
	}

	.spSelectRangeFrom .input-group.input-append,
	.spSelectRangeTo .input-group.input-append {
		margin-bottom: 0;
	}

	.spClassCalendarRepeat select {
		margin-top: 10px
	}

	// Edit entry payment control
	// ----------------------------------------
	.form-group {
		.paytext {
			margin-top: 15px;
			margin-bottom: 15px;
			font-weight: 500;
		}

		.paybox {
			border-radius: 45px;
			padding: 11px 0 0;
		}
	}

	// Search
	// ----------------------------------------
	.spSelectRangeFrom span,
	.spSelectRangeTo span {
		min-width: 34px;
	}

	.SPSearch .highlight,
	.spSearch .highlight {
		background-color: yellow;
	}

	.sp-search-controls input {
		margin-bottom: 10px;
	}

	.spSearchBottom {
		margin-bottom: 10px;
	}

	// Payment popup
	// ----------------------------------------
	table.payment td {
		line-height: 10px;
	}

	table tr.summary td {
		background-color: #ffffff !important;
		padding-top: 25px;
	}

	table.payment tbody tr.info > td {
		.borders(medium);
		.background(medium);
	}

	table.payment tbody tr.success > td {
		background-color: lighten(@alert-color, 20%);
	}

	table tr.sum td {
		font-weight: bold;
	}

	.disabledArea {
		opacity: 0.3;
		cursor: progress;
	}

	.disabledArea a {
		cursor: progress;
	}

	// Common fields styling via variable CSS classes
	// (don't work if you change the field CSS classes in the Fields Manager)
	// ----------------------------------------
	// Core Fields
	div.spClassViewUrl {
		padding-top: 10px;
	}

	.popover img,
	.spClassViewImage img {
		padding: 4px;
		background-color: #fff;
		border: 1px solid rgba(0, 0, 0, 0.2);
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
		margin: 5px;
		& when (@corners = rounded) {
			border-radius: 4px;
		}
	}

	.spEntryContainer .spClassViewImage img {
		width: @small-image;
		margin-bottom: 5px;
	}

	// Navigation Link Bar
	// -----------------------------------------------
	.alert-navigationlinks {
		background-color: @back-color;
		color: @base-color;
		margin-top: 20px;
		height: 30px;
		padding: 4px 15px 4px 14px;
		a {
			color: @base-color;
			&:hover {
				color: darken(@base-color, 10%);
				text-decoration: none;
			}
		}
	}

	ul.spNavigationLinks {
		text-align: right;
		border-bottom: 1px solid;
		border-bottom-color: @base-color;
		margin-left: 0;
		li {
			display: inline;
			margin-left: 20px;
			font-size: calc(@fontsize - 2px);
		}
	}

	// Tooltip Settings
	// -----------------------------------------------
	.tooltip-inner {
		background-color: @base-color;
		color: @text-color;
	}

	.tooltip.top .tooltip-arrow {
		border-top-color: @base-color;
	}

	.tooltip.bottom .tooltip-arrow {
		border-bottom-color: @base-color;
	}

	.tooltip.left .tooltip-arrow {
		border-left-color: @base-color;
	}

	.tooltip.right .tooltip-arrow {
		border-right-color: @base-color;
	}

	// Carousel Slider Settings
	// -----------------------------------------------
	.carousel-inner {
		height: @carousel-image;

		.carousel-caption {
			background-color: transparent;
			color: white;
			font-weight: 600;
		}
	}

	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
		height: @carousel-image;
	}

	.carousel-inner img.sp-carousel-image {
		margin-left: auto;
		margin-right: auto;
	}

	.carousel-indicators {
		top: auto;
		right: auto;

		li {
			float: none;
		}
	}

	.carousel-control {
		height: unset;
		margin-top: -20px;
		line-height: unset;
		border: 0 solid #fff;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}

	.carousel-control.right {
		background-image: linear-gradient(to right, transparent 0, rgba(red(@active-color), green(@active-color), blue(@active-color), 0.5) 100%);
	}

	.carousel-control.left {
		background-image: linear-gradient(to right, rgba(red(@active-color), green(@active-color), blue(@active-color), 0.5) 0, transparent 100%);
	}

	// Support for Font Awesome 3 and 4
	.carousel-control {
		.fa-chevron-right,
		.icon-chevron-right,
		.icon-next {
			margin-right: -15px;
		}
		.fa-chevron-left,
		.fa-chevron-right,
		.icon-chevron-left,
		.icon-chevron-right,
		.icon-next,
		.icon-prev {
			width: 30px;
			height: 30px;
			margin-top: -15px;
			font-size: calc(@fontsize + 16px);
		}
		.fa-chevron-right,
		.icon-chevron-right,
		.icon-next {
			right: 50%;
			margin-right: -10px;
		}
		.fa-chevron-left,
		.fa-chevron-right,
		.icon-chevron-left,
		.icon-chevron-right,
		.icon-next,
		.icon-prev {
			position: absolute;
			top: 50%;
			z-index: 5;
			display: inline-block;
			margin-top: -10px;
		}
	}

	// Entries Module
	// -----------------------------------------------
	.ctrl-emod-navigation {
		.pagination {
			margin-bottom: 0;
			margin-top: 5px;

			ul {
				margin-bottom: 2px;
			}
		}
	}

	.spModule .spModuleContainer {
		margin-top: 15px;
		margin-bottom: 15px;

		.spNoImage {
			display: none;
		}
		.spClassViewImage img {
			width: 100%;
			float: none;
		}
	}

	// SP-GeoMap Field
	// -----------------------------------------------
	& when (@corners = rounded) {
		.ctrl-geomap {
			border-radius: 4px;
		}
	}

	.mapSearch input {
	}

	// Aggregation Field
	// -----------------------------------------------
	.bootstrap-tagsinput {
		.tag {
			color: @text-color;
		}
		.tag [data-role="remove"] {
			color: darken(@text-color, 10%);
		}
		input {
			width: initial;
		}
		input:focus[type="text"],
		input:focus {
			border: none;
			box-shadow: none;
		}
	}

	div.spClassViewAggregation,
	div.spClassViewAggregation a {
		color: @active-color;
	}

	// Review and Rating App
	// -----------------------------------------------
	.review-ajax-navigation:hover,
	.review-ajax-navigation,
	.review-ajax-navigation .icon-chevron-down {
		color: @base-color;
	}

	.review-first {
		font-size: calc(@fontsize + 2px);
		i {
			color: @base-color;
		}
	}

	.rating-summary .criteria,
	.review-container .criteria {
		line-height: 1.428571429;
		min-height: 22px;
	}

	.review-container {
		.rating-criteria {
			font-size: calc(@fontsize + 1px);
		}
		.review-author {
			font-size: calc(@fontsize - 1px);
		}
		.iv.rating-cancel i,
		.review-title {
			font-size: calc(@fontsize + 2px);
		}
		.summary-header {
			font-size: calc(@fontsize + 4px);
		}
		.tags_desc,
		.criteria-value {
			font-size: calc(@fontsize - 3px);;
		}
		.summary-criteria-value {
			font-size: @fontsize;
		}
		.review-status i {
			color: @important-color;
		}
	}

	// Calendar Field
	// -----------------------------------------------
	.spListing h3 {
		color: @base-color;
	}

	table.SpCalendar th,
	table.SpCalendar td,
	table.SpCalendar {
		.background(light);
		.borders(light);
	}

	table.SpCalendar td.SpCalSun {
		.borders(medium);
		.background(medium);
	}

	table.SpCalendar th {
		color: @base-color;
	}

	.spCalDayHead .navbar-inner {
		background-color: @alert-color;
		color: @text-color;
		font-size: calc(@fontsize + 1px);;
	}

	.spCalendarDayHead .navbar-text,
	.spcalNav a {
		font-size: calc(@fontsize + 1px);;
	}

	.SpCalDay.badge {
		background-color: @alert-color;
		color: @active-color;
		border-bottom-width: 1px;
		border-left-width: 1px;
		border-bottom-style: solid;
		border-left-style: solid;
		border-color: darken(@alert-color, 8%);
		font-weight: 400;
	}

	.spCalendarLabel.label-info,
	.SpCalEntry.label-info {
		background-color: lighten(@alert-color, 10%);
		color: @active-color;

		a {
			color: @base-color;
			text-shadow: none;
		}
	}

	.spClassCalendarRepeat {
		margin-top: 5px;
	}

	// Download Field
	// -----------------------------------------------
	.spEditDownloadPreview p {
		font-size: @fontsize;
	}

	// QR-Code Field
	// -----------------------------------------------
	.spClassViewQRCode {
		text-align: center;
	}

	// Collection App
	// -----------------------------------------------
	.spCollection {
		& when (@corners = rounded) {
			border-radius: 4px;
		}
		.background(light);
		.borders(light);
	}

	.spCollection .nav > li > a {
		border-color: fade(#ffffff, 0%);
	}

	.spCollection .nav > li > a:hover,
	.spCollection .nav > li > a:focus {
		border-color: darken(@hover-color, 10%);
		background-color: @hover-color;
		color: @active-color;
	}

	.ctrl-collection-remove-item {
		margin-top: 5px;
		i {
			font-size: @fontsize;
		}
	}

	.collection-entry-container .page-header,
	.btnCollection i {
		font-size: calc(@fontsize + 3px);
	}

	// Gallery Field
	// -----------------------------------------------
	.spGalleryDropArea div.table .file-row {
		.background(light);
	}

	.spGalleryDropArea,
	.spGalleryDropArea div.table .file-row > div {
		.borders(light);
	}

	.pswp__share-tooltip a:hover {
		color: @hover-color;
		background-color: @active-color;
	}

	& when (@corners = rounded) {
		.pswp__share-tooltip {
			border-radius: 4px;
		}
	}

	.pswp__share-modal {
		background: rgba(red(@base-color), green(@base-color), blue(@base-color), 0.5);
	}

	.pswp__share-modal--fade-in {
		opacity: 1;
	}

	// Profile Field
	// -----------------------------------------------
	.spProfile.striped > blockquote:nth-child(2n+1) {
		.background(light);
		.borders(light);
	}

	.spProfile.striped > blockquote:nth-child(2n) {
		.borders(medium);
		.background(medium);
	}

	.spProfileSection {
		color: @base-color;
	}

	//restore font size in modal
	.modal-body {
		font-size: 14px;

		label,
		textarea,
		select,
		input[type="text"],
		input[type="password"],
		input[type="datetime"],
		input[type="datetime-local"],
		input[type="date"],
		input[type="month"],
		input[type="time"],
		input[type="week"],
		input[type="number"],
		input[type="email"],
		input[type="url"],
		input[type="search"],
		input[type="tel"],
		input[type="color"],
		.uneditable-input {
			font-size: 14px;
		}
	}

	.modal-footer {
		.btn {
			font-size: 14px;
		}
	}

	.modal-header {
		.spMessage {
			font-size: 14px;
		}
	}

	// Custom Media Queries
	// ==============================================
	// Large desktop
	@media (min-width: 1200px) {
	}

	// Desktop
	@media (min-width: 993px) and (max-width: 1199px) {
	}

	// Portrait tablet to landscape and desktop
	@media (min-width: 781px) and (max-width: 992px) {
	}

	//Navigation Collapse
	//@media (min-width: 768px) and (max-width: 979px) {
	@media (min-width: 769px) and (max-width: 991px) {
	}

	/* Small devices (tablets, 768px and up) */
	@screen-sm-min: 768px;
	@media (max-width: @screen-sm-min) {
		.topmenu .nav > li a {
			line-height: 20px;
		}

		.navbar .nav,
		.navbar .nav > li {
			float: none;
		}

		.navbar .nav > li > a {
			padding-left: 15px;
		}

		.navbar.topmenu {
			min-height: 20px;
			padding-left: 0;
			padding-right: 0;
		}

		.control-label div.paybox {
			margin-bottom: 8px;
		}

		.input-mini,
		.input-small,
		.input-medium,
		.input-large,
		.input-xlarge,
		.input-xxlarge,
		.input-xxxlarge {
			width: 100%;
		}

		// Carousel
		.carousel-inner,
		.carousel-inner > .item > img,
		.carousel-inner > .item > a > img {
			height: auto;
		}

		// Pills/Tabs
		.spTablist.nav-pills > li,
		.spTablist.nav-pills.staples > li,
		.spTablist.nav-tabs > li,
		.spTablist.nav-tabs.coloured > li {
			float: none;
		}

		// Staples: reset Styles
		.nav-pills.staples > li.active::after,
		.nav-pills.staples > li.active::before {
			content: unset;
			border-bottom: none;
		}

		& when (@corners = rounded) {
			.nav-tabs > li > a,
			.nav-pills.staples > li > a,
			.nav-pills > li > a {
				border-radius: 4px;
			}
		}

		.nav-pills.staples > li.active > a,
		.nav-pills.staples > li.active > a:focus,
		.nav-pills.staples > li.active > a:hover {
			top: 0;
		}

		ul.nav-pills.staples {
			margin-left: 0;
		}

		.tab-content.pills.staples {
			margin-top: 0;
		}

		.tab-content.pills.staples .tab-pane {
			padding-top: 17px;
		}

		// Coloured Tabs: reset Styles
		.nav-tabs.coloured > li.active > a,
		.nav-tabs.coloured > li.active > a:hover,
		.nav-tabs.coloured > li.active > a:focus {
			.borders(light);
		}

		// Standard Tabs: reset Styles
		.nav-tabs > li.active > a,
		.nav-tabs > li.active > a:hover,
		.nav-tabs > li.active > a:focus {
			border: 1px solid #ddd;
		}

		// Pills: reset Styles
		.nav-pills > li + li {
			margin-left: 0;
		}

		.form-horizontal .control-label {
			float: none;
			width: 100%;
			text-align: left;
		}
	}

	// form switch to label above input
	@media (max-width: 599px) {
		.spEntryContainer > .row-fluid > [class*='span'],
		.spCategoryContainer > .row-fluid > [class*='span'] {
			width: 100%;
			float: none;
			margin-left: 0;
		}

		.spEditImagePreview {
			float: none;
		}

		.spUpload input {
			width: 100%;
		}

		.spUpload button.btn.select {
			width: calc(100% - 44px);
		}

		.controls {
			margin-left: 0;
		}

		.spEntryEdit .message-lightbulb {
			left: 49%;
		}

		.input-medium,
		.sp-search-phrases .btn-group,
		.spUpload .btn-group {
			width: 100%;
		}
	}

	// Landscape phones and down
	@media (max-width: 480px) {
		.modal .form-group,
		.modal .control-group {
			margin-bottom: 6px;
		}

		.modal-body {
			max-height: 300px;
		}

		.spPrint .spClassViewImage img,
		.spDetailEntry .spClassViewImage img,
		div.spClassViewImage img,
		.spEntryContainer .spClassViewImage img {
			width: calc(100% - 8px);
			margin: 0 0 10px 0;
		}

		.spNoImage {
			display: none;
		}

		.SigsiuTree .buttons {
			text-align: center;
		}

		.spDetailEntry .spClassViewImage img,
		.spClassViewImage img {
			float: none !important;
		}

		.input-large,
		.input-medium,
		.sp-search-controls .btn {
			width: 100%;
		}

		.spSelectRangeFrom .input-group,
		.spSelectRangeTo .input-group {
			margin: 0 10px 10px 0;
			width: 100%;
		}

		.sp-search-controls .btn {
			margin-bottom: 6px;
		}

		.sp-search-phrases .btn {
			width: calc(100% / 3);
			font-size: calc(@fontsize - 1px);
		}

		input[name="sp_search_for"] {
			margin-bottom: 10px;
		}

		.spSearchBottom button {
			width: 100%;
		}

		.tab-pane {
			min-height: inherit;
		}

		// Link Bar
		// -----------------------------------------------
		.alert-navigationlinks {
			height: auto;
			margin-bottom: 0;
			margin-top: 0;
		}

		ul.spNavigationLinks {
			border-bottom: none;
			text-align: center;
			margin: 0;

			li {
				display: block;
				font-size: calc(@fontsize + 1px);
				font-weight: 500;
				line-height: 24px;
			}
		}

		// Button Bar
		// -----------------------------------------------
		.topmenu.buttonbar {
			margin-bottom: 0;
			.menu,
			.add,
			.search {
				float: none;
				width: 100%;
				padding-bottom: 4px;
				margin-left: 0;

				a {
					width: 100%;
				}
			}
		}

		.lead {
			text-align: center;
		}
	}

}