@charset "UTF-8";
/**
 * Kunena Latest Module
 * @package Kunena.mod_kunenalatest
 *
 * @copyright (C) 2008 - 2017 Kunena Team. All rights reserved.
 * @license http://www.gnu.org/copyleft/gpl.html GNU/GPL
 * @link http://www.kunena.org
 **/

.klatest li {
	background: none !important;
}
.klatest-items {
	margin: 0;
	padding: 0;
}
.klatest-items li.klatest-item {
	list-style: none !important;
	margin: 2px 0;
	padding: 0 0 1px;
	clear: both;
}
.klatest-items ul.klatest-itemdetails {
	margin: 0;
	padding: 0;
}

.klatest-items .knewchar {
	color: #009900;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 3px;
	font-size: .75em;
	white-space: nowrap;
}
.klatest-itemdetails li {
	margin-bottom: 0 !important;
	display: block;
}
.klatest-subject a {
	font-weight: bold;
	font-size: 12px;
}
.klatest-avatar {
	float: left;
	display: block;
	margin-right: 5px;
}
.klatest-avatar img {
	margin: 2px 2px 2px 0;
	border: 1px solid #CCCCCC;
	padding: 1px;
}
.klatest-topicicon {
	float: left;
	display: block;
	margin-right: 5px;
}
.klatest-topicicon img {
	margin: 2px 2px 2px 0;
	padding: 1px;
	width: 32px;
	height: 32px;
}
.klatest-posttime,
.klatest-cat,
.klatest-author {
	font-size: 10px;

}
p.klatest-more {
	margin: 0;
	padding: 0;
	clear: both;
}
.klatest-itemdetails li.klatest-author {
	display: inline;
}
.klatest-itemdetails li.klatest-posttime {
	display: block;
}

.klatest-preview-content li {
	margin-bottom: 0 !important;
	display: block;
}

.kwho-guest {
	color: #666666;
}

.kwho-user {
	color: #5388B4;
}

.kwho-moderator {
	color: #0000FF;
}

.kwho-globalmoderator {
	color: #800000;
}

.kwho-admin {
	color: #FF0000;
}

.kwho-blocked,
.kwho-banned {
	color: #A39D49;
}
.klatest-cat {
	   margin-left: 40% !important;
    margin-top: -24px !important;
}