/**
 * @version $Id: icons.css 2012-04-05 14:30:25 svn $
 * @author Simon Poghosyan
 * @package Joomla
 * @subpackage creative_polling
 * @license GNU/GPL
**/


.icon{
box-shadow: 0 0 2px 0px rgba(44, 44, 44, 0.84),inset 0 0 22px -1px rgba(1, 23, 44, 0.29);
margin: 12px;
display: block;
float: left;
width: 100px;
height: 100px;
overflow: hidden;
background-color: #fff;
border-radius: 6px;
}
.icon:hover{
	box-shadow: 0 0 2px 0px rgba(44, 44, 44, 0.38),0 0 50px 2px rgba(211, 162, 7, 0.27),inset 0 0 32px 1px rgba(0, 0, 0, 0.18);
	border-radius: 10px;
}
.icon a{
	font-size: 12px;
	font-weight: bold;
	height: 97px;
	width: 108px;
	background-color: #fff;
}
.icon img {
	margin-bottom: 4px;
	border-radius: 3px;
}
label {
	text-align: left;
}
.pagination {
	height: 10px !important;
}
.filter-search input {
	width: 140px;    
}

.twoglux_ext_bottom_icon {
	width: 32px;
	height: 33px;
	display: block;
	float: left;
	margin: 0 6px 0 6px;
	text-decoration: none !important;
	outline: none !important;
}
#twoglux_ext_rate {
	background:transparent url("../images/star.png") left 1px no-repeat;
}
#twoglux_ext_rate:HOVER {
	background-position: left top;
}

#twoglux_ext_buy {
	background:transparent url("../images/shopping_cart_32.png") left 1px no-repeat;
}
#twoglux_ext_buy:HOVER {
	background-position: left top;
}

#twoglux_ext_support {
	background:transparent url("../images/support.png") left 1px no-repeat;
}
#twoglux_ext_support:HOVER {
	background-position: left -32px;
}

#twoglux_ext_homepage {
	background:transparent url("../images/project_32.png") left 1px no-repeat;
}
#twoglux_ext_homepage:HOVER {
	background-position: left top;
}

#twoglux_ext_td {
	display: block;
	box-shadow: inset 0 0 12px 0 rgba(201, 201, 201, 0.5);border: 1px solid #D6D6D6;border-radius: 6px;height: 48px;position: relative;
}
#twoglux_ext_td:hover {
	box-shadow: inset 0 0 16px 0 rgba(201, 201, 201, 0.79);
}
#twoglux_bottom_link {
	padding-top: 14px;
}

