@charset "UTF-8";
/**
 * Kunena Search Module
 * @package Kunena.mod_kunenasearch
 *
 * @copyright (C) 2008 - 2017 Kunena Team. All rights reserved.
 * @license http://www.gnu.org/copyleft/gpl.html GNU/GPL
 * @link http://www.kunena.org
 **/

form#ksearch-form { white-space: nowrap; }

fieldset.ksearch-fieldset {
	border: 0 none !important;
	margin: 0 !important;
	padding: 0 !important;
	background-color: transparent !important;
	padding-bottom: 10px !important;
}

legend.ksearch-legend,
fieldset.ksearch-fieldset .ksearch-label {
	display: none;
	text-indent: -9999em;
	margin: 0 !important;
	padding: 0 !important;

}
input,
textarea, .uneditable-input {
	width: auto;
}
