a {
  color: #353a4a;
}
a:hover {
  color: #20232c;
}
.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a {
  color: #353a4a;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:not(.sp-group-title):hover {
  background: #353a4a;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a:not(.sp-group-title) {
  background-color: #353a4a;
  color: #fff;
}
#offcanvas-toggler >i {
  color: #363636;
}
#offcanvas-toggler >i:hover {
  color: #353a4a;
}
.btn-primary,
.sppb-btn-primary {
  background-color: #353a4a;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.sppb-btn-primary:hover,
.sppb-btn-primary:focus,
.sppb-btn-primary:active {
  background-color: #20232c;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #363636;
}
.sp-module ul >li >a:hover {
  color: #353a4a;
}
.sp-module .latestnews >div >a:hover {
  color: #353a4a;
}
.sp-module .tagscloud .tag-name:hover {
  background: #353a4a;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: #353a4a;
}
.search .btn-toolbar button {
  background: #353a4a;
}
.sppb-addon-tab .sppb-nav-tabs li.active > a {
  background-color: #353a4a;
}
.post-format {
  background: #353a4a;
}
.voting-symbol span.star.active:before {
  color: #353a4a;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #20232c;
}
.entry-link,
.entry-quote {
  background: #353a4a;
}
blockquote {
  border-color: #353a4a;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #353a4a;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #353a4a;
}
.pagination>.active>a,
.pagination>.active>span {
  color: #353a4a;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  color: #353a4a;
}
.layout-default .sppb-addon-article .sppb-meta-category a:hover,
.layout-default .sppb-addon-article .sppb-article-title a:hover,
.sp-tab-modules .items_mask .tab-padding .news365-news-title,
.sppb-addon-article.item .sppb-article-details .article-title a,
.catItemTitle a,
div.k2ItemsBlock ul li a.moduleItemTitle,
.sppb-addon-articles-headline.sppb-addon-articles-slider .sppb-addon-article.item .sppb-article-details .article-title a {
  color: #363636;
}
.section-bg-color.sppb-section,
#sp-top-bar,
.sp-vertical-tabs .sp-tab-btns > li.active > a,
.sp-vertical-tabs .sp-tab-btns > li:hover > a,
.sppb-nav-pills > li.active > a,
.sppb-nav-pills > li.active > a:hover,
.sppb-nav-pills > li.active > a:focus,
.layout-default .sppb-addon-article .sppb-post-share-social .share-button {
  background-color: #353a4a;
}
.sppb-addon-article .sppb-img-wrapper:before,
.sp-tab-modules .items_mask .tab-padding .article-list-img a:before,
.entry-image a:before,
div.catItemImageBlock .catItemImage a:before,
.k2ItemsBlock .moduleItemImage:before,
.sp-module .latestnews > div .article-list-img a:before,
.sp-vertical-tabs .sp-tab-pane .sp-article-inner:hover .sp-img-wrapper a:before {
  background-color: rgba(53,58,74,0.8);
}
.video-articles .sppb-addon-article.leading-item .sppb-img-wrapper:after,
.j2store-add-to-cart .j2store-cart-button,
.j2store-view-back-button a,
.k2AccountPage .submit-btn button {
  background: #353a4a;
}
.itemView .itemHeader h2.itemTitle span {
  background: rgba(53,58,74,0.85);
}
.j2store-productlist-img-wrap .btn.btn-primary.j2store_add_to_cart_button:hover,
.j2store-productlist-img-wrap .j2store-cart-button:hover,
.j2store-productlist-img-wrap .btn.btn-primary.j2store_add_to_cart_button:active,
.j2store-productlist-img-wrap .j2store-cart-button:active,
.j2store-productlist-img-wrap .btn.btn-primary.j2store_add_to_cart_button:focus,
.j2store-productlist-img-wrap .j2store-cart-button:focus,
.j2store-add-to-cart .j2store-cart-button:hover,
.j2store-add-to-cart .j2store-cart-button:focus,
.j2store-add-to-cart .j2store-cart-button:active,
.j2store-view-back-button a:hover,
.j2store-view-back-button a:focus {
  background-color: #20232c !important;
}
#j2store-checkout-content input[type="button"].btn:focus,
#j2store-checkout-content input[type="button"].btn:active {
  background-color: #15171d;
}
.view-myprofile #j2storeaddressForm input[type="button"] {
  background-color: #353a4a !important;
}
.itemView .itemComments .itemCommentsForm input#submitCommentButton[type="submit"]:hover,
.itemView .itemComments .itemCommentsForm input#submitCommentButton[type="submit"]:focus {
  background-color: #20232c;
}
.sppb-section-title .sppb-title-heading,
.sppb-addon-articles .sppb-addon-title,
.sppb-addon-articles .sppb-addon-section-right > a:hover:before,
.sppb-addon-article .sppb-meta-category a:hover,
.sppb-addon-article .sppb-article-title a:hover,
.sppb-addon-article .sppb-readmore:hover,
.sppb-addon-articles-headline.sppb-addon-articles-slider a.sppbSlideNext:hover,
.sppb-addon-articles-headline.sppb-addon-articles-slider a.sppbSlidePrev:hover,
.recommended-news .sppb-addon-article .sppb-meta-category a:hover,
.recommended-news .sppb-addon-article .sppb-readmore:hover,
.recommended-news .sppb-addon-article .sppb-article-title a:hover,
.sp-tab-modules .tabs_buttons ul.tabs_container li.tab:hover,
.sp-tab-modules .tabs_buttons ul.tabs_container li.tab:focus,
.sp-tab-modules .tabs_buttons ul.tabs_container li.tab.active,
.sp-tab-modules .items_mask .tab-padding .news365-news-title:hover,
.sppb-addon-articles-slider .sppb-addon-title,
.sppb-addon-articles-slider .sppb-addon-article.item .sppb-article-details .sppb-meta-category a:hover,
.sppb-addon-articles-slider .sppb-addon-article.item .sppb-article-details .article-title a:hover,
.sppb-addon-articles-headline.sppb-addon-articles-slider .sppb-addon-article.item .sppb-article-details .sppb-meta-category a:hover,
.sppb-addon-articles-headline.sppb-addon-articles-slider .sppb-addon-article.item .sppb-article-details .article-title a:hover,
.contact-info .sppb-addon-title,
.j2store-upcross-title,
.j2store-content .j2store-title-wrap .product-title a:hover,
.j2store-content .j2store-title-wrap .product-title a:focus,
.j2store-productlist-img-wrap .product-icons .j2store-addtocart-form .cart-action-complete .text-success a,
.price-sku-brand-container .vm-product-availability.out-of-stock span,
.sp-news365-login .modal-content .modal-body .title,
.article-info > dd.category-name a:hover,
.tags a:hover,
.entry-header h2 a:hover,
blockquote,
.view-article .pager li > a:hover,
.view-article .pager li > span:hover,
.view-article .pager li > a:focus,
.view-article .pager li > span:focus,
.catItemHeader .catItemCategory > a:hover,
.catItemTitle a:hover,
div.catItemLinks a:hover,
.view-itemlist .sp-module .sp-module-title,
.k2ItemsBlock div.moduleItemAuthor a:hover,
div.k2TagCloudBlock a:hover,
div.k2TagCloudBlock a:focus,
div.catItemCommentsLink:before,
.itemView .itemHeader div.itemCategory a:hover,
.itemView .itemHeader div.itemCategory a:focus,
.itemView .itemHeader .itemAuthor a:hover,
.itemView .itemHeader .itemAuthor a:focus,
#sp-right .sp-module-title,
#sp-left .sp-module-title,
.blog-sidebar-title .sp-module-title,
.sp-module ul.categories-module > li > a:hover,
.sp-module ul.menu > li > a:hover,
.view-article article.item .pager li>a:hover,
.view-article article.item .pager li>a:focus,
.sppb-addon-article .sppb-post-share-social a:hover,
.recommended-news .sppb-addon-article .sppb-post-share-social a:hover,
.sp-module .tagspopular ul > li > a:focus,
.tags a:focus,
.sp-module .tagspopular ul > li > a:hover,
.tags a:hover,
.joomla-default-login .form-links ul > li > a:hover,
.tab-k2 #sptab165 .tabs_buttons .tabs_mask ul.tabs_container li.tab:hover,
.tab-k2 #sptab165 .tabs_buttons .tabs_mask ul.tabs_container li.tab.active,
.offcanvas-menu .offcanvas-inner .sp-module ul > li ul > li.active > a,
.offcanvas-menu .offcanvas-inner .sp-module ul > li ul > li:hover > a,
.offcanvas-menu .offcanvas-inner .sp-module ul > li ul > li:focus > a {
  color: #353a4a;
}
.tabs .nav.nav-tabs li.active a {
  border-color: #353a4a;
}
