/* @package: SobiPro Component for Joomla! */
/* Styles Correction file for Joomla's Bootstrap 2 templates */

/* Authors: Sigrid Suski & Radek Suski, Sigsiu.NET GmbH */
/* Url: https://www.Sigsiu.NET */

/* @copyright Copyright (C) 2006 - 2016 Sigsiu.NET GmbH (https://www.sigsiu.net). All rights reserved. */
/* @license GNU/GPL Version 3 */
/* This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3 */
/* as published by the Free Software Foundation, and under the additional terms according section 7 of GPL v3. */
/* See http://www.gnu.org/licenses/gpl.html and https://www.sigsiu.net/licenses. */

/* To activate the correction styles, add 'tmpl/jbootstrap' to the main template configuration file */

body {
	-moz-osx-font-smoothing: unset;
}

.SobiPro select,
.SobiPro textarea,
.SobiPro input[type="text"],
.SobiPro input[type="password"],
.SobiPro input[type="datetime"],
.SobiPro input[type="datetime-local"],
.SobiPro input[type="date"],
.SobiPro input[type="month"],
.SobiPro input[type="time"],
.SobiPro input[type="week"],
.SobiPro input[type="number"],
.SobiPro input[type="email"],
.SobiPro input[type="url"],
.SobiPro input[type="search"],
.SobiPro input[type="tel"],
.SobiPro input[type="color"],
.SobiPro .uneditable-input {
	height: 34px;
	padding: 6px 12px;
}
.SobiPro .btn {
	text-shadow: none;
	box-shadow: none;
}
.SobiPro .navbar .nav > li > a {
	text-shadow: none;
}
.SobiPro input[type="checkbox"] {
	vertical-align: top;
}
.SobiPro .modal-body {
	width: inherit;
}
.SobiPro .alert .close {
	position: inherit;
	top: inherit;
	right: inherit;
}
.SobiPro .carousel-control {
	height: inherit;
	margin-top: 0;
	line-height: inherit;
	border: none;
	border-radius: 0;
}
.SobiPro .navbar-collapse.collapse {
	overflow: hidden!important;
}
.SobiPro .btn-group {
	font-size: inherit;
	white-space: inherit;
}


@media (max-width: 768px) {
	.SobiPro .form-horizontal .control-label {
		float: none;
		width: 100%;
		padding-top: 0;
		text-align: left;
	}
	.SobiPro .navbar .nav > li,
	.SobiPro .navbar .nav {
		float: none;
	}
}